name: amplify_datastore
description: The Amplify Flutter DataStore category plugin.
version: 0.0.1
author:
homepage: https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_datastore

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter
  amplify_datastore_plugin_interface:
    path: ../amplify_datastore_plugin_interface
  plugin_platform_interface: ^1.0.1
  date_time_format: ^1.1.0
  uuid: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_datastore
        pluginClass: AmplifyDataStorePlugin
      ios:
        pluginClass: AmplifyDataStorePlugin
