name: amplify_datastore
description: The Amplify Flutter DataStore category plugin, providing a queryable, on-device data store.
version: 2.3.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_datastore
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.3.0
  flutter: ">=3.19.0"

dependencies:
  flutter:
    sdk: flutter
  amplify_datastore_plugin_interface: ">=2.3.0 <2.4.0"
  amplify_core: ">=2.3.0 <2.4.0"
  plugin_platform_interface: ^2.0.0
  meta: ^1.7.0
  collection: ^1.14.13
  async: ^2.10.0

dev_dependencies:
  amplify_test:
    path: ../test/amplify_test
  flutter_test:
    sdk: flutter
  fake_async: ^1.2.0
  pigeon: ^11.0.0

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_datastore
        pluginClass: AmplifyDataStorePlugin
      ios:
        pluginClass: SwiftAmplifyDataStorePlugin
