name: sample_app
description: An example app which uses the Amplify Flutter libraries.
publish_to: none

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  amplify_flutter: ">=1.0.0-next.5+1 <1.0.0-next.6"
  amplify_analytics_pinpoint: ">=1.0.0-next.5+1 <1.0.0-next.6"
  amplify_auth_cognito: ">=1.0.0-next.5+1 <1.0.0-next.6"
  amplify_storage_s3: ">=1.0.0-next.5 <1.0.0-next.6"
  file_picker: ^5.0.0
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - images/image.png
