name: sample_app
description: An example app which uses the Amplify Flutter libraries.
publish_to: none

environment:
  sdk: ">=2.19.0-444 <4.0.0"
  flutter: ">=3.7.0-0"

dependencies:
  amplify_flutter: ^1.0.0-0
  amplify_analytics_pinpoint: ^1.0.0-0
  amplify_auth_cognito: ^1.0.0-0
  amplify_storage_s3: ^1.0.0-0
  file_picker: ^5.0.0
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - images/image.png
