name: amplify_api_ios
description: The method channel implementation for amplify_api on iOS
version: 0.6.3
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=2.10.0"

dependencies:
  amplify_core: 0.6.3
  flutter:
    sdk: flutter

dev_dependencies:
  amplify_lints: ^1.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: AmplifyApi
