name: amplify_api_ios
description: The package containing the method channel implementation for amplify_api on iOS
version: 1.0.0-next.5
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/api/amplify_api_ios
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  amplify_core: ">=1.0.0-next.5 <1.0.0-next.6"
  flutter:
    sdk: flutter

dev_dependencies:
  amplify_lints: ">=2.0.2 <2.1.0"
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: AmplifyApi
