name: amplify_api_ios
description: The package containing the method channel implementation for amplify_api on iOS
version: 1.0.0-next.4
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/api/amplify_api_ios
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.19.0-444 <4.0.0"
  flutter: ">=3.7.0-0"

dependencies:
  amplify_core: ">=1.0.0-next.4 <1.0.0-next.5"
  flutter:
    sdk: flutter

dev_dependencies:
  amplify_lints: 
    path: ../../amplify_lints
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: AmplifyApi
