name: amplify_api_ios
description: The method channel implementation for amplify_api on iOS
version: 0.5.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/api/amplify_api_ios

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  amplify_core: 0.5.0
  flutter:
    sdk: flutter

dev_dependencies:
  amplify_lints: ^2.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: AmplifyApi
