.dart_tool/
.DS_Store
build/
**/ios/.generated/
**/ios/.symlinks/
**/android/.settings/
pubspec.lock
Podfile.lock
*.iml
*.jar
Podfile.lock
**/unpub-packages/
**/coverage/
**/test-results/
.test_coverage.dart
.last_build_id
temp/
.fvm/
.packages
pubspec_overrides.yaml

# IDEs
.idea/
.vscode/
.atom/
.idea/


# amplify resources from example apps
**/example/amplify/
# Allow `amplify init` with preconfigured backend
# to provision lambdas not supported by headless CLI.
!packages/api/amplify_api/example/amplify/
packages/api/amplify_api/example/amplify/team-provider-info.json

dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig

# Smithy
.smithy.lsp.log
