[submodule "packages/aws_signature_v4/external/aws-c-auth"]
	path = packages/aws_signature_v4/external/aws-c-auth
	url = https://github.com/awslabs/aws-c-auth.git
[submodule "packages/secure_storage/amplify_secure_storage_dart/external/glib"]
	path = packages/secure_storage/amplify_secure_storage_dart/external/glib
	url = https://github.com/GNOME/glib.git
[submodule "packages/secure_storage/amplify_secure_storage_dart/external/libsecret"]
	path = packages/secure_storage/amplify_secure_storage_dart/external/libsecret
	url = https://gitlab.gnome.org/GNOME/libsecret.git
[submodule "packages/smithy/goldens/smithy"]
	path = packages/smithy/goldens/smithy
	url = https://github.com/awslabs/smithy.git
