.dart_tool/
.DS_Store
build/
**/ios/.generated/
**/ios/.symlinks/
**/android/.settings/
pubspec.lock
Podfile.lock
*.iml
*.jar
Podfile.lock
**/unpub-packages/
**/coverage/
**/test-results/
.test_coverage.dart
.last_build_id
.fvm/
.packages

# IDEs
.idea/
.vscode/
.atom/
.idea/


# amplify resources from example apps
**/example/amplify/

dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
