## GITATTRIBUTES
#
# Details per file setting:
#   text    These files should be normalized (i.e. convert CRLF to LF).
#   binary  These files are binary and should be left untouched.
#
# Reference: https://git-scm.com/docs/gitattributes
# GitHub Linguist: https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
######################################################################

# Auto detect text files and perform LF normalization
*                                   text=auto

# Always perform LF normalization
*.dart                              text
*.gradle                            text
*.html                              text
*.java                              text
*.js                                text
*.json                              text linguist-language=JSON-with-Comments
*.md                                text
*.sh                                text
*.ts                                text
*.txt                               text
*.xml                               text
*.yaml                              text

# Make sure that these Windows files always have CRLF line endings at checkout
*.bat                               text eol=crlf
*.cmd                               text eol=crlf
*.ps1                               text eol=crlf
*.rc                                text eol=crlf
*.sln                               text eol=crlf
*.props                             text eol=crlf
*.vcxproj                           text eol=crlf
*.vcxproj.filters                   text eol=crlf
# Including templates
*.sln.tmpl                          text eol=crlf
*.props.tmpl                        text eol=crlf
*.vcxproj.tmpl                      text eol=crlf

# Never perform LF normalization
*.ico                               binary
*.jar                               binary
*.png                               binary
*.zip                               binary
*.ttf                               binary
*.otf                               binary

## Platform files generated by Flutter during `flutter create`
**/example/android/**                       linguist-generated
**/example/ios/**                           linguist-generated
**/example/linux/**                         linguist-generated
**/example/macos/**                         linguist-generated
**/example/windows/**                       linguist-generated
## Exclude flutter generated web files without excluding web files from
## non-flutter dart example apps
**/example/web/icons/**                     linguist-generated
**/example/web/*.json                       linguist-generated
**/example/web/*.png                        linguist-generated

## Generated by Pigeon
**/*Pigeon.java                             linguist-generated
**/*Messages.java                           linguist-generated
**/pigeons/*.kt                             linguist-generated
**/Pigeons/*.swift                          linguist-generated
**/pigeons/*.swift                          linguist-generated
**/pigeons/*.h                              linguist-generated
**/pigeons/*.m                              linguist-generated

## Generated SDK files
packages/**/lib/src/sdk/src/**              linguist-generated

## Smithy files
packages/smithy/goldens/lib/**              linguist-generated
packages/smithy/goldens/lib2/**             linguist-generated
packages/smithy/goldens/models/**           linguist-vendored
packages/smithy/goldens/models/custom/**    -linguist-vendored

## Genrated dart files
*.g.dart                                    linguist-generated

## Lock files
package-lock.json                           linguist-generated
pnpm-lock.yaml                              linguist-generated
pubspec.lock                                linguist-generated
yarn.lock                                   linguist-generated
