name: smithy
description: Smithy client runtime for Dart
version: 0.1.0
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/smithy/smithy

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  aws_common: ^0.2.0
  built_collection: ^5.0.0
  built_value: ^8.0.0
  collection: ^1.15.0
  convert: ^3.0.0
  crypto: ^3.0.0
  fixnum: ^1.0.0
  http: ^0.13.0
  http_parser: ^4.0.0
  intl: ^0.17.0
  json_annotation: ^4.4.0
  meta: ^1.7.0
  path: ^1.8.0
  retry: ^3.1.0
  shelf: ^1.1.0
  typed_data: ^1.3.0
  xml: 6.1.0

dev_dependencies:
  amplify_lints:
    path: ../../amplify_lints
  build_runner: ^2.0.0
  built_value_generator: 8.3.3
  json_serializable: ^6.1.0
  test: ^1.16.0
