name: smithy
description: Smithy client runtime for Dart with common utilities for I/O and serialization.
version: 0.5.0+2
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/smithy/smithy
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.0.0

dependencies:
  async: ^2.10.0
  aws_common: ">=0.5.0+2 <0.6.0"
  built_collection: ^5.0.0
  built_value: ">=8.6.0 <8.7.0"
  collection: ^1.15.0
  convert: ^3.0.0
  crypto: ^3.0.0
  fixnum: ^1.0.0
  http_parser: ^4.0.0
  intl: ">=0.18.0 <1.0.0"
  json_annotation: ">=4.8.1 <4.9.0"
  meta: ^1.7.0
  path: ^1.8.0
  retry: ^3.1.0
  shelf: ^1.1.0
  typed_data: ^1.3.0
  xml: 6.3.0

dev_dependencies:
  amplify_lints: ">=3.0.0 <3.1.0"
  build_runner: ^2.4.0
  built_value_generator: 8.6.1
  json_serializable: 6.7.0
  stack_trace: ^1.10.0
  test: ^1.22.1
