name: amplify_db_common_example
description: Demonstrates how to use the amplify_db_common plugin.
publish_to: "none"

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  amplify_db_common: ">=0.1.2+5 <0.2.0"
  drift: ">=2.4.0 <2.6.0"
  flutter:
    sdk: flutter

# Needed to support both Flutter 3.3 + 3.7 in CI.
# TODO(dnys1): Remove when Flutter 3.3 is no longer supported
dependency_overrides:
  async: ^2.10.0

dev_dependencies:
  amplify_lints: ^2.0.0
  drift_dev: ^2.2.0+1
  build_runner: ^2.2.1
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
