name: amplify_db_common_example
description: Demonstrates how to use the amplify_db_common plugin.
publish_to: "none"

environment:
  flutter: ">=3.19.0"
  sdk: ^3.3.0

dependencies:
  amplify_db_common: ">=0.4.5 <0.5.0"
  drift: ">=2.18.0 <2.19.0"
  flutter:
    sdk: flutter
  # Included to validate windows app will build when there is a downstream
  # dependency on sqlite3. Also requires the USE_CUSTOM_SQLITE3=ON flag set 
  # in the consuming App's CMakeLists.txt
  # https://github.com/aws-amplify/amplify-flutter/issues/5477
  # powersync: 1.4.2

dev_dependencies:
  amplify_lints: ^2.0.0
  drift_dev: ">=2.18.0 <2.19.0"
  build_runner: ^2.4.9
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
