name: amplify_authenticator
description: A new Flutter package project.
version: 0.0.1
homepage:

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  amplify_auth_cognito: ^0.2.0
  amplify_core: ^0.2.0
  amplify_flutter: ^0.2.0
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.17.0

dev_dependencies:
  amplify_lints: ^1.0.0
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  fonts:
    - family: SocialIcons
      fonts:
        - asset: assets/SocialIcons.ttf
    - family: Inter
      fonts:
        - asset: assets/Inter/Inter-Black.ttf
          weight: 900
        - asset: assets/Inter/Inter-ExtraBold.ttf
          weight: 800
        - asset: assets/Inter/Inter-Bold.ttf
          weight: 700
        - asset: assets/Inter/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/Inter/Inter-Medium.ttf
          weight: 500
        - asset: assets/Inter/Inter-Regular.ttf
          weight: 400
        - asset: assets/Inter/Inter-Light.ttf
          weight: 300
        - asset: assets/Inter/Inter-ExtraLight.ttf
          weight: 200
        - asset: assets/Inter/Inter-Thin.ttf
          weight: 100

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
