name: amplify_test
description: Test utilities for Amplify packages
version: 0.0.1
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues
publish_to: none

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=2.10.0"

dependencies:
  amplify_api: 0.6.4
  amplify_auth_cognito: 0.6.4
  amplify_core: 0.6.4
  amplify_flutter: 0.6.4
  aws_common: ^0.1.1
  collection: ^1.15.0
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  graphql: 5.1.1
  stream_transform: ^2.0.0

dev_dependencies:
  amplify_lints: ^1.0.0
  integration_test:
    sdk: flutter
