name: amplify_test
description: Test utilities for Amplify packages
version: 0.0.1
homepage: https://github.com/aws-amplify/amplify-flutter
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  amplify_api: ^0.4.5
  amplify_core:
    path: ../amplify_core
  amplify_auth_cognito: ^0.4.5
  amplify_flutter: ^0.4.5
  collection: ^1.15.0
  flutter:
    sdk: flutter
  stream_transform: ^2.0.0

dev_dependencies:
  amplify_lints: ^1.0.0
  integration_test:
    sdk: flutter
