name: amplify_test
description: Test utilities for Amplify packages
version: 0.0.1
homepage: https://github.com/aws-amplify/amplify-flutter
publish_to: none

environment:
  sdk: ">=2.19.0-444 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  amplify_api:
  amplify_auth_cognito:
  amplify_core:
  amplify_flutter:
  aws_common:
  collection: ^1.15.0
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  stream_transform: ^2.0.0

dev_dependencies:
  amplify_lints: ^2.0.0
  integration_test:
    sdk: flutter
