name: amplify_test
description: Test utilities for Amplify packages
version: 0.0.1
homepage: https://github.com/aws-amplify/amplify-flutter
publish_to: none

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  amplify_auth_cognito_dart: ">=0.6.0 <0.7.0"
  amplify_core: ">=1.0.0-next.5 <1.0.0-next.6"
  aws_common: ">=0.4.0 <0.5.0"
  collection: ^1.15.0
  meta: ^1.8.0
  stream_transform: ^2.0.0

dev_dependencies:
  amplify_lints: ^2.0.0
