name: amplify_db_common
description: Common utilities for working with databases such as SQLite.
version: 0.1.2+3
homepage: https://github.com/aws-amplify/amplify-flutter/tree/next
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/common/amplify_db_common
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  amplify_db_common_dart: ">=0.2.0+3 <0.3.0"
  drift: ">=2.4.0 <2.6.0"
  flutter:
    sdk: flutter
  path: ^1.8.2
  path_provider: ^2.0.11

dev_dependencies:
  amplify_lints: ">=2.0.2 <2.1.0"
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_db_common
        pluginClass: AmplifyDbCommonPlugin
      linux:
        pluginClass: AmplifyDbCommonPlugin
      windows:
        pluginClass: AmplifyDbCommonPlugin
