name: amplify_db_common
description: Common utilities for working with databases such as sqlite.
version: 0.1.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/next
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/common/amplify_db_common
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  amplify_core: ">=1.0.0-next.0+1 <1.0.0-next.1"
  async: ^2.8.0
  drift: ^2.2.0
  meta: ^1.7.0
  path: ^1.8.0
  sqlite3: ^1.9.0

dev_dependencies:
  amplify_lints:
    path: ../../amplify_lints
  aws_common:
    path: ../../aws_common
  build_test: ^2.0.0
  build_runner: ^2.2.1
  build_web_compilers: ^3.2.3
  drift_dev: ^2.2.0+1
  example_common:
    path: ../../example_common
  test: ^1.16.0
