name: amplify_core
description: The base package shared across Amplify Flutter library.
version: 0.0.2-dev.2
homepage: https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_core

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  plugin_platform_interface: ^1.0.1
  meta: ^1.1.8
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_core
        pluginClass: AmplifyCorePlugin
      ios:
        pluginClass: AmplifyCorePlugin
