name: amplify_core
description: The base package containing common types and utilities that are shared across the Amplify Flutter packages.
version: 0.5.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  collection: ^1.15.0
  date_time_format: ^2.0.1
  flutter:
    sdk: flutter
  meta: ^1.3.0
  plugin_platform_interface: ^2.0.0
  uuid: ^3.0.1

dev_dependencies:
  amplify_lints: ^1.0.0
  amplify_test:
    path: ../amplify_test
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_core
        pluginClass: AmplifyCorePlugin
      ios:
        pluginClass: AmplifyCorePlugin
