name: amplify_core
description: The base package containing common types and utilities that are shared across the Amplify Flutter packages.
version: 0.6.4-rc.1
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=2.10.0"

dependencies:
  aws_common: ^0.1.0
  collection: ^1.15.0
  flutter:
    sdk: flutter
  intl: '>=0.17.0 <1.0.0'
  json_annotation: ^4.3.0
  meta: ^1.7.0
  plugin_platform_interface: ^2.0.0
  uuid: ^3.0.1

dev_dependencies:
  amplify_lints: ^1.0.0
  amplify_test:
    path: ../amplify_test
  flutter_test:
    sdk: flutter
  path: any
  test: ^1.17.0

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_core
        pluginClass: AmplifyCorePlugin
      ios:
        pluginClass: AmplifyCorePlugin
