name: amplify_core
description: The base package containing common types and utilities that are shared across the Amplify Flutter packages.
version: 0.4.5
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_core

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  aws_common: ^0.1.0
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.0
  collection: ^1.15.0
  date_time_format: ^2.0.1
  json_annotation: ^4.3.0
  meta: ^1.3.0
  uuid: ^3.0.1

dev_dependencies:
  amplify_lints: ^1.0.0
  amplify_test:
    path: ../amplify_test
  flutter_test:
    sdk: flutter
  path: any
  test: ^1.17.0

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_core
        pluginClass: AmplifyCorePlugin
      ios:
        pluginClass: AmplifyCorePlugin
