name: amplify_core
description: The base package containing common types and utilities that are shared across the Amplify Flutter packages.
version: 0.2.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_core

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  plugin_platform_interface: ^2.0.0
  meta: ^1.3.0
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_core
        pluginClass: AmplifyCorePlugin
      ios:
        pluginClass: AmplifyCorePlugin
