name: amplify_core
description: The base package containing common types and utilities that are shared across the Amplify Flutter packages.
version: 1.0.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_core
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  async: ^2.10.0
  aws_common: ">=0.4.2+4 <0.5.0"
  aws_signature_v4: ">=0.3.1+6 <0.4.0"
  collection: ^1.15.0
  intl: ">=0.17.0 <1.0.0"
  json_annotation: ">=4.8.0 <4.9.0"
  logging: ^1.0.0
  meta: ^1.7.0
  retry: ^3.1.0
  stack_trace: ^1.10.0
  uuid: ">=3.0.6 <=3.0.7"

dev_dependencies:
  amplify_lints: ">=2.0.3 <2.1.0"
  build_runner: ^2.0.0
  build_test: ^2.1.5
  build_version: ^2.1.1
  build_web_compilers: ^3.2.4
  code_excerpt_updater:
    git:
      url: https://github.com/dart-lang/site-shared
      # TODO(dnys1): Remove when Dart is bumped to >=2.19
      ref: 0fe3c62c70c0e8c4f1a051a5dec3bbc4eb6c8e57
      path: packages/code_excerpt_updater
  json_serializable: 6.6.1
  path: any
  test: ^1.17.0
