name: amplify_core
description: The base package containing common types and utilities that are shared across the Amplify Flutter packages.
version: 1.0.0-next.3
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/amplify_core
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  async: ^2.8.0
  aws_common: ">=0.3.5+1 <0.4.0"
  aws_signature_v4: ">=0.3.1+1 <0.4.0"
  collection: ^1.15.0
  intl: ^0.17.0
  json_annotation: ^4.7.0
  logging: ^1.0.0
  meta: ^1.7.0
  retry: ^3.1.0
  uuid: ">=3.0.6 <=3.0.7"

dev_dependencies:
  amplify_lints:
    path: ../amplify_lints
  build_runner: ^2.0.0
  build_test: ^2.1.5
  build_web_compilers: ^3.2.4
  json_serializable: 6.5.4
  path: any
  test: ^1.17.0
