name: amplify_auth_cognito_dart
description: A Dart-only implementation of the Amplify Auth plugin for Cognito.
version: 0.10.1
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/auth/amplify_auth_cognito_dart
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.0.0

dependencies:
  amplify_analytics_pinpoint_dart: ">=0.3.0+1 <0.4.0"
  amplify_core: ">=1.2.0 <1.3.0"
  amplify_secure_storage_dart: ">=0.4.0+2 <0.5.0"
  async: ^2.10.0
  aws_common: ">=0.5.0+2 <0.6.0"
  aws_signature_v4: ">=0.4.0+2 <0.5.0"
  built_collection: ^5.0.0
  built_value: ">=8.6.0 <8.7.0"
  clock: ^1.1.1
  collection: ^1.15.0
  convert: ^3.0.1
  crypto: ^3.0.1
  ffi: ^2.0.2
  fixnum: ^1.0.0
  http: ">=0.13.0 <2.0.0"
  intl: ">=0.18.0 <1.0.0"
  js: ^0.6.4
  json_annotation: ">=4.8.1 <4.9.0"
  meta: ^1.7.0
  oauth2: ^2.0.2
  path: ^1.8.0
  smithy: ">=0.5.0+2 <0.6.0"
  smithy_aws: ">=0.5.0+2 <0.6.0"
  stream_transform: ^2.0.0
  uuid: ">=3.0.6 <=3.0.7"
  win32: ">=4.1.2 <6.0.0"
  win32_registry: ^1.1.0
  worker_bee: ">=0.2.0+1 <0.3.0"

dev_dependencies:
  amplify_lints: ">=3.0.0 <3.1.0"
  build: ^2.2.0
  build_runner: ^2.4.0
  build_verify: ^3.0.0
  build_web_compilers: ^4.0.0
  built_value_generator: 8.6.1
  ffigen: ^8.0.1
  json_serializable: 6.7.0
  mockito: ^5.0.0
  smithy_codegen:
    path: ../../smithy/smithy_codegen
  test: ^1.22.1
  worker_bee_builder: ">=0.2.0+2 <0.3.0"

flutter:
  assets:
    - lib/src/workers/workers.min.js
    - lib/src/workers/workers.min.js.map
