name: amplify_auth_cognito_dart
description: A Dart-only implementation of the Amplify Auth plugin for Cognito.
version: 0.2.3
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/auth/amplify_auth_cognito_dart
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  amplify_core: ">=1.0.0-next.1 <1.0.0-next.2"
  amplify_secure_storage_dart: ">=0.1.3 <0.2.0"
  async: ^2.8.0
  aws_common: ">=0.3.1 <0.4.0"
  aws_signature_v4: ">=0.3.0 <0.4.0"
  built_collection: ^5.0.0
  built_value: ">=8.4.0 <8.5.0"
  collection: ^1.15.0
  convert: ^3.0.1
  crypto: ^3.0.1
  fixnum: ^1.0.0
  http: ^0.13.4
  intl: ^0.17.0
  js: ^0.6.4
  json_annotation: ^4.7.0
  meta: ^1.7.0
  oauth2: ^2.0.0
  path: ^1.8.0
  smithy: ">=0.3.0 <0.4.0"
  smithy_aws: ">=0.3.0 <0.4.0"
  stream_transform: ^2.0.0
  uuid: ">=3.0.6 <=3.0.7"
  worker_bee: ">=0.1.2 <0.2.0"

dev_dependencies:
  amplify_lints:
    path: ../../amplify_lints
  build: ^2.2.0
  build_runner: ^2.0.0
  build_verify: ^3.0.0
  build_web_compilers: ^3.2.2
  built_value_generator: 8.4.2
  json_serializable: 6.5.4
  mockito: ^5.0.0
  test: ^1.16.0
  worker_bee_builder:
    path: ../../worker_bee/worker_bee_builder

flutter:
  assets:
  - lib/src/workers/workers.min.js
  - lib/src/workers/workers.min.js.map
