name: smithy_codegen
description: Smithy model generator from AST representation
version: 0.3.1
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/smithy/smithy_codegen
publish_to: none

environment:
  sdk: ^3.0.0

dependencies:
  args: ^2.3.0
  aws_common: ">=0.5.0 <0.6.0"
  aws_signature_v4: ">=0.4.0 <0.5.0"
  build_cli_annotations: ^2.0.0
  built_collection: ^5.1.1
  built_value: ">=8.6.0 <8.7.0"
  code_builder: 4.5.0
  collection: ^1.15.0
  crclib: ^3.0.0
  dart_style: 2.3.1
  fixnum: ^1.0.0
  grpc: ^3.0.2
  html2md: ^1.2.5
  jmespath: ^2.0.0
  json_annotation: ">=4.8.1 <4.9.0"
  meta: ^1.7.0
  path: ^1.8.0
  protobuf: ^2.0.1
  pub_semver: ^2.1.0
  pubspec_parse: ^1.2.0
  shelf: ^1.1.0
  shelf_router: ^1.1.0
  smithy: ">=0.5.0 <0.6.0"
  smithy_aws: ">=0.5.0 <0.6.0"
  tuple: ^2.0.0
  xml: 6.3.0
  yaml_edit: ^2.0.1

dev_dependencies:
  amplify_lints: ">=3.0.0 <3.1.0"
  build_cli: ^2.1.6
  build_runner: ^2.4.0
  build_verify: ^3.0.0
  build_version: ^2.1.0
  built_value_generator: 8.6.1
  json_serializable: 6.7.0
  smithy_test:
    path: ../smithy_test
  test: ^1.22.1

executables:
  smithy_codegen:
