name: smithy_codegen
description: Smithy model generator from AST representation
version: 0.3.2
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/smithy/smithy_codegen
publish_to: none

environment:
  sdk: ^3.9.0

dependencies:
  args: ^2.5.0
  aws_common: any
  aws_signature_v4: any
  build_cli_annotations: ^2.0.0
  built_collection: ^5.1.1
  built_value: ^8.12.1
  code_builder: ^4.10.1
  collection: ^1.18.0
  crclib: ^3.0.0
  dart_style: ^3.1.3
  fixnum: ^1.0.0
  grpc: ^5.0.0
  html2md: ^1.2.5
  jmespath: ^2.0.0
  json_annotation: ^4.9.0
  meta: ^1.16.0
  path: ^1.8.0
  protobuf: ^5.1.0
  pub_semver: ^2.2.0
  pubspec_parse: ^1.2.2
  shelf: ^1.1.0
  shelf_router: ^1.1.3
  smithy: ">=0.7.1 <0.8.0"
  smithy_aws: ">=0.7.0 <0.8.0"
  tuple: ^2.0.0
  xml: ^6.5.0
  yaml_edit: ^2.1.0

dev_dependencies:
  amplify_lints: ">=3.1.0 <3.2.0"
  build_cli: ^2.2.8
  build_runner: ^2.10.4
  build_verify: ^3.0.0
  build_version: ^2.1.3
  built_value_generator: ^8.12.1
  json_serializable: ^6.11.2
  smithy_test:
    path: ../smithy_test
  test: ^1.28.0

executables:
  smithy_codegen:
