name: smithy_codegen
description: Smithy model generator from AST representation
version: 0.1.0
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/smithy/smithy_codegen
publish_to: none

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  args: ^2.3.0
  aws_common: ^0.2.0
  aws_signature_v4: ^0.2.0
  build_cli_annotations: ^2.0.0
  built_collection: ^5.1.1
  built_value: ^8.1.3
  code_builder: ^4.1.0
  collection: ^1.15.0
  dart_style: ^2.2.1
  fixnum: ^1.0.0
  grpc: ^3.0.2
  html2md: ^1.2.5
  http: ^0.13.4
  jmespath: ^2.0.0
  json_annotation: ^4.4.0
  meta: ^1.7.0
  path: ^1.8.0
  protobuf: ^2.0.1
  pub_semver: ^2.1.0
  pubspec_parse: ^1.2.0
  shelf: ^1.1.0
  shelf_router: ^1.1.0
  smithy: ^0.1.0
  smithy_aws: ^0.1.0
  tuple: ^2.0.0
  uuid: 3.0.6
  xml: 6.1.0
  yaml_edit: ^2.0.1

dev_dependencies:
  amplify_lints:
    path: ../../amplify_lints
  build_cli: ^2.1.6
  build_runner: ^2.1.7
  build_verify: ^3.0.0
  build_version: ^2.1.0
  built_value_generator: 8.3.3
  json_serializable: ^6.1.0
  smithy_test:
    path: ../smithy_test
  test: ^1.16.0

executables:
  smithy_codegen:
