name: amplify_flutter
description: The top level Flutter package for the AWS Amplify libraries.
version: 0.2.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_flutter

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.0
  amplify_storage_plugin_interface: 0.2.0
  amplify_analytics_plugin_interface: 0.2.0
  amplify_auth_plugin_interface: 0.2.0
  amplify_datastore_plugin_interface: 0.2.0
  amplify_api_plugin_interface: 0.2.0
  amplify_core: 0.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  amplify_api: 0.2.0
  amplify_analytics_pinpoint: 0.2.0
  amplify_auth_cognito: 0.2.0
  amplify_datastore: 0.2.0
  amplify_storage_s3: 0.2.0

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify
        pluginClass: Amplify
      ios:
        pluginClass: Amplify
