name: smithy_aws
description: Smithy runtime for AWS clients with utilities for endpoint resolution, retry behavior, and SigV4 signing.
version: 0.5.0+2
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/smithy/smithy_aws
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.0.0

dependencies:
  aws_common: ">=0.5.0+2 <0.6.0"
  aws_signature_v4: ">=0.4.0+2 <0.5.0"
  built_collection: ^5.0.0
  built_value: ">=8.6.0 <8.7.0"
  collection: ^1.15.0
  convert: ^3.0.0
  crclib: ^3.0.0
  crypto: ^3.0.0
  intl: ">=0.18.0 <1.0.0"
  json_annotation: ">=4.8.1 <4.9.0"
  meta: ^1.7.0
  path: ^1.8.0
  smithy: ">=0.5.0+2 <0.6.0"
  xml: 6.3.0

dev_dependencies:
  amplify_lints: ">=3.0.0 <3.1.0"
  build_runner: ^2.4.0
  built_value_generator: 8.6.1
  file: ^6.1.2
  glob: ^2.0.2
  json_serializable: 6.7.0
  pubspec_parse: ^1.2.0
  test: ^1.22.1
  yaml: ^3.1.0
