name: smithy_aws
description: Smithy runtime for AWS clients with utilities for endpoint resolution, retry behavior, and SigV4 signing.
version: 0.3.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/next
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/smithy/smithy_aws
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  aws_common: ">=0.3.0 <0.4.0"
  aws_signature_v4: ">=0.3.0 <0.4.0"
  built_collection: ^5.0.0
  built_value: ">=8.4.0 <8.5.0"
  collection: ^1.15.0
  convert: ^3.0.0
  crclib: ^3.0.0
  crypto: ^3.0.0
  intl: ^0.17.0
  json_annotation: ^4.7.0
  meta: ^1.7.0
  path: ^1.8.0
  smithy: ">=0.3.0 <0.4.0"
  xml: ">=6.1.0 <=6.2.2"

dev_dependencies:
  amplify_lints:
    path: ../../amplify_lints
  build_runner: ^2.1.7
  built_value_generator: 8.4.2
  file: ^6.1.2
  glob: ^2.0.2
  json_serializable: 6.5.4
  pubspec_parse: ^1.2.0
  test: ^1.16.0
  yaml: ^3.1.0
