name: amplify_core_plugin_interface
description: The platform interface for the core module of Amplify Flutter.
version: 0.0.1-dev.3
homepage: https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_core_plugin_interface

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^1.0.1
  amplify_storage_plugin_interface: ^0.0.1-dev.3
  amplify_auth_plugin_interface: ^0.0.1-dev.3
  amplify_analytics_plugin_interface: ^0.0.1-dev.3

dev_dependencies:
  flutter_test:
    sdk: flutter
