name: amplify_auth_cognito_ios
description: The method channel implementation for amplify_auth_cognito on iOS
version: 0.5.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  amplify_core: 0.5.0
  flutter:
    sdk: flutter

dev_dependencies:
  amplify_lints: ^1.0.0
  flutter_lints: ^1.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: AuthCognito
