name: worker_bee
description: A cross-platform isolated worker runtime for Dart Web, VM, and Flutter.
version: 0.2.0+1
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/worker_bee/worker_bee
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.0.0

dependencies:
  async: ^2.10.0
  aws_common: ">=0.5.0+2 <0.6.0"
  built_collection: ^5.0.0
  built_value: ">=8.6.0 <8.7.0"
  collection: ^1.15.0
  js: ^0.6.4
  meta: ^1.7.0
  path: ^1.8.0
  stack_trace: ^1.10.0
  stream_channel: ^2.1.0
  stream_transform: ^2.0.0

dev_dependencies:
  amplify_lints: ">=3.0.0 <3.1.0"
  build_runner: ^2.4.0
  built_value_generator: 8.6.1
  test: ^1.22.1
