name: amplify_storage_s3
description: The Amplify Flutter Storage category plugin using the AWS S3 provider.
version: 0.1.1
homepage: https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_storage_s3

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter
  amplify_storage_plugin_interface: 0.1.1
  plugin_platform_interface: ^2.0.0
  amplify_core: 0.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_storage_s3
        pluginClass: AmplifyStorageS3Plugin
      ios:
        pluginClass: AmplifyStorageS3Plugin
