name: amplify_api_dart
description: The Amplify API category plugin in Dart-only, supporting GraphQL and REST operations.
version: 0.3.0+1
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/api/amplify_api_dart
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.0.0

dependencies:
  amplify_core: ">=1.2.0 <1.3.0"
  async: ^2.10.0
  aws_common: ">=0.5.0+2 <0.6.0"
  collection: ^1.15.0
  json_annotation: ">=4.8.1 <4.9.0"
  meta: ^1.7.0
  plugin_platform_interface: ^2.0.0
  stream_transform: ^2.0.1
  web_socket_channel: ^2.2.0

dev_dependencies:
  amplify_lints: ">=3.0.0 <3.1.0"
  aws_signature_v4: ">=0.4.0+2 <0.5.0"
  build_runner: ^2.4.0
  build_test: ^2.1.5
  build_web_compilers: ^4.0.0
  stream_channel: ^2.1.0
  test: ^1.22.1
