name: amplify_api_dart
description: The Amplify API category plugin in Dart-only, supporting GraphQL and REST operations.
version: 0.5.13
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/api/amplify_api_dart
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.9.0

dependencies:
  amplify_core: ">=2.8.0 <2.9.0"
  async: ^2.10.0
  aws_common: ">=0.7.11 <0.8.0"
  collection: ^1.18.0
  json_annotation: ^4.9.0
  meta: ^1.16.0
  plugin_platform_interface: ^2.0.0
  stream_transform: ^2.1.0
  web_socket_channel: ^3.0.3

dev_dependencies:
  amplify_lints: ">=3.1.4 <3.2.0"
  aws_signature_v4: ">=0.6.9 <0.7.0"
  build_runner: ^2.4.9
  build_test: ^3.1.1
  build_web_compilers: ^4.0.0
  stream_channel: ^2.1.0
  test: ^1.22.1
