name: amplify_storage_s3
description: The Amplify Flutter Storage category plugin using the AWS S3 provider.
version: 1.0.0-next.4
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/storage/amplify_storage_s3
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.19.0-444 <4.0.0"
  flutter: ">=3.0.0"

# Helps `pana` since we do not use Flutter plugins for most platforms
platforms:
  ios:
  android:
  macos:
  windows:
  linux:
  web:

dependencies:
  amplify_core: ">=1.0.0-next.4 <1.0.0-next.5"
  amplify_db_common: ">=0.1.2+1 <0.2.0"
  amplify_storage_s3_dart: ">=0.1.4+2 <0.2.0"
  aws_common: ">=0.4.0 <0.5.0"
  flutter:
    sdk: flutter
  meta: ^1.7.0
  path_provider: ^2.0.0

dev_dependencies:
  amplify_lints: ^2.0.0
  amplify_test:
    path: ../../amplify_test
  aws_signature_v4: ">=0.3.1+2 <0.4.0"
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
