name: amplify_auth_plugin_interface
description: The platform interface for the auth module of Amplify Flutter.
version: 0.0.1-dev.4
homepage: https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_auth_plugin_interface

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^1.0.1
  meta: ^1.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter
