name: amplify_push_notifications_pinpoint_example
description: Demonstrates how to use the amplify_push_notifications_pinpoint plugin.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

environment:
  sdk: ^3.3.0
  flutter: ">=3.19.0"

dependencies:
  amplify_auth_cognito: ">=1.0.0-next.8 <1.0.0-next.9"
  amplify_flutter: ">=1.0.0-next.8 <1.0.0-next.9"
  amplify_push_notifications_pinpoint: ">=1.0.0-next.0 <1.0.0-next.1"
  flutter:
    sdk: flutter

dev_dependencies:
  amplify_lints: ^1.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
