name: amplify_api_ios_example
description: Test bed for amplify_api_ios
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/api/amplify_api_ios

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  amplify_api_ios:
    # When depending on this package from a real application you should use:
    #   amplify_analytics_pinpoint: ^x.y.z
    # See https://dart.dev/tools/pub/dependencies#version-constraints
    # The example app is bundled with the plugin so we use a path dependency on
    # the parent directory to use the current plugin's version.
    path: ../
  flutter:
    sdk: flutter

dev_dependencies:
  amplify_lints: ^2.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

