name: aft
description: Amplify Flutter repo tools.
version: 0.1.1
publish_to: none

environment:
  sdk: '>=2.17.0 <3.0.0'

dependencies: 
  args: ^2.3.0
  async: ^2.8.0
  aws_common:
    path: ../aws_common
  built_collection: ^5.0.0
  built_value: ">=8.4.0 <8.5.0"
  checked_yaml: ^2.0.0
  cli_util: ^0.3.5
  collection: ^1.16.0
  git: ^2.0.0
  glob: ^2.1.0
  graphs: ^2.1.0
  http: ^0.13.0
  json_annotation: ^4.7.0
  libgit2dart:
    path: external/libgit2dart
  markdown: ^5.0.0
  mason: ^0.1.0-dev.40
  meta: ^1.7.0
  path: any
  pub:
    git:
      url: https://github.com/dart-lang/pub.git
      ref: 6cbbec2abbf6a54074ae1005c06a26dfb14a86c8
  pub_semver: ^2.1.1
  pubspec_parse: ^1.2.0
  smithy:
    path: ../smithy/smithy
  smithy_codegen:
    path: ../smithy/smithy_codegen
  stream_transform: ^2.0.0
  yaml: ^3.1.0
  yaml_edit: ^2.0.3

dependency_overrides:
  aws_common:
    path: ../aws_common
  aws_signature_v4:
    path: ../aws_signature_v4
  smithy:
    path: ../smithy/smithy
  smithy_aws:
    path: ../smithy/smithy_aws
  smithy_codegen:
    path: ../smithy/smithy_codegen

dev_dependencies:
  amplify_lints:
    path: ../amplify_lints
  build_runner: ^2.2.1
  built_value_generator: 8.4.2
  json_serializable: 6.5.4
  test: ^1.16.0

executables:
  aft:
