name: aft
description: Amplify Flutter repo tools.
version: 0.1.1
publish_to: none

environment:
  sdk: ^3.0.0

dependencies:
  args: ^2.3.0
  async: ^2.10.0
  aws_common: ">=0.4.2+5 <0.5.0"
  built_collection: ^5.0.0
  built_value: ">=8.6.0 <8.7.0"
  checked_yaml: ^2.0.0
  cli_util: ^0.3.5
  collection: ^1.16.0
  file: ^7.0.0
  git: ^2.0.0
  glob: ^2.1.0
  graphs: ^2.1.0
  json_annotation: ">=4.8.1 <4.9.0"
  libgit2dart:
    path: external/libgit2dart
  markdown: ^5.0.0
  mason: ^0.1.0-dev.40
  mason_logger: ^0.2.5
  meta: ^1.7.0
  mustache_template: ^2.0.0
  path: any
  pub_api_client: ^2.4.0
  pub_semver: ^2.1.1
  pubspec_parse: ^1.2.0
  shelf: ^1.4.0
  shelf_static: ^1.1.1
  smithy: ">=0.4.0+8 <0.5.0"
  smithy_codegen:
    path: ../smithy/smithy_codegen
  stream_transform: ^2.0.0
  yaml: ^3.1.0
  yaml_edit: ^2.0.3

dependency_overrides:
  amplify_lints:
    path: ../amplify_lints
  aws_common:
    path: ../aws_common
  aws_signature_v4:
    path: ../aws_signature_v4
  smithy:
    path: ../smithy/smithy
  smithy_aws:
    path: ../smithy/smithy_aws
  smithy_codegen:
    path: ../smithy/smithy_codegen

dev_dependencies:
  amplify_lints: ">=2.0.2 <2.1.0"
  build_runner: ^2.4.0
  built_value_generator: 8.6.1
  json_serializable: 6.7.0
  test: ^1.22.1

executables:
  aft:
