name: aft
description: Amplify Flutter repo tools.
version: 0.1.1
publish_to: none

environment:
  sdk: '>=2.17.0 <3.0.0'

dependencies: 
  args: ^2.3.0
  async: ^2.8.0
  aws_common: ">=0.3.0 <0.4.0"
  built_collection: ^5.0.0
  built_value: ^8.0.0
  checked_yaml: ^2.0.0
  cli_util: ^0.3.5
  collection: ^1.16.0
  flutter_tools:
    git:
      url: https://github.com/flutter/flutter.git
      ref: 0df0e2ea1f7fe5021c3593d61903e70bdbda8107
      path: packages/flutter_tools
  git: ^2.0.0
  glob: ^2.1.0
  graphs: ^2.1.0
  http: ^0.13.0
  json_annotation: ^4.7.0
  libgit2dart:
    git:
      url: https://github.com/SkinnyMind/libgit2dart
      ref: d55742d6d7725fa190df0caf3c1cbe60b7b481aa
  markdown: ^5.0.0
  meta: ^1.7.0
  path: any
  pub:
    git:
      url: https://github.com/dart-lang/pub.git
      ref: 0a48753420cbd03eb72a92d38ef06fe3164dc335
  pub_semver: ^2.1.1
  pubspec_parse: ^1.2.0
  smithy: ">=0.3.0 <0.4.0"
  smithy_codegen: ">=0.3.0 <0.4.0"
  stream_transform: ^2.0.0
  yaml: ^3.1.0
  yaml_edit: ^2.0.3

# These need to match `flutter_tools`
dependency_overrides:
  built_value: ">=8.4.0 <8.5.0"
  frontend_server_client: ^3.0.0

dev_dependencies:
  amplify_lints:
    path: ../amplify_lints
  build_runner: ^2.0.0
  built_value_generator: ^8.0.0
  json_serializable: 6.5.4
  test: ^1.16.0

executables:
  aft:
