name: aft
description: Amplify Flutter repo tools.
version: 0.1.1
publish_to: none

environment:
  sdk: ^3.3.0

dependencies:
  args: ^2.3.0
  async: ^2.10.0
  aws_common: ">=0.4.2+5 <0.5.0"
  built_collection: ^5.0.0
  built_value: ^8.6.0
  checked_yaml: ^2.0.0
  cli_util: ^0.3.5
  code_builder: 4.10.0
  collection: ^1.16.0
  file: ">=6.0.0 <8.0.0"
  git: any # override
  glob: ^2.1.0
  graphs: ^2.1.0
  io: ^1.0.4
  json_annotation: ">=4.8.1 <4.9.0"
  markdown: ^5.0.0
  mason: ^0.1.0-dev.40
  mason_logger: ^0.2.5
  meta: ^1.7.0
  mustache_template: ^2.0.0
  path: any
  pub_api_client: ^2.4.0
  pub_semver: ^2.1.1
  pub_server:
    path: ../test/pub_server
  pubspec_parse: ^1.2.0
  shelf: ^1.4.0
  shelf_static: ^1.1.1
  smithy: ">=0.4.0+8 <0.5.0"
  smithy_codegen:
    path: ../smithy/smithy_codegen
  stream_transform: ^2.0.0
  yaml: ^3.1.0
  yaml_edit: ^2.0.3

# Use dependency overrides since this must work without `aft link`.
dependency_overrides:
  amplify_lints:
    path: ../amplify_lints
  aws_common:
    path: ../aws_common
  aws_signature_v4:
    path: ../aws_signature_v4
  git:
    git:
      url: https://github.com/dnys1/git
      ref: feat/existing-worktree
  pub_server:
    path: ../test/pub_server
  smithy:
    path: ../smithy/smithy
  smithy_aws:
    path: ../smithy/smithy_aws
  smithy_codegen:
    path: ../smithy/smithy_codegen

dev_dependencies:
  amplify_lints: ">=2.0.2 <2.1.0"
  build_runner: ^2.4.0
  built_value_generator: 8.8.1
  checks: ^0.2.2
  json_serializable: 6.7.1
  test: ^1.22.1
  test_descriptor: ^2.0.1

executables:
  aft:

aft:
  github:
    custom: true
