name: aft
description: Amplify Flutter repo tools.
version: 0.1.0
publish_to: none

environment:
  sdk: '>=2.17.0 <3.0.0'

dependencies: 
  args: ^2.3.0
  async: ^2.8.0
  aws_common: ^0.1.0
  checked_yaml: ^2.0.0
  cli_util: ^0.3.5
  collection: ^1.16.0
  flutter_tools:
    git:
      url: https://github.com/flutter/flutter.git
      ref: master
      path: packages/flutter_tools
  git: ^2.0.0
  graphs: ^2.1.0
  http: ^0.13.0
  json_annotation: ^4.4.0
  meta: ^1.7.0
  path: any
  pub:
    git:
      url: https://github.com/dart-lang/pub.git
      ref: master
  pub_semver: ^2.1.1
  pubspec_parse: ^1.2.0
  smithy:
    hosted: https://pub.dillonnys.com
    version: ^0.5.0
  smithy_codegen:
    hosted: https://pub.dillonnys.com
    version: ^0.5.0
  stream_transform: ^2.0.0
  yaml: ^3.1.0
  yaml_edit: ^2.0.3

# These need to match `flutter_tools`
dependency_overrides:
  built_value: 8.3.3

dev_dependencies:
  amplify_lints:
    path: ../amplify_lints
  build_runner: ^2.0.0
  json_serializable: ^6.1.0
  test: ^1.16.0

executables:
  aft:
