name: amplify_api
description: The Amplify Flutter API category plugin, supporting GraphQL and REST operations.
version: 0.4.5
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_api

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  amplify_api_plugin_interface: 0.4.5
  amplify_core: 0.4.5
  collection: ^1.15.0
  flutter:
    sdk: flutter
  meta: ^1.3.0
  plugin_platform_interface: ^2.0.0

dev_dependencies:
  amplify_lints: ^1.0.0
  amplify_test:
    path: ../amplify_test
  async: ^2.6.0
  build_runner: ^2.0.0
  flutter_test:
    sdk: flutter
  mockito: ^5.0.0

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_api
        pluginClass: AmplifyApiPlugin
      ios:
        pluginClass: AmplifyApiPlugin
