{
    "smithy": "1.0",
    "metadata": {
        "suppressions": [
            {
                "id": "DeprecatedTrait",
                "namespace": "*",
                "reason": "Some of the AWS protocols make use of deprecated traits, and some are\nthemselves deprecated traits. As this package is intended to test those\nprotocols, the warnings should be suppressed."
            },
            {
                "id": "UnreferencedShape",
                "namespace": "aws.protocoltests.config",
                "reason": "These shapes are intended to be used to validate vendorParams in\nprotocol tests, so they naturally will not be connected to a service.\n"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.machinelearning#AmazonML_20141212": {
            "type": "service",
            "traits": {
                "aws.api#service": {
                    "sdkId": "Machine Learning",
                    "arnNamespace": "machinelearning",
                    "cloudFormationName": "MachineLearning",
                    "cloudTrailEventSource": "machinelearning.amazonaws.com",
                    "endpointPrefix": "machinelearning"
                },
                "aws.auth#sigv4": {
                    "name": "machinelearning"
                },
                "aws.protocols#awsJson1_1": {},
                "smithy.api#title": "Amazon Machine Learning",
                "smithy.api#xmlNamespace": {
                    "uri": "http://machinelearning.amazonaws.com/doc/2014-12-12/"
                }
            },
            "version": "2014-12-12",
            "operations": [
                {
                    "target": "com.amazonaws.machinelearning#Predict"
                }
            ]
        },
        "smithy.test#AppliesTo": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "client",
                        "name": "CLIENT",
                        "documentation": "The test only applies to client implementations."
                    },
                    {
                        "value": "server",
                        "name": "SERVER",
                        "documentation": "The test only applies to server implementations."
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#Arn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {},
                "smithy.api#documentation": "<p>The ARN of an AWS integration target.</p><p>This string MAY contain the literal string <code>{serviceName}</code> and/or the literal string <code>{operationName}</code>, which will be replaced with the name of the Smithy service shape and the name of the Smithy operation shape, respectively.</p>",
                "smithy.api#private": {}
            }
        },
        "aws.api#ArnNamespace": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-z0-9.\\-]{1,63}$",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#AuthorizerDefinition": {
            "type": "structure",
            "members": {
                "scheme": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Smithy authentication scheme used by the client (e.g, aws.v4).",
                        "smithy.api#idRef": {
                            "selector": "[trait|authDefinition]",
                            "failWhenMissing": true,
                            "errorMessage": "The scheme of an authorizer definition must reference an auth trait"
                        },
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The type of the authorizer. If specifying information beyond the scheme, this value is required. The value must be \"token\", for an authorizer with the caller identity embedded in an authorization token, or \"request\", for an authorizer with the caller identity contained in request parameters."
                    }
                },
                "customAuthType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "This value is not used directly by API Gateway but will be used for OpenAPI exports. This will default to \"awsSigV4\" if your scheme is \"aws.v4\", or \"custom\" otherwise."
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Uniform Resource Identifier (URI) of the authorizer Lambda function"
                    }
                },
                "credentials": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Credentials required for invoking the authorizer"
                    }
                },
                "identitySource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Comma-separated list of mapping expressions of the request parameters as the identity source. Applicable for the authorizer of the \"request\" type only."
                    }
                },
                "identityValidationExpression": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A regular expression for validating the token as the incoming identity"
                    }
                },
                "resultTtlInSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The number of seconds for which the resulting IAM policy is cached."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An object that associates an authorizer and associated metadata with an authentication mechanism.",
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.config#AwsConfig": {
            "type": "structure",
            "members": {
                "clockTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "This is the time that should be set during the course of the test.\nThis is important for things like signing where the clock time impacts\nthe result."
                    }
                },
                "scopedConfig": {
                    "target": "aws.protocoltests.config#ScopedConfig"
                }
            }
        },
        "aws.protocoltests.shared#BooleanList": {
            "type": "list",
            "member": {
                "target": "smithy.api#PrimitiveBoolean"
            }
        },
        "aws.protocols#ChecksumAlgorithm": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CRC32C",
                        "name": "CRC32C"
                    },
                    {
                        "value": "CRC32",
                        "name": "CRC32"
                    },
                    {
                        "value": "SHA1",
                        "name": "SHA1"
                    },
                    {
                        "value": "SHA256",
                        "name": "SHA256"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocols#ChecksumAlgorithmSet": {
            "type": "list",
            "member": {
                "target": "aws.protocols#ChecksumAlgorithm"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#private": {},
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.protocoltests.config#ClientConfig": {
            "type": "structure",
            "members": {
                "aws_access_key_id": {
                    "target": "smithy.api#String"
                },
                "aws_secret_access_key": {
                    "target": "smithy.api#String"
                },
                "aws_session_token": {
                    "target": "smithy.api#String"
                },
                "region": {
                    "target": "smithy.api#String"
                },
                "s3": {
                    "target": "aws.protocoltests.config#S3Config"
                },
                "retry_config": {
                    "target": "aws.protocoltests.config#RetryConfig"
                },
                "aws_profile": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "Configuration that is set on the constructed client."
            }
        },
        "aws.api#CloudFormationName": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[A-Z][A-Za-z0-9]+$",
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.json#ComplexError": {
            "type": "structure",
            "members": {
                "TopLevel": {
                    "target": "smithy.api#String"
                },
                "Nested": {
                    "target": "aws.protocoltests.json#ComplexNestedErrorData"
                }
            },
            "traits": {
                "smithy.api#documentation": "This error is thrown when a request is invalid.",
                "smithy.api#error": "client",
                "smithy.test#httpResponseTests": [
                    {
                        "id": "AwsJson11ComplexError",
                        "documentation": "Parses a complex error with no message member",
                        "protocol": "aws.protocols#awsJson1_1",
                        "params": {
                            "TopLevel": "Top level",
                            "Nested": {
                                "Foo": "bar"
                            }
                        },
                        "code": 400,
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": "{\n    \"__type\": \"ComplexError\",\n    \"TopLevel\": \"Top level\",\n    \"Nested\": {\n        \"Foo\": \"bar\"\n    }\n}",
                        "bodyMediaType": "application/json"
                    },
                    {
                        "id": "AwsJson11EmptyComplexError",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 400,
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": "{\n    \"__type\": \"ComplexError\"\n}",
                        "bodyMediaType": "application/json"
                    }
                ]
            }
        },
        "aws.protocoltests.json#ComplexNestedErrorData": {
            "type": "structure",
            "members": {
                "Foo": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "Fooooo"
                    }
                }
            }
        },
        "aws.iam#ConditionKeyDefinition": {
            "type": "structure",
            "members": {
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines documentation about the condition key."
                    }
                },
                "externalDocumentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A valid URL that defines more information about the condition key."
                    }
                },
                "type": {
                    "target": "aws.iam#ConditionKeyType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A defined condition key to appear within a service in addition to inferred and global condition keys.",
                "smithy.api#private": {}
            }
        },
        "aws.iam#ConditionKeyType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The IAM policy type of the value that will supplied for this context key",
                "smithy.api#enum": [
                    {
                        "value": "ARN",
                        "name": "ARN"
                    },
                    {
                        "value": "ArrayOfARN",
                        "name": "ARRAY_OF_ARN"
                    },
                    {
                        "value": "Binary",
                        "name": "BINARY"
                    },
                    {
                        "value": "ArrayOfBinary",
                        "name": "ARRAY_OF_BINARY"
                    },
                    {
                        "value": "String",
                        "name": "STRING"
                    },
                    {
                        "value": "ArrayOfString",
                        "name": "ARRAY_OF_STRING"
                    },
                    {
                        "value": "Numeric",
                        "name": "NUMERIC"
                    },
                    {
                        "value": "ArrayOfNumeric",
                        "name": "ARRAY_OF_NUMERIC"
                    },
                    {
                        "value": "Date",
                        "name": "DATE"
                    },
                    {
                        "value": "ArrayOfDate",
                        "name": "ARRAY_OF_DATE"
                    },
                    {
                        "value": "Bool",
                        "name": "BOOL"
                    },
                    {
                        "value": "ArrayOfBool",
                        "name": "ARRAY_OF_BOOL"
                    },
                    {
                        "value": "IPAddress",
                        "name": "IP_ADDRESS"
                    },
                    {
                        "value": "ArrayOfIPAddress",
                        "name": "ARRAY_OF_IP_ADDRESS"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.config#ConfigFile": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#documentation": "The top level key in a config file is the \"profile\", which is a string.\nIf a profile is not explicitly set, then implementations should check the\nprofile named \"default\"."
                }
            },
            "value": {
                "target": "aws.protocoltests.config#FileConfigSettings",
                "traits": {
                    "smithy.api#documentation": "The value is a collection of settings."
                }
            },
            "traits": {
                "smithy.api#documentation": "A shape representing a parsed config file, which is a map of profile names\nto configuration sets."
            }
        },
        "aws.apigateway#ConnectionType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "INTERNET",
                        "value": "INTERNET"
                    },
                    {
                        "name": "VPC_LINK",
                        "value": "VPC_LINK"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#ContentHandling": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Defines the contentHandling for the integration",
                "smithy.api#enum": [
                    {
                        "value": "CONVERT_TO_TEXT",
                        "name": "CONVERT_TO_TEXT"
                    },
                    {
                        "value": "CONVERT_TO_BINARY",
                        "name": "CONVERT_TO_BINARY"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.shared#DateTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "com.amazonaws.machinelearning#DetailsAttributes": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "PredictiveModelType",
                        "name": "PREDICTIVE_MODEL_TYPE"
                    },
                    {
                        "value": "Algorithm",
                        "name": "ALGORITHM"
                    }
                ]
            }
        },
        "com.amazonaws.machinelearning#DetailsMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.machinelearning#DetailsAttributes"
            },
            "value": {
                "target": "com.amazonaws.machinelearning#DetailsValue"
            }
        },
        "com.amazonaws.machinelearning#DetailsValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "aws.protocoltests.json#Document": {
            "type": "document"
        },
        "aws.protocoltests.shared#DoubleList": {
            "type": "list",
            "member": {
                "target": "smithy.api#Double"
            }
        },
        "aws.protocoltests.json#EmptyOperation": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.test#httpRequestTests": [
                    {
                        "id": "sends_requests_to_slash",
                        "protocol": "aws.protocols#awsJson1_1",
                        "documentation": "Sends requests to /",
                        "method": "POST",
                        "uri": "/"
                    },
                    {
                        "id": "includes_x_amz_target_and_content_type",
                        "protocol": "aws.protocols#awsJson1_1",
                        "documentation": "Includes X-Amz-Target header and Content-Type",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1",
                            "X-Amz-Target": "JsonProtocol.EmptyOperation"
                        },
                        "method": "POST",
                        "uri": "/"
                    },
                    {
                        "id": "json_1_1_client_sends_empty_payload_for_no_input_shape",
                        "protocol": "aws.protocols#awsJson1_1",
                        "documentation": "Clients must always send an empty JSON object payload for\noperations with no input (that is, `{}`). While AWS service\nimplementations support requests with no payload or requests\nthat send `{}`, always sending `{}` from the client is\npreferred for forward compatibility in case input is ever\nadded to an operation.",
                        "body": "{}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "method": "POST",
                        "uri": "/"
                    },
                    {
                        "id": "json_1_1_service_supports_empty_payload_for_no_input_shape",
                        "protocol": "aws.protocols#awsJson1_1",
                        "documentation": "Service implementations must support no payload or an empty\nobject payload for operations that define no input. However,\ndespite the lack of a payload, a Content-Type header is still\nrequired in order for the service to properly detect the\nprotocol.",
                        "body": "",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "method": "POST",
                        "uri": "/",
                        "appliesTo": "server"
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "handles_empty_output_shape",
                        "protocol": "aws.protocols#awsJson1_1",
                        "documentation": "When no output is defined, the service is expected to return\nan empty payload, however, client must ignore a JSON payload\nif one is returned. This ensures that if output is added later,\nthen it will not break the client.",
                        "body": "{}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "code": 200,
                        "appliesTo": "client"
                    },
                    {
                        "id": "handles_unexpected_json_output",
                        "protocol": "aws.protocols#awsJson1_1",
                        "documentation": "This client-only test builds on handles_empty_output_shape,\nby including unexpected fields in the JSON. A client\nneeds to ignore JSON output that is empty or that contains\nJSON object data.",
                        "body": "{\n    \"foo\": true\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "code": 200,
                        "appliesTo": "client"
                    },
                    {
                        "id": "json_1_1_service_responds_with_no_payload",
                        "protocol": "aws.protocols#awsJson1_1",
                        "documentation": "When no output is defined, the service is expected to return\nan empty payload. Despite the lack of a payload, the service\nis expected to always send a Content-Type header. Clients must\nhandle cases where a service returns a JSON object and where\na service returns no JSON at all.",
                        "body": "",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "code": 200
                    }
                ]
            }
        },
        "aws.protocoltests.json#EmptyStruct": {
            "type": "structure",
            "members": {}
        },
        "aws.protocoltests.json#EndpointOperation": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#endpoint": {
                    "hostPrefix": "foo."
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "AwsJson11EndpointTrait",
                        "documentation": "Operations can prepend to the given host if they define the\nendpoint trait.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{}",
                        "host": "example.com",
                        "resolvedHost": "foo.example.com"
                    }
                ]
            }
        },
        "aws.protocoltests.json#EndpointWithHostLabelOperation": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.json#HostLabelInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#endpoint": {
                    "hostPrefix": "foo.{label}."
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "AwsJson11EndpointTraitWithHostLabel",
                        "documentation": "Operations can prepend to the given host if they define the\nendpoint trait, and can use the host label trait to define\nfurther customization based on user input.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\"label\": \"bar\"}",
                        "bodyMediaType": "application/json",
                        "host": "example.com",
                        "resolvedHost": "foo.bar.example.com",
                        "params": {
                            "label": "bar"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.machinelearning#EntityId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
            }
        },
        "aws.protocoltests.config#EnvironmentConfig": {
            "type": "structure",
            "members": {
                "AWS_ACCESS_KEY_ID": {
                    "target": "smithy.api#String"
                },
                "AWS_SECRET_ACCESS_KEY": {
                    "target": "smithy.api#String"
                },
                "AWS_DEFAULT_REGION": {
                    "target": "smithy.api#String"
                },
                "AWS_RETRY_MODE": {
                    "target": "aws.protocoltests.config#RetryMode"
                },
                "AWS_SESSION_TOKEN": {
                    "target": "smithy.api#String"
                },
                "AWS_PROFILE": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "Config settings that can be set as environment variables."
            }
        },
        "aws.protocoltests.shared#EpochSeconds": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "epoch-seconds"
            }
        },
        "com.amazonaws.machinelearning#ErrorCode": {
            "type": "integer"
        },
        "com.amazonaws.machinelearning#ErrorMessage": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 2048
                }
            }
        },
        "aws.protocoltests.json#ErrorWithMembers": {
            "type": "structure",
            "members": {
                "Code": {
                    "target": "smithy.api#String"
                },
                "ComplexData": {
                    "target": "aws.protocoltests.json#KitchenSink"
                },
                "IntegerField": {
                    "target": "smithy.api#Integer"
                },
                "ListField": {
                    "target": "aws.protocoltests.json#ListOfStrings"
                },
                "MapField": {
                    "target": "aws.protocoltests.json#MapOfStrings"
                },
                "Message": {
                    "target": "smithy.api#String"
                },
                "StringField": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "abc"
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "aws.protocoltests.json#ErrorWithoutMembers": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#error": "server"
            }
        },
        "aws.protocoltests.config#FileConfigSettings": {
            "type": "structure",
            "members": {
                "aws_access_key_id": {
                    "target": "smithy.api#String"
                },
                "aws_secret_access_key": {
                    "target": "smithy.api#String"
                },
                "aws_session_token": {
                    "target": "smithy.api#String"
                },
                "region": {
                    "target": "smithy.api#String"
                },
                "s3": {
                    "target": "aws.protocoltests.config#S3Config"
                },
                "retry_mode": {
                    "target": "aws.protocoltests.config#RetryMode"
                },
                "max_attempts": {
                    "target": "smithy.api#Short"
                }
            },
            "traits": {
                "smithy.api#documentation": "Config settings that can be set in the AWS config / credentials file as\npart of a profile."
            }
        },
        "aws.protocoltests.shared#FooEnum": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "FOO",
                        "value": "Foo"
                    },
                    {
                        "name": "BAZ",
                        "value": "Baz"
                    },
                    {
                        "name": "BAR",
                        "value": "Bar"
                    },
                    {
                        "name": "ONE",
                        "value": "1"
                    },
                    {
                        "name": "ZERO",
                        "value": "0"
                    }
                ]
            }
        },
        "aws.protocoltests.shared#FooEnumList": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#FooEnum"
            }
        },
        "aws.protocoltests.shared#FooEnumMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.protocoltests.shared#FooEnum"
            }
        },
        "aws.protocoltests.shared#FooEnumSet": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#FooEnum"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.protocoltests.json#FooError": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "This error has test cases that test some of the dark corners of Amazon service\nframework history. It should only be implemented by clients.",
                "smithy.api#error": "server",
                "smithy.api#tags": [
                    "client-only"
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "AwsJson11FooErrorUsingXAmznErrorType",
                        "documentation": "Serializes the X-Amzn-ErrorType header. For an example service, see Amazon EKS.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 500,
                        "headers": {
                            "X-Amzn-Errortype": "FooError"
                        },
                        "appliesTo": "client"
                    },
                    {
                        "id": "AwsJson11FooErrorUsingXAmznErrorTypeWithUri",
                        "documentation": "Some X-Amzn-Errortype headers contain URLs. Clients need to split the URL on ':' and take only the first half of the string. For example, 'ValidationException:http://internal.amazon.com/example/com.amazon.example.validate/'\nis to be interpreted as 'ValidationException'.\n\nFor an example service see Amazon Polly.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 500,
                        "headers": {
                            "X-Amzn-Errortype": "FooError:http://internal.amazon.com/example/com.amazon.example.validate/"
                        },
                        "appliesTo": "client"
                    },
                    {
                        "id": "AwsJson11FooErrorUsingXAmznErrorTypeWithUriAndNamespace",
                        "documentation": "X-Amzn-Errortype might contain a URL and a namespace. Client should extract only the shape name. This is a pathalogical case that might not actually happen in any deployed AWS service.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 500,
                        "headers": {
                            "X-Amzn-Errortype": "aws.protocoltests.restjson#FooError:http://internal.amazon.com/example/com.amazon.example.validate/"
                        },
                        "appliesTo": "client"
                    },
                    {
                        "id": "AwsJson11FooErrorUsingCode",
                        "documentation": "This example uses the 'code' property in the output rather than X-Amzn-Errortype. Some services do this though it's preferable to send the X-Amzn-Errortype. Client implementations must first check for the X-Amzn-Errortype and then check for a top-level 'code' property.\n\nFor example service see Amazon S3 Glacier.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": "{\n    \"code\": \"FooError\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    },
                    {
                        "id": "AwsJson11FooErrorUsingCodeAndNamespace",
                        "documentation": "Some services serialize errors using code, and it might contain a namespace. Clients should just take the last part of the string after '#'.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": "{\n    \"code\": \"aws.protocoltests.restjson#FooError\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    },
                    {
                        "id": "AwsJson11FooErrorUsingCodeUriAndNamespace",
                        "documentation": "Some services serialize errors using code, and it might contain a namespace. It also might contain a URI. Clients should just take the last part of the string after '#' and before \":\". This is a pathalogical case that might not occur in any deployed AWS service.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": "{\n    \"code\": \"aws.protocoltests.restjson#FooError:http://internal.amazon.com/example/com.amazon.example.validate/\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    },
                    {
                        "id": "AwsJson11FooErrorWithDunderType",
                        "documentation": "Some services serialize errors using __type.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": "{\n    \"__type\": \"FooError\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    },
                    {
                        "id": "AwsJson11FooErrorWithDunderTypeAndNamespace",
                        "documentation": "Some services serialize errors using __type, and it might contain a namespace. Clients should just take the last part of the string after '#'.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": "{\n    \"__type\": \"aws.protocoltests.restjson#FooError\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    },
                    {
                        "id": "AwsJson11FooErrorWithDunderTypeUriAndNamespace",
                        "documentation": "Some services serialize errors using __type, and it might contain a namespace. It also might contain a URI. Clients should just take the last part of the string after '#' and before \":\". This is a pathalogical case that might not occur in any deployed AWS service.",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": "{\n    \"__type\": \"aws.protocoltests.restjson#FooError:http://internal.amazon.com/example/com.amazon.example.validate/\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "aws.protocoltests.shared#GreetingList": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#GreetingStruct"
            }
        },
        "aws.protocoltests.shared#GreetingStruct": {
            "type": "structure",
            "members": {
                "hi": {
                    "target": "smithy.api#String"
                }
            }
        },
        "aws.protocoltests.json#GreetingWithErrors": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "aws.protocoltests.json#GreetingWithErrorsOutput"
            },
            "errors": [
                {
                    "target": "aws.protocoltests.json#ComplexError"
                },
                {
                    "target": "aws.protocoltests.json#FooError"
                },
                {
                    "target": "aws.protocoltests.json#InvalidGreeting"
                }
            ],
            "traits": {
                "smithy.api#documentation": "This operation has three possible return values:\n\n1. A successful response in the form of GreetingWithErrorsOutput\n2. An InvalidGreeting error.\n3. A ComplexError error.\n\nImplementations must be able to successfully take a response and\nproperly deserialize successful and error responses.",
                "smithy.api#idempotent": {}
            }
        },
        "aws.protocoltests.json#GreetingWithErrorsOutput": {
            "type": "structure",
            "members": {
                "greeting": {
                    "target": "smithy.api#String"
                }
            }
        },
        "aws.protocoltests.json#HostLabelInput": {
            "type": "structure",
            "members": {
                "label": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#hostLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "aws.protocoltests.json#HostWithPathOperation": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.test#httpRequestTests": [
                    {
                        "id": "AwsJson11HostWithPath",
                        "documentation": "Custom endpoints supplied by users can have paths",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/custom/",
                        "body": "{}",
                        "host": "example.com/custom",
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "aws.protocoltests.shared#HttpDate": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "http-date"
            }
        },
        "smithy.test#HttpMalformedRequestDefinition": {
            "type": "structure",
            "members": {
                "method": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The HTTP request method.",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The request-target of the HTTP request, not including\nthe query string (for example, \"/foo/bar\").",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "host": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The host / endpoint provided to the client, not including the path\nor scheme (for example, \"example.com\")."
                    }
                },
                "queryParams": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of the serialized query string parameters to include in the request.\n\nEach element in the list is a query string key value pair\nthat starts with the query string parameter name optionally\nfollowed by \"=\", optionally followed by the query string\nparameter value. For example, \"foo=bar\", \"foo=\", and \"foo\"\nare all valid values. The query string parameter name and\nthe value MUST appear in the format in which it is expected\nto be sent over the wire; if a key or value needs to be\npercent-encoded, then it MUST appear percent-encoded in this list."
                    }
                },
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "Defines a map of HTTP headers to include in the request"
                    }
                },
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The HTTP message body to include in the request"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedRequestTestCase": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The identifier of the test case. This identifier can be used by\nprotocol test implementations to filter out unsupported test\ncases by ID, to generate test case names, etc. The provided `id`\nMUST match Smithy's `identifier` ABNF. No two `httpMalformedRequestTests`\ntest cases can share the same ID.",
                        "smithy.api#pattern": "^[A-Za-z_][A-Za-z0-9_]+$",
                        "smithy.api#required": {}
                    }
                },
                "protocol": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the protocol to test.",
                        "smithy.api#idRef": {
                            "selector": "[trait|protocolDefinition]",
                            "failWhenMissing": true
                        },
                        "smithy.api#required": {}
                    }
                },
                "request": {
                    "target": "smithy.test#HttpMalformedRequestDefinition",
                    "traits": {
                        "smithy.api#documentation": "The malformed request to send.",
                        "smithy.api#required": {}
                    }
                },
                "response": {
                    "target": "smithy.test#HttpMalformedResponseDefinition",
                    "traits": {
                        "smithy.api#documentation": "The expected response.",
                        "smithy.api#required": {}
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A description of the test and what is being asserted."
                    }
                },
                "tags": {
                    "target": "smithy.test#NonEmptyStringList",
                    "traits": {
                        "smithy.api#documentation": "Applies a list of tags to the test."
                    }
                },
                "testParameters": {
                    "target": "smithy.test#HttpMalformedRequestTestParametersDefinition",
                    "traits": {
                        "smithy.api#documentation": "An optional set of test parameters for parameterized testing."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedRequestTestParametersDefinition": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.test#StringList"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseBodyAssertion": {
            "type": "union",
            "members": {
                "contents": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines the expected serialized response body, which will be matched\nexactly."
                    }
                },
                "messageRegex": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A regex to evaluate against the `message` field in the body. For\nresponses that may have some variance from platform to platform,\nsuch as those that include messages from a parser."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseBodyDefinition": {
            "type": "structure",
            "members": {
                "assertion": {
                    "target": "smithy.test#HttpMalformedResponseBodyAssertion",
                    "traits": {
                        "smithy.api#documentation": "The assertion to execute against the response body.",
                        "smithy.api#required": {}
                    }
                },
                "mediaType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The media type of the response body.\n\nThis is used to help test runners to parse and evaluate\n`contents' and `messageRegex` in the assertion",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseDefinition": {
            "type": "structure",
            "members": {
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "Defines a map of expected HTTP headers.\n\nHeaders that are not listed in this map are ignored."
                    }
                },
                "code": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Defines the HTTP response code.",
                        "smithy.api#range": {
                            "min": 100,
                            "max": 599
                        },
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "smithy.test#HttpMalformedResponseBodyDefinition",
                    "traits": {
                        "smithy.api#documentation": "The expected response body."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpRequestTestCase": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The identifier of the test case. This identifier can be used by\nprotocol test implementations to filter out unsupported test\ncases by ID, to generate test case names, etc. The provided `id`\nMUST match Smithy's `identifier` ABNF. No two `httpRequestTests`\ntest cases can share the same ID.",
                        "smithy.api#pattern": "^[A-Za-z_][A-Za-z0-9_]+$",
                        "smithy.api#required": {}
                    }
                },
                "protocol": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the protocol to test.",
                        "smithy.api#idRef": {
                            "selector": "[trait|protocolDefinition]",
                            "failWhenMissing": true
                        },
                        "smithy.api#required": {}
                    }
                },
                "method": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The expected serialized HTTP request method.",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The request-target of the HTTP request, not including\nthe query string (for example, \"/foo/bar\").",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "host": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The host / endpoint provided to the client, not including the path\nor scheme (for example, \"example.com\")."
                    }
                },
                "resolvedHost": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The host / endpoint that the client should send to, not including\nthe path or scheme (for example, \"prefix.example.com\").\n\nThis can differ from the host provided to the client if the `hostPrefix`\nmember of the `endpoint` trait is set, for instance."
                    }
                },
                "authScheme": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The optional authentication scheme shape ID to assume. It's\npossible that specific authentication schemes might influence\nthe serialization logic of an HTTP request.",
                        "smithy.api#idRef": {
                            "selector": "[trait|authDefinition]",
                            "failWhenMissing": true
                        }
                    }
                },
                "queryParams": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of the expected serialized query string parameters.\n\nEach element in the list is a query string key value pair\nthat starts with the query string parameter name optionally\nfollowed by \"=\", optionally followed by the query string\nparameter value. For example, \"foo=bar\", \"foo=\", and \"foo\"\nare all valid values. The query string parameter name and\nthe value MUST appear in the format in which it is expected\nto be sent over the wire; if a key or value needs to be\npercent-encoded, then it MUST appear percent-encoded in this list.\n\nA serialized HTTP request is not in compliance with the protocol\nif any query string parameter defined in `queryParams` is not\ndefined in the request or if the value of a query string parameter\nin the request differs from the expected value.\n\n`queryParams` applies no constraints on additional query parameters."
                    }
                },
                "forbidQueryParams": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of query string parameter names that must not appear in the\nserialized HTTP request.\n\nEach value MUST appear in the format in which it is sent over the\nwire; if a key needs to be percent-encoded, then it MUST appear\npercent-encoded in this list."
                    }
                },
                "requireQueryParams": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of query string parameter names that MUST appear in the\nserialized request URI, but no assertion is made on the value.\n\nEach value MUST appear in the format in which it is sent over the\nwire; if a key needs to be percent-encoded, then it MUST appear\npercent-encoded in this list."
                    }
                },
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "Defines a map of expected HTTP headers.\n\nHeaders that are not listed in this map are ignored unless they are\nexplicitly forbidden through `forbidHeaders`."
                    }
                },
                "forbidHeaders": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of header field names that must not appear in the serialized\nHTTP request."
                    }
                },
                "requireHeaders": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of header field names that must appear in the serialized\nHTTP message, but no assertion is made on the value.\n\nHeaders listed in `headers` do not need to appear in this list."
                    }
                },
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The expected HTTP message body.\n\nIf no request body is defined, then no assertions are made about\nthe body of the message."
                    }
                },
                "bodyMediaType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The media type of the `body`.\n\nThis is used to help test runners to parse and validate the expected\ndata against generated data."
                    }
                },
                "params": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines the input parameters used to generated the HTTP request.\n\nThese parameters MUST be compatible with the input of the operation."
                    }
                },
                "vendorParams": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines vendor-specific parameters that are used to influence the\nrequest. For example, some vendors might utilize environment\nvariables, configuration files on disk, or other means to influence\nthe serialization formats used by clients or servers.\n\nIf a `vendorParamsShape` is set, these parameters MUST be compatible\nwith that shape's definition."
                    }
                },
                "vendorParamsShape": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A shape to be used to validate the `vendorParams` member contents.\n\nIf set, the parameters in `vendorParams` MUST be compatible with this\nshape's definition.",
                        "smithy.api#idRef": {
                            "failWhenMissing": true
                        }
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A description of the test and what is being asserted."
                    }
                },
                "tags": {
                    "target": "smithy.test#NonEmptyStringList",
                    "traits": {
                        "smithy.api#documentation": "Applies a list of tags to the test."
                    }
                },
                "appliesTo": {
                    "target": "smithy.test#AppliesTo",
                    "traits": {
                        "smithy.api#documentation": "Indicates that the test case is only to be implemented by \"client\" or\n\"server\" implementations. This property is useful for identifying and\ntesting edge cases of clients and servers that are impossible or\nundesirable to test in *both* client and server implementations."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpResponseTestCase": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The identifier of the test case. This identifier can be used by\nprotocol test implementations to filter out unsupported test\ncases by ID, to generate test case names, etc. The provided `id`\nMUST match Smithy's `identifier` ABNF. No two `httpResponseTests`\ntest cases can share the same ID.",
                        "smithy.api#pattern": "^[A-Za-z_][A-Za-z0-9_]+$",
                        "smithy.api#required": {}
                    }
                },
                "protocol": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The shape ID of the protocol to test.",
                        "smithy.api#idRef": {
                            "selector": "[trait|protocolDefinition]",
                            "failWhenMissing": true
                        },
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Defines the HTTP response code.",
                        "smithy.api#range": {
                            "min": 100,
                            "max": 599
                        },
                        "smithy.api#required": {}
                    }
                },
                "authScheme": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The optional authentication scheme shape ID to assume. It's possible\nthat specific authentication schemes might influence the serialization\nlogic of an HTTP response.",
                        "smithy.api#idRef": {
                            "selector": "[trait|authDefinition]",
                            "failWhenMissing": true
                        }
                    }
                },
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "A map of expected HTTP headers. Each key represents a header field\nname and each value represents the expected header value. An HTTP\nresponse is not in compliance with the protocol if any listed header\nis missing from the serialized response or if the expected header\nvalue differs from the serialized response value.\n\n`headers` applies no constraints on additional headers."
                    }
                },
                "forbidHeaders": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of header field names that must not appear."
                    }
                },
                "requireHeaders": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of header field names that must appear in the serialized\nHTTP message, but no assertion is made on the value.\n\nHeaders listed in `headers` map do not need to appear in this list."
                    }
                },
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines the HTTP message body.\n\nIf no response body is defined, then no assertions are made about\nthe body of the message."
                    }
                },
                "bodyMediaType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The media type of the `body`.\n\nThis is used to help test runners to parse and validate the expected\ndata against generated data. Binary media type formats require that\nthe contents of `body` are base64 encoded."
                    }
                },
                "params": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines the output parameters deserialized from the HTTP response.\n\nThese parameters MUST be compatible with the output of the operation."
                    }
                },
                "vendorParams": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines vendor-specific parameters that are used to influence the\nresponse. For example, some vendors might utilize environment\nvariables, configuration files on disk, or other means to influence\nthe serialization formats used by clients or servers.\n\nIf a `vendorParamsShape` is set, these parameters MUST be compatible\nwith that shape's definition."
                    }
                },
                "vendorParamsShape": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A shape to be used to validate the `vendorParams` member contents.\n\nIf set, the parameters in `vendorParams` MUST be compatible with this\nshape's definition.",
                        "smithy.api#idRef": {
                            "failWhenMissing": true
                        }
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A description of the test and what is being asserted."
                    }
                },
                "tags": {
                    "target": "smithy.test#NonEmptyStringList",
                    "traits": {
                        "smithy.api#documentation": "Applies a list of tags to the test."
                    }
                },
                "appliesTo": {
                    "target": "smithy.test#AppliesTo",
                    "traits": {
                        "smithy.api#documentation": "Indicates that the test case is only to be implemented by \"client\" or\n\"server\" implementations. This property is useful for identifying and\ntesting edge cases of clients and servers that are impossible or\nundesirable to test in *both* client and server implementations."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.iam#IamIdentifier": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^([A-Za-z0-9][A-Za-z0-9-\\.]{0,62}:[^:]+)$",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#IamRoleArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::IAM::Role"
                },
                "smithy.api#documentation": "<p>The ARN of the IAM role to assume with invoking the integration.</p><p>This string MAY contain the literal string <code>{serviceName}</code> and/or the literal string <code>{operationName}</code>, which will be replaced with the name of the Smithy service shape and the name of the Smithy operation shape, respectively.</p>",
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.shared#IntegerList": {
            "type": "list",
            "member": {
                "target": "smithy.api#Integer"
            }
        },
        "aws.protocoltests.shared#IntegerSet": {
            "type": "list",
            "member": {
                "target": "smithy.api#Integer"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.apigateway#IntegrationResponse": {
            "type": "structure",
            "members": {
                "statusCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "HTTP status code for the method response; for example, \"200\". This must correspond to a matching response in the OpenAPI Operation responses field."
                    }
                },
                "contentHandling": {
                    "target": "aws.apigateway#ContentHandling"
                },
                "responseTemplates": {
                    "target": "aws.apigateway#Templates"
                },
                "responseParameters": {
                    "target": "aws.apigateway#ResponseParameters"
                }
            },
            "traits": {
                "smithy.api#documentation": "Defines a response and specifies parameter mappings.",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#IntegrationResponses": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.apigateway#IntegrationResponse"
            },
            "traits": {
                "smithy.api#documentation": "A map of response identifiers to responses.",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#IntegrationType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "aws",
                        "name": "AWS"
                    },
                    {
                        "value": "aws_proxy",
                        "name": "AWS_PROXY"
                    },
                    {
                        "value": "http",
                        "name": "HTTP"
                    },
                    {
                        "value": "http_proxy",
                        "name": "HTTP_PROXY"
                    }
                ]
            }
        },
        "com.amazonaws.machinelearning#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.machinelearning#ErrorMessage"
                },
                "code": {
                    "target": "com.amazonaws.machinelearning#ErrorCode"
                }
            },
            "traits": {
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "aws.protocoltests.json#InvalidGreeting": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "This error is thrown when an invalid greeting value is provided.",
                "smithy.api#error": "client",
                "smithy.test#httpResponseTests": [
                    {
                        "id": "AwsJson11InvalidGreetingError",
                        "documentation": "Parses simple JSON errors",
                        "protocol": "aws.protocols#awsJson1_1",
                        "params": {
                            "Message": "Hi"
                        },
                        "code": 400,
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": "{\n    \"__type\": \"InvalidGreeting\",\n    \"Message\": \"Hi\"\n}",
                        "bodyMediaType": "application/json"
                    }
                ]
            }
        },
        "com.amazonaws.machinelearning#InvalidInputException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.machinelearning#ErrorMessage"
                },
                "code": {
                    "target": "com.amazonaws.machinelearning#ErrorCode"
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "aws.protocoltests.shared#JpegBlob": {
            "type": "blob",
            "traits": {
                "smithy.api#mediaType": "image/jpeg"
            }
        },
        "aws.protocoltests.json#JsonEnums": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.json#JsonEnumsInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.json#JsonEnumsInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "This example serializes enums as top level properties, in lists, sets, and maps.",
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "AwsJson11Enums",
                        "documentation": "Serializes simple scalar properties",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\n    \"fooEnum1\": \"Foo\",\n    \"fooEnum2\": \"0\",\n    \"fooEnum3\": \"1\",\n    \"fooEnumList\": [\n        \"Foo\",\n        \"0\"\n    ],\n    \"fooEnumSet\": [\n        \"Foo\",\n        \"0\"\n    ],\n    \"fooEnumMap\": {\n        \"hi\": \"Foo\",\n        \"zero\": \"0\"\n    }\n}",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "bodyMediaType": "application/json",
                        "params": {
                            "fooEnum1": "Foo",
                            "fooEnum2": "0",
                            "fooEnum3": "1",
                            "fooEnumList": [
                                "Foo",
                                "0"
                            ],
                            "fooEnumSet": [
                                "Foo",
                                "0"
                            ],
                            "fooEnumMap": {
                                "hi": "Foo",
                                "zero": "0"
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "AwsJson11Enums",
                        "documentation": "Serializes simple scalar properties",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 200,
                        "body": "{\n    \"fooEnum1\": \"Foo\",\n    \"fooEnum2\": \"0\",\n    \"fooEnum3\": \"1\",\n    \"fooEnumList\": [\n        \"Foo\",\n        \"0\"\n    ],\n    \"fooEnumSet\": [\n        \"Foo\",\n        \"0\"\n    ],\n    \"fooEnumMap\": {\n        \"hi\": \"Foo\",\n        \"zero\": \"0\"\n    }\n}",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "bodyMediaType": "application/json",
                        "params": {
                            "fooEnum1": "Foo",
                            "fooEnum2": "0",
                            "fooEnum3": "1",
                            "fooEnumList": [
                                "Foo",
                                "0"
                            ],
                            "fooEnumSet": [
                                "Foo",
                                "0"
                            ],
                            "fooEnumMap": {
                                "hi": "Foo",
                                "zero": "0"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.json#JsonEnumsInputOutput": {
            "type": "structure",
            "members": {
                "fooEnum1": {
                    "target": "aws.protocoltests.shared#FooEnum"
                },
                "fooEnum2": {
                    "target": "aws.protocoltests.shared#FooEnum"
                },
                "fooEnum3": {
                    "target": "aws.protocoltests.shared#FooEnum"
                },
                "fooEnumList": {
                    "target": "aws.protocoltests.shared#FooEnumList"
                },
                "fooEnumSet": {
                    "target": "aws.protocoltests.shared#FooEnumSet"
                },
                "fooEnumMap": {
                    "target": "aws.protocoltests.shared#FooEnumMap"
                }
            }
        },
        "aws.protocoltests.json#JsonProtocol": {
            "type": "service",
            "traits": {
                "aws.api#service": {
                    "sdkId": "Json Protocol",
                    "arnNamespace": "jsonprotocol",
                    "cloudFormationName": "JsonProtocol",
                    "cloudTrailEventSource": "jsonprotocol.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "foo"
                },
                "aws.protocols#awsJson1_1": {},
                "smithy.api#title": "Sample Json 1.1 Protocol Service"
            },
            "version": "2018-01-01",
            "operations": [
                {
                    "target": "aws.protocoltests.json#EmptyOperation"
                },
                {
                    "target": "aws.protocoltests.json#EndpointOperation"
                },
                {
                    "target": "aws.protocoltests.json#EndpointWithHostLabelOperation"
                },
                {
                    "target": "aws.protocoltests.json#GreetingWithErrors"
                },
                {
                    "target": "aws.protocoltests.json#HostWithPathOperation"
                },
                {
                    "target": "aws.protocoltests.json#JsonEnums"
                },
                {
                    "target": "aws.protocoltests.json#JsonUnions"
                },
                {
                    "target": "aws.protocoltests.json#KitchenSinkOperation"
                },
                {
                    "target": "aws.protocoltests.json#NullOperation"
                },
                {
                    "target": "aws.protocoltests.json#OperationWithOptionalInputOutput"
                },
                {
                    "target": "aws.protocoltests.json#PutAndGetInlineDocuments"
                },
                {
                    "target": "aws.protocoltests.json#SimpleScalarProperties"
                }
            ]
        },
        "aws.protocoltests.json#JsonUnions": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.json#UnionInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.json#UnionInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "This operation uses unions for inputs and outputs.",
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "AwsJson11SerializeStringUnionValue",
                        "documentation": "Serializes a string union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\n    \"contents\": {\n        \"stringValue\": \"foo\"\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1",
                            "X-Amz-Target": "JsonProtocol.JsonUnions"
                        },
                        "params": {
                            "contents": {
                                "stringValue": "foo"
                            }
                        }
                    },
                    {
                        "id": "AwsJson11SerializeBooleanUnionValue",
                        "documentation": "Serializes a boolean union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\n    \"contents\": {\n        \"booleanValue\": true\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1",
                            "X-Amz-Target": "JsonProtocol.JsonUnions"
                        },
                        "params": {
                            "contents": {
                                "booleanValue": true
                            }
                        }
                    },
                    {
                        "id": "AwsJson11SerializeNumberUnionValue",
                        "documentation": "Serializes a number union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\n    \"contents\": {\n        \"numberValue\": 1\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1",
                            "X-Amz-Target": "JsonProtocol.JsonUnions"
                        },
                        "params": {
                            "contents": {
                                "numberValue": 1
                            }
                        }
                    },
                    {
                        "id": "AwsJson11SerializeBlobUnionValue",
                        "documentation": "Serializes a blob union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\n    \"contents\": {\n        \"blobValue\": \"Zm9v\"\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1",
                            "X-Amz-Target": "JsonProtocol.JsonUnions"
                        },
                        "params": {
                            "contents": {
                                "blobValue": "foo"
                            }
                        }
                    },
                    {
                        "id": "AwsJson11SerializeTimestampUnionValue",
                        "documentation": "Serializes a timestamp union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\n    \"contents\": {\n        \"timestampValue\": 1398796238\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1",
                            "X-Amz-Target": "JsonProtocol.JsonUnions"
                        },
                        "params": {
                            "contents": {
                                "timestampValue": 1398796238
                            }
                        }
                    },
                    {
                        "id": "AwsJson11SerializeEnumUnionValue",
                        "documentation": "Serializes an enum union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\n    \"contents\": {\n        \"enumValue\": \"Foo\"\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1",
                            "X-Amz-Target": "JsonProtocol.JsonUnions"
                        },
                        "params": {
                            "contents": {
                                "enumValue": "Foo"
                            }
                        }
                    },
                    {
                        "id": "AwsJson11SerializeListUnionValue",
                        "documentation": "Serializes a list union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\n    \"contents\": {\n        \"listValue\": [\"foo\", \"bar\"]\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1",
                            "X-Amz-Target": "JsonProtocol.JsonUnions"
                        },
                        "params": {
                            "contents": {
                                "listValue": [
                                    "foo",
                                    "bar"
                                ]
                            }
                        }
                    },
                    {
                        "id": "AwsJson11SerializeMapUnionValue",
                        "documentation": "Serializes a map union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\n    \"contents\": {\n        \"mapValue\": {\n            \"foo\": \"bar\",\n            \"spam\": \"eggs\"\n        }\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1",
                            "X-Amz-Target": "JsonProtocol.JsonUnions"
                        },
                        "params": {
                            "contents": {
                                "mapValue": {
                                    "foo": "bar",
                                    "spam": "eggs"
                                }
                            }
                        }
                    },
                    {
                        "id": "AwsJson11SerializeStructureUnionValue",
                        "documentation": "Serializes a structure union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "method": "POST",
                        "uri": "/",
                        "body": "{\n    \"contents\": {\n        \"structureValue\": {\n            \"hi\": \"hello\"\n        }\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1",
                            "X-Amz-Target": "JsonProtocol.JsonUnions"
                        },
                        "params": {
                            "contents": {
                                "structureValue": {
                                    "hi": "hello"
                                }
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "AwsJson11DeserializeStringUnionValue",
                        "documentation": "Deserializes a string union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 200,
                        "body": "{\n    \"contents\": {\n        \"stringValue\": \"foo\"\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "params": {
                            "contents": {
                                "stringValue": "foo"
                            }
                        }
                    },
                    {
                        "id": "AwsJson11DeserializeBooleanUnionValue",
                        "documentation": "Deserializes a boolean union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 200,
                        "body": "{\n    \"contents\": {\n        \"booleanValue\": true\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "params": {
                            "contents": {
                                "booleanValue": true
                            }
                        }
                    },
                    {
                        "id": "AwsJson11DeserializeNumberUnionValue",
                        "documentation": "Deserializes a number union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 200,
                        "body": "{\n    \"contents\": {\n        \"numberValue\": 1\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "params": {
                            "contents": {
                                "numberValue": 1
                            }
                        }
                    },
                    {
                        "id": "AwsJson11DeserializeBlobUnionValue",
                        "documentation": "Deserializes a blob union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 200,
                        "body": "{\n    \"contents\": {\n        \"blobValue\": \"Zm9v\"\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "params": {
                            "contents": {
                                "blobValue": "foo"
                            }
                        }
                    },
                    {
                        "id": "AwsJson11DeserializeTimestampUnionValue",
                        "documentation": "Deserializes a timestamp union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 200,
                        "body": "{\n    \"contents\": {\n        \"timestampValue\": 1398796238\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "params": {
                            "contents": {
                                "timestampValue": 1398796238
                            }
                        }
                    },
                    {
                        "id": "AwsJson11DeserializeEnumUnionValue",
                        "documentation": "Deserializes an enum union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 200,
                        "body": "{\n    \"contents\": {\n        \"enumValue\": \"Foo\"\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "params": {
                            "contents": {
                                "enumValue": "Foo"
                            }
                        }
                    },
                    {
                        "id": "AwsJson11DeserializeListUnionValue",
                        "documentation": "Deserializes a list union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 200,
                        "body": "{\n    \"contents\": {\n        \"listValue\": [\"foo\", \"bar\"]\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "params": {
                            "contents": {
                                "listValue": [
                                    "foo",
                                    "bar"
                                ]
                            }
                        }
                    },
                    {
                        "id": "AwsJson11DeserializeMapUnionValue",
                        "documentation": "Deserializes a map union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 200,
                        "body": "{\n    \"contents\": {\n        \"mapValue\": {\n            \"foo\": \"bar\",\n            \"spam\": \"eggs\"\n        }\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "params": {
                            "contents": {
                                "mapValue": {
                                    "foo": "bar",
                                    "spam": "eggs"
                                }
                            }
                        }
                    },
                    {
                        "id": "AwsJson11DeserializeStructureUnionValue",
                        "documentation": "Deserializes a structure union value",
                        "protocol": "aws.protocols#awsJson1_1",
                        "code": 200,
                        "body": "{\n    \"contents\": {\n        \"structureValue\": {\n            \"hi\": \"hello\"\n        }\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/x-amz-json-1.1"
                        },
                        "params": {
                            "contents": {
                                "structureValue": {
                                    "hi": "hello"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.json#JsonValue": {
            "type": "string",
            "traits": {
                "smithy.api#mediaType": "application/json"
            }
        },
        "aws.protocoltests.json#KitchenSink": {
            "type": "structure",
            "members": {
                "Blob": {
                    "target": "smithy.api#Blob"
                },
                "Boolean": {
                    "target": "smithy.api#Boolean"
                },
                "Double": {
                    "target": "smithy.api#Double"
                },
                "EmptyStruct": {
                    "target": "aws.protocoltests.json#EmptyStruct"
                },
                "Float": {
[...]
