{
    "smithy": "1.0",
    "metadata": {
        "suppressions": [
            {
                "id": "DeprecatedTrait",
                "namespace": "*",
                "reason": "Some of the AWS protocols make use of deprecated traits, and some are\nthemselves deprecated traits. As this package is intended to test those\nprotocols, the warnings should be suppressed."
            },
            {
                "id": "UnreferencedShape",
                "namespace": "aws.protocoltests.config",
                "reason": "These shapes are intended to be used to validate vendorParams in\nprotocol tests, so they naturally will not be connected to a service.\n"
            }
        ]
    },
    "shapes": {
        "smithy.test#AppliesTo": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "client",
                        "name": "CLIENT",
                        "documentation": "The test only applies to client implementations."
                    },
                    {
                        "value": "server",
                        "name": "SERVER",
                        "documentation": "The test only applies to server implementations."
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#Arn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {},
                "smithy.api#documentation": "<p>The ARN of an AWS integration target.</p><p>This string MAY contain the literal string <code>{serviceName}</code> and/or the literal string <code>{operationName}</code>, which will be replaced with the name of the Smithy service shape and the name of the Smithy operation shape, respectively.</p>",
                "smithy.api#private": {}
            }
        },
        "aws.api#ArnNamespace": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-z0-9.\\-]{1,63}$",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#AuthorizerDefinition": {
            "type": "structure",
            "members": {
                "scheme": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Smithy authentication scheme used by the client (e.g, aws.v4).",
                        "smithy.api#idRef": {
                            "selector": "[trait|authDefinition]",
                            "failWhenMissing": true,
                            "errorMessage": "The scheme of an authorizer definition must reference an auth trait"
                        },
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The type of the authorizer. If specifying information beyond the scheme, this value is required. The value must be \"token\", for an authorizer with the caller identity embedded in an authorization token, or \"request\", for an authorizer with the caller identity contained in request parameters."
                    }
                },
                "customAuthType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "This value is not used directly by API Gateway but will be used for OpenAPI exports. This will default to \"awsSigV4\" if your scheme is \"aws.v4\", or \"custom\" otherwise."
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Uniform Resource Identifier (URI) of the authorizer Lambda function"
                    }
                },
                "credentials": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Credentials required for invoking the authorizer"
                    }
                },
                "identitySource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Comma-separated list of mapping expressions of the request parameters as the identity source. Applicable for the authorizer of the \"request\" type only."
                    }
                },
                "identityValidationExpression": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A regular expression for validating the token as the incoming identity"
                    }
                },
                "resultTtlInSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The number of seconds for which the resulting IAM policy is cached."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An object that associates an authorizer and associated metadata with an authentication mechanism.",
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.config#AwsConfig": {
            "type": "structure",
            "members": {
                "clockTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "This is the time that should be set during the course of the test.\nThis is important for things like signing where the clock time impacts\nthe result."
                    }
                },
                "scopedConfig": {
                    "target": "aws.protocoltests.config#ScopedConfig"
                }
            }
        },
        "aws.protocoltests.shared#BooleanList": {
            "type": "list",
            "member": {
                "target": "smithy.api#PrimitiveBoolean"
            }
        },
        "aws.protocols#ChecksumAlgorithm": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CRC32C",
                        "name": "CRC32C"
                    },
                    {
                        "value": "CRC32",
                        "name": "CRC32"
                    },
                    {
                        "value": "SHA1",
                        "name": "SHA1"
                    },
                    {
                        "value": "SHA256",
                        "name": "SHA256"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocols#ChecksumAlgorithmSet": {
            "type": "list",
            "member": {
                "target": "aws.protocols#ChecksumAlgorithm"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#private": {},
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.protocoltests.config#ClientConfig": {
            "type": "structure",
            "members": {
                "aws_access_key_id": {
                    "target": "smithy.api#String"
                },
                "aws_secret_access_key": {
                    "target": "smithy.api#String"
                },
                "aws_session_token": {
                    "target": "smithy.api#String"
                },
                "region": {
                    "target": "smithy.api#String"
                },
                "s3": {
                    "target": "aws.protocoltests.config#S3Config"
                },
                "retry_config": {
                    "target": "aws.protocoltests.config#RetryConfig"
                },
                "aws_profile": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "Configuration that is set on the constructed client."
            }
        },
        "aws.api#CloudFormationName": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[A-Z][A-Za-z0-9]+$",
                "smithy.api#private": {}
            }
        },
        "aws.iam#ConditionKeyDefinition": {
            "type": "structure",
            "members": {
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines documentation about the condition key."
                    }
                },
                "externalDocumentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A valid URL that defines more information about the condition key."
                    }
                },
                "type": {
                    "target": "aws.iam#ConditionKeyType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A defined condition key to appear within a service in addition to inferred and global condition keys.",
                "smithy.api#private": {}
            }
        },
        "aws.iam#ConditionKeyType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The IAM policy type of the value that will supplied for this context key",
                "smithy.api#enum": [
                    {
                        "value": "ARN",
                        "name": "ARN"
                    },
                    {
                        "value": "ArrayOfARN",
                        "name": "ARRAY_OF_ARN"
                    },
                    {
                        "value": "Binary",
                        "name": "BINARY"
                    },
                    {
                        "value": "ArrayOfBinary",
                        "name": "ARRAY_OF_BINARY"
                    },
                    {
                        "value": "String",
                        "name": "STRING"
                    },
                    {
                        "value": "ArrayOfString",
                        "name": "ARRAY_OF_STRING"
                    },
                    {
                        "value": "Numeric",
                        "name": "NUMERIC"
                    },
                    {
                        "value": "ArrayOfNumeric",
                        "name": "ARRAY_OF_NUMERIC"
                    },
                    {
                        "value": "Date",
                        "name": "DATE"
                    },
                    {
                        "value": "ArrayOfDate",
                        "name": "ARRAY_OF_DATE"
                    },
                    {
                        "value": "Bool",
                        "name": "BOOL"
                    },
                    {
                        "value": "ArrayOfBool",
                        "name": "ARRAY_OF_BOOL"
                    },
                    {
                        "value": "IPAddress",
                        "name": "IP_ADDRESS"
                    },
                    {
                        "value": "ArrayOfIPAddress",
                        "name": "ARRAY_OF_IP_ADDRESS"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.config#ConfigFile": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#documentation": "The top level key in a config file is the \"profile\", which is a string.\nIf a profile is not explicitly set, then implementations should check the\nprofile named \"default\"."
                }
            },
            "value": {
                "target": "aws.protocoltests.config#FileConfigSettings",
                "traits": {
                    "smithy.api#documentation": "The value is a collection of settings."
                }
            },
            "traits": {
                "smithy.api#documentation": "A shape representing a parsed config file, which is a map of profile names\nto configuration sets."
            }
        },
        "aws.apigateway#ConnectionType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "INTERNET",
                        "value": "INTERNET"
                    },
                    {
                        "name": "VPC_LINK",
                        "value": "VPC_LINK"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#ContentHandling": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Defines the contentHandling for the integration",
                "smithy.api#enum": [
                    {
                        "value": "CONVERT_TO_TEXT",
                        "name": "CONVERT_TO_TEXT"
                    },
                    {
                        "value": "CONVERT_TO_BINARY",
                        "name": "CONVERT_TO_BINARY"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.shared#DateTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "aws.protocoltests.shared#DoubleList": {
            "type": "list",
            "member": {
                "target": "smithy.api#Double"
            }
        },
        "aws.protocoltests.config#EnvironmentConfig": {
            "type": "structure",
            "members": {
                "AWS_ACCESS_KEY_ID": {
                    "target": "smithy.api#String"
                },
                "AWS_SECRET_ACCESS_KEY": {
                    "target": "smithy.api#String"
                },
                "AWS_DEFAULT_REGION": {
                    "target": "smithy.api#String"
                },
                "AWS_RETRY_MODE": {
                    "target": "aws.protocoltests.config#RetryMode"
                },
                "AWS_SESSION_TOKEN": {
                    "target": "smithy.api#String"
                },
                "AWS_PROFILE": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "Config settings that can be set as environment variables."
            }
        },
        "aws.protocoltests.shared#EpochSeconds": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "epoch-seconds"
            }
        },
        "aws.protocoltests.config#FileConfigSettings": {
            "type": "structure",
            "members": {
                "aws_access_key_id": {
                    "target": "smithy.api#String"
                },
                "aws_secret_access_key": {
                    "target": "smithy.api#String"
                },
                "aws_session_token": {
                    "target": "smithy.api#String"
                },
                "region": {
                    "target": "smithy.api#String"
                },
                "s3": {
                    "target": "aws.protocoltests.config#S3Config"
                },
                "retry_mode": {
                    "target": "aws.protocoltests.config#RetryMode"
                },
                "max_attempts": {
                    "target": "smithy.api#Short"
                }
            },
            "traits": {
                "smithy.api#documentation": "Config settings that can be set in the AWS config / credentials file as\npart of a profile."
            }
        },
        "aws.protocoltests.shared#FooEnum": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "FOO",
                        "value": "Foo"
                    },
                    {
                        "name": "BAZ",
                        "value": "Baz"
                    },
                    {
                        "name": "BAR",
                        "value": "Bar"
                    },
                    {
                        "name": "ONE",
                        "value": "1"
                    },
                    {
                        "name": "ZERO",
                        "value": "0"
                    }
                ]
            }
        },
        "aws.protocoltests.shared#FooEnumList": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#FooEnum"
            }
        },
        "aws.protocoltests.shared#FooEnumMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.protocoltests.shared#FooEnum"
            }
        },
        "aws.protocoltests.shared#FooEnumSet": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#FooEnum"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.protocoltests.shared#GreetingList": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#GreetingStruct"
            }
        },
        "aws.protocoltests.shared#GreetingStruct": {
            "type": "structure",
            "members": {
                "hi": {
                    "target": "smithy.api#String"
                }
            }
        },
        "aws.protocoltests.shared#HttpDate": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "http-date"
            }
        },
        "smithy.test#HttpMalformedRequestDefinition": {
            "type": "structure",
            "members": {
                "method": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The HTTP request method.",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The request-target of the HTTP request, not including\nthe query string (for example, \"/foo/bar\").",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "host": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The host / endpoint provided to the client, not including the path\nor scheme (for example, \"example.com\")."
                    }
                },
                "queryParams": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of the serialized query string parameters to include in the request.\n\nEach element in the list is a query string key value pair\nthat starts with the query string parameter name optionally\nfollowed by \"=\", optionally followed by the query string\nparameter value. For example, \"foo=bar\", \"foo=\", and \"foo\"\nare all valid values. The query string parameter name and\nthe value MUST appear in the format in which it is expected\nto be sent over the wire; if a key or value needs to be\npercent-encoded, then it MUST appear percent-encoded in this list."
                    }
                },
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "Defines a map of HTTP headers to include in the request"
                    }
                },
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The HTTP message body to include in the request"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedRequestTestCase": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The identifier of the test case. This identifier can be used by\nprotocol test implementations to filter out unsupported test\ncases by ID, to generate test case names, etc. The provided `id`\nMUST match Smithy's `identifier` ABNF. No two `httpMalformedRequestTests`\ntest cases can share the same ID.",
                        "smithy.api#pattern": "^[A-Za-z_][A-Za-z0-9_]+$",
                        "smithy.api#required": {}
                    }
                },
                "protocol": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the protocol to test.",
                        "smithy.api#idRef": {
                            "selector": "[trait|protocolDefinition]",
                            "failWhenMissing": true
                        },
                        "smithy.api#required": {}
                    }
                },
                "request": {
                    "target": "smithy.test#HttpMalformedRequestDefinition",
                    "traits": {
                        "smithy.api#documentation": "The malformed request to send.",
                        "smithy.api#required": {}
                    }
                },
                "response": {
                    "target": "smithy.test#HttpMalformedResponseDefinition",
                    "traits": {
                        "smithy.api#documentation": "The expected response.",
                        "smithy.api#required": {}
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A description of the test and what is being asserted."
                    }
                },
                "tags": {
                    "target": "smithy.test#NonEmptyStringList",
                    "traits": {
                        "smithy.api#documentation": "Applies a list of tags to the test."
                    }
                },
                "testParameters": {
                    "target": "smithy.test#HttpMalformedRequestTestParametersDefinition",
                    "traits": {
                        "smithy.api#documentation": "An optional set of test parameters for parameterized testing."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedRequestTestParametersDefinition": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.test#StringList"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseBodyAssertion": {
            "type": "union",
            "members": {
                "contents": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines the expected serialized response body, which will be matched\nexactly."
                    }
                },
                "messageRegex": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A regex to evaluate against the `message` field in the body. For\nresponses that may have some variance from platform to platform,\nsuch as those that include messages from a parser."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseBodyDefinition": {
            "type": "structure",
            "members": {
                "assertion": {
                    "target": "smithy.test#HttpMalformedResponseBodyAssertion",
                    "traits": {
                        "smithy.api#documentation": "The assertion to execute against the response body.",
                        "smithy.api#required": {}
                    }
                },
                "mediaType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The media type of the response body.\n\nThis is used to help test runners to parse and evaluate\n`contents' and `messageRegex` in the assertion",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseDefinition": {
            "type": "structure",
            "members": {
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "Defines a map of expected HTTP headers.\n\nHeaders that are not listed in this map are ignored."
                    }
                },
                "code": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Defines the HTTP response code.",
                        "smithy.api#range": {
                            "min": 100,
                            "max": 599
                        },
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "smithy.test#HttpMalformedResponseBodyDefinition",
                    "traits": {
                        "smithy.api#documentation": "The expected response body."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpRequestTestCase": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The identifier of the test case. This identifier can be used by\nprotocol test implementations to filter out unsupported test\ncases by ID, to generate test case names, etc. The provided `id`\nMUST match Smithy's `identifier` ABNF. No two `httpRequestTests`\ntest cases can share the same ID.",
                        "smithy.api#pattern": "^[A-Za-z_][A-Za-z0-9_]+$",
                        "smithy.api#required": {}
                    }
                },
                "protocol": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the protocol to test.",
                        "smithy.api#idRef": {
                            "selector": "[trait|protocolDefinition]",
                            "failWhenMissing": true
                        },
                        "smithy.api#required": {}
                    }
                },
                "method": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The expected serialized HTTP request method.",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The request-target of the HTTP request, not including\nthe query string (for example, \"/foo/bar\").",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "host": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The host / endpoint provided to the client, not including the path\nor scheme (for example, \"example.com\")."
                    }
                },
                "resolvedHost": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The host / endpoint that the client should send to, not including\nthe path or scheme (for example, \"prefix.example.com\").\n\nThis can differ from the host provided to the client if the `hostPrefix`\nmember of the `endpoint` trait is set, for instance."
                    }
                },
                "authScheme": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The optional authentication scheme shape ID to assume. It's\npossible that specific authentication schemes might influence\nthe serialization logic of an HTTP request.",
                        "smithy.api#idRef": {
                            "selector": "[trait|authDefinition]",
                            "failWhenMissing": true
                        }
                    }
                },
                "queryParams": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of the expected serialized query string parameters.\n\nEach element in the list is a query string key value pair\nthat starts with the query string parameter name optionally\nfollowed by \"=\", optionally followed by the query string\nparameter value. For example, \"foo=bar\", \"foo=\", and \"foo\"\nare all valid values. The query string parameter name and\nthe value MUST appear in the format in which it is expected\nto be sent over the wire; if a key or value needs to be\npercent-encoded, then it MUST appear percent-encoded in this list.\n\nA serialized HTTP request is not in compliance with the protocol\nif any query string parameter defined in `queryParams` is not\ndefined in the request or if the value of a query string parameter\nin the request differs from the expected value.\n\n`queryParams` applies no constraints on additional query parameters."
                    }
                },
                "forbidQueryParams": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of query string parameter names that must not appear in the\nserialized HTTP request.\n\nEach value MUST appear in the format in which it is sent over the\nwire; if a key needs to be percent-encoded, then it MUST appear\npercent-encoded in this list."
                    }
                },
                "requireQueryParams": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of query string parameter names that MUST appear in the\nserialized request URI, but no assertion is made on the value.\n\nEach value MUST appear in the format in which it is sent over the\nwire; if a key needs to be percent-encoded, then it MUST appear\npercent-encoded in this list."
                    }
                },
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "Defines a map of expected HTTP headers.\n\nHeaders that are not listed in this map are ignored unless they are\nexplicitly forbidden through `forbidHeaders`."
                    }
                },
                "forbidHeaders": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of header field names that must not appear in the serialized\nHTTP request."
                    }
                },
                "requireHeaders": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of header field names that must appear in the serialized\nHTTP message, but no assertion is made on the value.\n\nHeaders listed in `headers` do not need to appear in this list."
                    }
                },
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The expected HTTP message body.\n\nIf no request body is defined, then no assertions are made about\nthe body of the message."
                    }
                },
                "bodyMediaType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The media type of the `body`.\n\nThis is used to help test runners to parse and validate the expected\ndata against generated data."
                    }
                },
                "params": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines the input parameters used to generated the HTTP request.\n\nThese parameters MUST be compatible with the input of the operation."
                    }
                },
                "vendorParams": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines vendor-specific parameters that are used to influence the\nrequest. For example, some vendors might utilize environment\nvariables, configuration files on disk, or other means to influence\nthe serialization formats used by clients or servers.\n\nIf a `vendorParamsShape` is set, these parameters MUST be compatible\nwith that shape's definition."
                    }
                },
                "vendorParamsShape": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A shape to be used to validate the `vendorParams` member contents.\n\nIf set, the parameters in `vendorParams` MUST be compatible with this\nshape's definition.",
                        "smithy.api#idRef": {
                            "failWhenMissing": true
                        }
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A description of the test and what is being asserted."
                    }
                },
                "tags": {
                    "target": "smithy.test#NonEmptyStringList",
                    "traits": {
                        "smithy.api#documentation": "Applies a list of tags to the test."
                    }
                },
                "appliesTo": {
                    "target": "smithy.test#AppliesTo",
                    "traits": {
                        "smithy.api#documentation": "Indicates that the test case is only to be implemented by \"client\" or\n\"server\" implementations. This property is useful for identifying and\ntesting edge cases of clients and servers that are impossible or\nundesirable to test in *both* client and server implementations."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpResponseTestCase": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The identifier of the test case. This identifier can be used by\nprotocol test implementations to filter out unsupported test\ncases by ID, to generate test case names, etc. The provided `id`\nMUST match Smithy's `identifier` ABNF. No two `httpResponseTests`\ntest cases can share the same ID.",
                        "smithy.api#pattern": "^[A-Za-z_][A-Za-z0-9_]+$",
                        "smithy.api#required": {}
                    }
                },
                "protocol": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The shape ID of the protocol to test.",
                        "smithy.api#idRef": {
                            "selector": "[trait|protocolDefinition]",
                            "failWhenMissing": true
                        },
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Defines the HTTP response code.",
                        "smithy.api#range": {
                            "min": 100,
                            "max": 599
                        },
                        "smithy.api#required": {}
                    }
                },
                "authScheme": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The optional authentication scheme shape ID to assume. It's possible\nthat specific authentication schemes might influence the serialization\nlogic of an HTTP response.",
                        "smithy.api#idRef": {
                            "selector": "[trait|authDefinition]",
                            "failWhenMissing": true
                        }
                    }
                },
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "A map of expected HTTP headers. Each key represents a header field\nname and each value represents the expected header value. An HTTP\nresponse is not in compliance with the protocol if any listed header\nis missing from the serialized response or if the expected header\nvalue differs from the serialized response value.\n\n`headers` applies no constraints on additional headers."
                    }
                },
                "forbidHeaders": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of header field names that must not appear."
                    }
                },
                "requireHeaders": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of header field names that must appear in the serialized\nHTTP message, but no assertion is made on the value.\n\nHeaders listed in `headers` map do not need to appear in this list."
                    }
                },
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines the HTTP message body.\n\nIf no response body is defined, then no assertions are made about\nthe body of the message."
                    }
                },
                "bodyMediaType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The media type of the `body`.\n\nThis is used to help test runners to parse and validate the expected\ndata against generated data. Binary media type formats require that\nthe contents of `body` are base64 encoded."
                    }
                },
                "params": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines the output parameters deserialized from the HTTP response.\n\nThese parameters MUST be compatible with the output of the operation."
                    }
                },
                "vendorParams": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "Defines vendor-specific parameters that are used to influence the\nresponse. For example, some vendors might utilize environment\nvariables, configuration files on disk, or other means to influence\nthe serialization formats used by clients or servers.\n\nIf a `vendorParamsShape` is set, these parameters MUST be compatible\nwith that shape's definition."
                    }
                },
                "vendorParamsShape": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A shape to be used to validate the `vendorParams` member contents.\n\nIf set, the parameters in `vendorParams` MUST be compatible with this\nshape's definition.",
                        "smithy.api#idRef": {
                            "failWhenMissing": true
                        }
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A description of the test and what is being asserted."
                    }
                },
                "tags": {
                    "target": "smithy.test#NonEmptyStringList",
                    "traits": {
                        "smithy.api#documentation": "Applies a list of tags to the test."
                    }
                },
                "appliesTo": {
                    "target": "smithy.test#AppliesTo",
                    "traits": {
                        "smithy.api#documentation": "Indicates that the test case is only to be implemented by \"client\" or\n\"server\" implementations. This property is useful for identifying and\ntesting edge cases of clients and servers that are impossible or\nundesirable to test in *both* client and server implementations."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.iam#IamIdentifier": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^([A-Za-z0-9][A-Za-z0-9-\\.]{0,62}:[^:]+)$",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#IamRoleArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::IAM::Role"
                },
                "smithy.api#documentation": "<p>The ARN of the IAM role to assume with invoking the integration.</p><p>This string MAY contain the literal string <code>{serviceName}</code> and/or the literal string <code>{operationName}</code>, which will be replaced with the name of the Smithy service shape and the name of the Smithy operation shape, respectively.</p>",
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.shared#IntegerList": {
            "type": "list",
            "member": {
                "target": "smithy.api#Integer"
            }
        },
        "aws.protocoltests.shared#IntegerSet": {
            "type": "list",
            "member": {
                "target": "smithy.api#Integer"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.apigateway#IntegrationResponse": {
            "type": "structure",
            "members": {
                "statusCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "HTTP status code for the method response; for example, \"200\". This must correspond to a matching response in the OpenAPI Operation responses field."
                    }
                },
                "contentHandling": {
                    "target": "aws.apigateway#ContentHandling"
                },
                "responseTemplates": {
                    "target": "aws.apigateway#Templates"
                },
                "responseParameters": {
                    "target": "aws.apigateway#ResponseParameters"
                }
            },
            "traits": {
                "smithy.api#documentation": "Defines a response and specifies parameter mappings.",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#IntegrationResponses": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.apigateway#IntegrationResponse"
            },
            "traits": {
                "smithy.api#documentation": "A map of response identifiers to responses.",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#IntegrationType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "aws",
                        "name": "AWS"
                    },
                    {
                        "value": "aws_proxy",
                        "name": "AWS_PROXY"
                    },
                    {
                        "value": "http",
                        "name": "HTTP"
                    },
                    {
                        "value": "http_proxy",
                        "name": "HTTP_PROXY"
                    }
                ]
            }
        },
        "aws.protocoltests.shared#JpegBlob": {
            "type": "blob",
            "traits": {
                "smithy.api#mediaType": "image/jpeg"
            }
        },
        "aws.protocoltests.shared#NestedStringList": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#StringList"
            },
            "traits": {
                "smithy.api#documentation": "A list of lists of strings."
            }
        },
        "aws.protocoltests.restxml.xmlns#NestedWithNamespace": {
            "type": "structure",
            "members": {
                "attrField": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#xmlAttribute": {},
                        "smithy.api#xmlName": "xsi:someName"
                    }
                }
            }
        },
        "smithy.test#NonEmptyString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#private": {}
            }
        },
        "smithy.test#NonEmptyStringList": {
            "type": "list",
            "member": {
                "target": "smithy.test#NonEmptyString"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.config#OperationConfig": {
            "type": "structure",
            "members": {
                "s3": {
                    "target": "aws.protocoltests.config#S3Config"
                }
            },
            "traits": {
                "smithy.api#documentation": "Configuration that is set for the scope of a single operation."
            }
        },
        "aws.apigateway#PassThroughBehavior": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Defines the passThroughBehavior for the integration",
                "smithy.api#enum": [
                    {
                        "value": "when_no_templates",
                        "name": "WHEN_NO_TEMPLATES"
                    },
                    {
                        "value": "when_no_match",
                        "name": "WHEN_NO_MATCH"
                    },
                    {
                        "value": "never",
                        "name": "NEVER"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.iam#PrincipalType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "An IAM policy principal type.",
                "smithy.api#enum": [
                    {
                        "value": "Root",
                        "name": "ROOT"
                    },
                    {
                        "value": "IAMUser",
                        "name": "IAM_USER"
                    },
                    {
                        "value": "IAMRole",
                        "name": "IAM_ROLE"
                    },
                    {
                        "value": "FederatedUser",
                        "name": "FEDERATED_USER"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#RequestParameters": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#documentation": "<p>A mapping of integration request parameters to the API Gateway data mapping expression that should be used to populate the parameter.</p> <p><strong>Note:</strong> This feature is provided primarily to allow injecting static values and context variables for request parameters. Request data MAY be mapped to headers using the syntax described in <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/request-response-data-mappings.html#mapping-response-parameters\">the API Gateway Developer Guide</a>; however, the data must be identified according to its location in the serialized request, which may differ from protocol to protocol. Here be dragons!</p>",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#ResponseParameters": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#documentation": "Specifies parameter mappings for the response. Only the header and body parameters of the integration response can be mapped to the header parameters of the method.",
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.restxml.xmlns#RestXmlWithNamespace": {
            "type": "service",
            "traits": {
                "aws.api#service": {
                    "sdkId": "Rest Xml Protocol Namespace"
                },
                "aws.protocols#restXml": {},
                "smithy.api#documentation": "A REST XML service that sends XML requests and responses.\n\nThis service and test case is complementary to the test cases\nin the `restXml` directory, but the service under test here has\nthe `xmlNamespace` trait applied to it.\n\nSee https://github.com/awslabs/smithy/issues/616",
                "smithy.api#xmlNamespace": {
                    "uri": "https://example.com"
                }
            },
            "version": "2019-12-16",
            "operations": [
                {
                    "target": "aws.protocoltests.restxml.xmlns#SimpleScalarProperties"
                }
            ]
        },
        "aws.protocoltests.config#RetryConfig": {
            "type": "structure",
            "members": {
                "mode": {
                    "target": "aws.protocoltests.config#RetryMode"
                },
                "max_attempts": {
                    "target": "smithy.api#Short"
                }
            },
            "traits": {
                "smithy.api#documentation": "Configuration specific to retries."
            }
        },
        "aws.protocoltests.config#RetryMode": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Controls the strategy used for retries.",
                "smithy.api#enum": [
                    {
                        "value": "legacy",
                        "name": "LEGACY"
                    },
                    {
                        "value": "standard",
                        "name": "STANDARD"
                    },
                    {
                        "value": "adaptive",
                        "name": "ADAPTIVE"
                    }
                ]
            }
        },
        "aws.protocoltests.config#S3AddressingStyle": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Controls the S3 addressing bucket style.",
                "smithy.api#enum": [
                    {
                        "value": "auto",
                        "name": "AUTO"
                    },
                    {
                        "value": "path",
                        "name": "PATH"
                    },
                    {
                        "value": "virtual",
                        "name": "VIRTUAL"
                    }
                ]
            }
        },
        "aws.protocoltests.config#S3Config": {
            "type": "structure",
            "members": {
                "addressing_style": {
                    "target": "aws.protocoltests.config#S3AddressingStyle"
                },
                "use_accelerate_endpoint": {
                    "target": "smithy.api#Boolean"
                },
                "use_dualstack_endpoint": {
                    "target": "smithy.api#Boolean"
                }
            },
            "traits": {
                "smithy.api#documentation": "Configuration specific to S3."
            }
        },
        "aws.protocoltests.config#ScopedConfig": {
            "type": "structure",
            "members": {
                "environment": {
                    "target": "aws.protocoltests.config#EnvironmentConfig"
                },
                "configFile": {
                    "target": "aws.protocoltests.config#ConfigFile"
                },
                "credentialsFile": {
                    "target": "aws.protocoltests.config#ConfigFile"
                },
                "client": {
                    "target": "aws.protocoltests.config#ClientConfig"
                },
                "operation": {
                    "target": "aws.protocoltests.config#OperationConfig"
                }
            },
            "traits": {
                "smithy.api#documentation": "Config settings that are scoped to different sources, such as environment\nvariables or the AWS config file."
            }
        },
        "aws.protocoltests.restxml.xmlns#SimpleScalarProperties": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml.xmlns#SimpleScalarPropertiesInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml.xmlns#SimpleScalarPropertiesInputOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/SimpleScalarProperties",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "XmlNamespaceSimpleScalarProperties",
                        "documentation": "Serializes simple scalar properties",
                        "protocol": "aws.protocols#restXml",
                        "method": "PUT",
                        "uri": "/SimpleScalarProperties",
                        "body": "<SimpleScalarPropertiesInputOutput xmlns=\"https://example.com\">\n    <stringValue>string</stringValue>\n    <trueBooleanValue>true</trueBooleanValue>\n    <falseBooleanValue>false</falseBooleanValue>\n    <byteValue>1</byteValue>\n    <shortValue>2</shortValue>\n    <integerValue>3</integerValue>\n    <longValue>4</longValue>\n    <floatValue>5.5</floatValue>\n    <DoubleDribble>6.5</DoubleDribble>\n    <Nested xmlns:xsi=\"https://example.com\" xsi:someName=\"nestedAttrValue\"></Nested>\n</SimpleScalarPropertiesInputOutput>\n",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml",
                            "X-Foo": "Foo"
                        },
                        "params": {
                            "foo": "Foo",
                            "stringValue": "string",
                            "trueBooleanValue": true,
                            "falseBooleanValue": false,
                            "byteValue": 1,
                            "shortValue": 2,
                            "integerValue": 3,
                            "longValue": 4,
                            "floatValue": 5.5,
                            "doubleValue": 6.5,
                            "Nested": {
                                "attrField": "nestedAttrValue"
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "XmlNamespaceSimpleScalarProperties",
                        "documentation": "Serializes simple scalar properties",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "<SimpleScalarPropertiesInputOutput xmlns=\"https://example.com\">\n    <stringValue>string</stringValue>\n    <trueBooleanValue>true</trueBooleanValue>\n    <falseBooleanValue>false</falseBooleanValue>\n    <byteValue>1</byteValue>\n    <shortValue>2</shortValue>\n    <integerValue>3</integerValue>\n    <longValue>4</longValue>\n    <floatValue>5.5</floatValue>\n    <DoubleDribble>6.5</DoubleDribble>\n    <Nested xmlns:xsi=\"https://example.com\" xsi:someName=\"nestedAttrValue\"></Nested>\n</SimpleScalarPropertiesInputOutput>\n",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml",
                            "X-Foo": "Foo"
                        },
                        "params": {
                            "foo": "Foo",
                            "stringValue": "string",
                            "trueBooleanValue": true,
                            "falseBooleanValue": false,
                            "byteValue": 1,
                            "shortValue": 2,
                            "integerValue": 3,
                            "longValue": 4,
                            "floatValue": 5.5,
                            "doubleValue": 6.5,
                            "Nested": {
                                "attrField": "nestedAttrValue"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml.xmlns#SimpleScalarPropertiesInputOutput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo"
                    }
                },
                "stringValue": {
                    "target": "smithy.api#String"
                },
                "trueBooleanValue": {
                    "target": "smithy.api#Boolean"
                },
                "falseBooleanValue": {
                    "target": "smithy.api#Boolean"
                },
                "byteValue": {
                    "target": "smithy.api#Byte"
                },
                "shortValue": {
                    "target": "smithy.api#Short"
                },
                "integerValue": {
                    "target": "smithy.api#Integer"
                },
                "longValue": {
                    "target": "smithy.api#Long"
                },
                "floatValue": {
                    "target": "smithy.api#Float"
                },
                "Nested": {
                    "target": "aws.protocoltests.restxml.xmlns#NestedWithNamespace",
                    "traits": {
                        "smithy.api#xmlNamespace": {
                            "prefix": "xsi",
                            "uri": "https://example.com"
                        }
                    }
                },
                "doubleValue": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#xmlName": "DoubleDribble"
                    }
                }
            }
        },
        "aws.protocoltests.shared#SparseStringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#sparse": {}
            }
        },
        "aws.protocoltests.shared#SparseStringMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#sparse": {}
            }
        },
        "smithy.test#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.shared#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "aws.auth#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.protocols#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "aws.protocoltests.shared#StringListMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.protocoltests.shared#StringList"
            }
        },
        "aws.protocoltests.shared#StringMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            }
        },
        "smithy.test#StringMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.shared#StringSet": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.cloudformation#StructureIdList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#idRef": {
                        "failWhenMissing": true,
                        "selector": "structure"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#Templates": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#documentation": "<p>A map of MIME types to velocity templates allowing you to craft a new integration message from received data.</p><p><strong>Note:</strong> This feature is provided primarily to allow injecting static values and context variables for request parameters. Request data MAY be mapped to headers using the syntax described in <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/request-response-data-mappings.html#mapping-response-parameters\">the API Gateway Developer Guide</a>; however, the data must be identified according to its location in the serialized request, which may differ from protocol to protocol. Here be dragons!</p>",
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.shared#TextPlainBlob": {
            "type": "blob",
            "traits": {
                "smithy.api#mediaType": "text/plain"
            }
        },
        "aws.protocoltests.shared#TimestampList": {
            "type": "list",
            "member": {
                "target": "smithy.api#Timestamp"
            }
        },
        "aws.iam#actionPermissionDescription": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "A brief description of what granting the user permission to invoke an operation would entail. This description should begin with something similar to 'Enables the user to...' or 'Grants permission to...'",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.apigateway#apiKeySource": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Specifies the source of the caller identifier that will be used to throttle API methods that require a key.",
                "smithy.api#externalDocumentation": {
                    "Developer Guide": "https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-swagger-extensions-api-key-source.html"
                },
                "smithy.api#internal": {},
                "smithy.api#tags": [
                    "internal"
                ],
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.api#arn": {
            "type": "structure",
            "members": {
                "template": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "absolute": {
                    "target": "smithy.api#Boolean"
                },
                "noRegion": {
                    "target": "smithy.api#Boolean"
                },
                "noAccount": {
                    "target": "smithy.api#Boolean"
                }
            },
            "traits": {
                "smithy.api#documentation": "Specifies an ARN template for the resource.",
                "smithy.api#externalDocumentation": {
                    "Reference": "https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html"
                },
                "smithy.api#trait": {
                    "selector": "resource"
                }
            }
        },
        "aws.api#arnReference": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "smithy.api#String"
                },
                "resource": {
                    "target": "smithy.api#String"
                },
                "service": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "Marks a string as containing an ARN.",
                "smithy.api#trait": {
                    "selector": "string"
                }
            }
        },
        "aws.apigateway#authorizer": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Attaches an authorizer to a service, resource, or operation.",
                "smithy.api#internal": {},
                "smithy.api#tags": [
                    "internal"
                ],
                "smithy.api#trait": {
                    "selector": ":test(service, resource, operation)"
                }
            }
        },
        "aws.apigateway#authorizers": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.apigateway#AuthorizerDefinition"
            },
            "traits": {
                "smithy.api#documentation": "A list of API Gateway authorizers to augment the service's declared authentication mechanisms.",
                "smithy.api#internal": {},
                "smithy.api#tags": [
                    "internal"
                ],
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.protocols#awsJson1_0": {
            "type": "structure",
            "members": {
                "http": {
                    "target": "aws.protocols#StringList"
                },
                "eventStreamHttp": {
                    "target": "aws.protocols#StringList"
                }
            },
            "traits": {
                "smithy.api#documentation": "An RPC-based protocol that sends JSON payloads. This protocol does not use HTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#jsonName",
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.protocols#awsJson1_1": {
            "type": "structure",
            "members": {
                "http": {
                    "target": "aws.protocols#StringList"
                },
                "eventStreamHttp": {
                    "target": "aws.protocols#StringList"
                }
            },
            "traits": {
                "smithy.api#documentation": "An RPC-based protocol that sends JSON payloads. This protocol does not use HTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#jsonName",
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.protocols#awsQuery": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#deprecated": {},
                "smithy.api#documentation": "An RPC-based protocol that sends 'POST' requests in the body as `x-www-form-urlencoded` strings and responses in XML documents. This protocol does not use HTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "noInlineDocumentSupport": true,
                    "traits": [
                        "aws.protocols#awsQueryError",
                        "smithy.api#xmlAttribute",
                        "smithy.api#xmlFlattened",
                        "smithy.api#xmlName",
                        "smithy.api#xmlNamespace",
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service [trait|xmlNamespace]"
                }
            }
        },
        "aws.protocols#awsQueryError": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The value used to distinguish this error shape during serialization.",
                        "smithy.api#required": {}
                    }
                },
                "httpResponseCode": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The HTTP response code used on a response containing this error shape.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Provides the value in the 'Code' distinguishing field and HTTP response code for an operation error.",
                "smithy.api#trait": {
                    "selector": "structure [trait|error]",
                    "breakingChanges": [
                        {
                            "change": "any"
                        }
                    ]
                }
            }
        },
        "aws.cloudformation#cfnAdditionalIdentifier": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates that the CloudFormation property generated from this member is an\nadditional identifier for the resource.",
                "smithy.api#trait": {
                    "selector": "structure > :test(member > string)",
                    "conflicts": [
                        "aws.cloudformation#cfnExcludeProperty"
                    ],
                    "breakingChanges": [
                        {
                            "change": "remove"
                        }
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.cloudformation#cfnExcludeProperty": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates that a structure member should not be included in generated\nCloudFormation resource definitions.",
                "smithy.api#trait": {
                    "selector": "structure > member",
                    "conflicts": [
                        "aws.cloudformation#cfnAdditionalIdentifier",
                        "aws.cloudformation#cfnMutability"
                    ],
                    "breakingChanges": [
                        {
                            "change": "add"
                        }
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.cloudformation#cfnMutability": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Indicates an explicit CloudFormation mutability of the structure member\nwhen part of a CloudFormation resource.",
                "smithy.api#enum": [
                    {
                        "value": "full",
                        "name": "FULL",
                        "documentation": "Indicates that the CloudFormation property generated from this\nmember does not have any mutability restrictions, meaning that it\ncan be specified by the user and returned in a `read` or `list`\nrequest."
                    },
                    {
                        "value": "create-and-read",
                        "name": "CREATE_AND_READ",
                        "documentation": "Indicates that the CloudFormation property generated from this\nmember can be specified only during resource creation and can be\nreturned in a `read` or `list` request."
                    },
                    {
                        "value": "create",
                        "name": "CREATE",
                        "documentation": "Indicates that the CloudFormation property generated from this\nmember can be specified only during resource creation and cannot\nbe returned in a `read` or `list` request. MUST NOT be set if the\nmember is also marked with the `@additionalIdentifier` trait."
                    },
                    {
                        "value": "read",
                        "name": "READ",
                        "documentation": "Indicates that the CloudFormation property generated from this\nmember can be returned by a `read` or `list` request, but\ncannot be set by the user."
                    },
                    {
                        "value": "write",
                        "name": "WRITE",
                        "documentation": "Indicates that the CloudFormation property generated from this\nmember can be specified by the user, but cannot be returned by a\n`read` or `list` request. MUST NOT be set if the member is also\nmarked with the `@additionalIdentifier` trait."
                    }
                ],
                "smithy.api#trait": {
                    "selector": "structure > member",
                    "conflicts": [
                        "aws.cloudformation#cfnExcludeProperty"
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.cloudformation#cfnName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The cloudFormationName trait allows a CloudFormation resource property name\nto differ from a structure member name used in the model.",
                "smithy.api#trait": {
                    "selector": "structure > member",
                    "breakingChanges": [
                        {
                            "change": "any"
                        }
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.cloudformation#cfnResource": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Provides a custom CloudFormation resource name."
                    }
                },
                "additionalSchemas": {
                    "target": "aws.cloudformation#StructureIdList",
                    "traits": {
                        "smithy.api#documentation": "A list of additional shape IDs of structures that will have their\nproperties added to the CloudFormation resource."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates that a Smithy resource is a CloudFormation resource.",
                "smithy.api#trait": {
                    "selector": "resource",
                    "breakingChanges": [
                        {
                            "change": "presence"
                        }
                    ]
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.api#clientDiscoveredEndpoint": {
            "type": "structure",
            "members": {
                "required": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates that the target operation should use the client's endpoint discovery logic.",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.api#clientEndpointDiscovery": {
            "type": "structure",
            "members": {
                "operation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Indicates the operation that clients should use to discover endpoints for the service.",
                        "smithy.api#idRef": {
                            "failWhenMissing": true,
                            "selector": "operation"
                        },
                        "smithy.api#required": {}
                    }
                },
                "error": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Indicates the error that tells clients that the endpoint they are using is no longer valid. This error MUST be bound to any operation bound to the service which is marked with the aws.api#clientDiscoveredEndpoint trait.",
                        "smithy.api#idRef": {
                            "failWhenMissing": true,
                            "selector": "structure[trait|error]"
                        },
                        "smithy.api#recommended": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Configures endpoint discovery for the service.",
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.api#clientEndpointDiscoveryId": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates members of the operation input which should be use to discover endpoints.",
                "smithy.api#trait": {
                    "selector": "operation[trait|aws.api#clientDiscoveredEndpoint] -[input]-> structure > :test(member[trait|required] > string)"
                }
            }
        },
        "aws.auth#cognitoUserPools": {
            "type": "structure",
            "members": {
                "providerArns": {
                    "target": "aws.auth#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of the Amazon Cognito user pool ARNs. Each element is of this format: arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#authDefinition": {},
                "smithy.api#documentation": "Configures an Amazon Cognito User Pools auth scheme.",
                "smithy.api#internal": {},
                "smithy.api#tags": [
                    "internal"
                ],
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.iam#conditionKeys": {
            "type": "list",
            "member": {
                "target": "aws.iam#IamIdentifier"
            },
            "traits": {
                "smithy.api#documentation": "Applies condition keys by name to a resource or operation.",
                "smithy.api#trait": {
                    "selector": ":test(resource, operation)"
                }
            }
        },
        "aws.api#controlPlane": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Defines a service, resource, or operation as operating on the control plane.",
                "smithy.api#trait": {
                    "selector": ":test(service, resource, operation)",
                    "conflicts": [
                        "aws.api#dataPlane"
                    ]
                }
            }
        },
        "aws.api#data": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Designates the target as containing data of a known classification level.",
                "smithy.api#enum": [
                    {
                        "value": "content",
                        "name": "CUSTOMER_CONTENT",
                        "documentation": "Customer content means any software (including machine images), data, text, audio, video or images that customers or any customer end user transfers to AWS for processing, storage or hosting by AWS services in connection with the customer?s accounts and any computational results that customers or any customer end user derive from the foregoing through their use of AWS services."
                    },
                    {
                        "value": "account",
                        "name": "CUSTOMER_ACCOUNT_INFORMATION",
                        "documentation": "Account information means information about customers that customers provide to AWS in connection with the creation or administration of customers? accounts."
                    },
                    {
                        "value": "usage",
                        "name": "SERVICE_ATTRIBUTES",
                        "documentation": "Service Attributes means service usage data related to a customer?s account, such as resource identifiers, metadata tags, security and access roles, rules, usage policies, permissions, usage statistics, logging data, and analytics."
                    },
                    {
                        "value": "tagging",
                        "name": "TAG_DATA",
                        "documentation": "Designates metadata tags applied to AWS resources."
                    },
                    {
                        "value": "permissions",
                        "name": "PERMISSIONS_DATA",
                        "documentation": "Designates security and access roles, rules, usage policies, and permissions."
                    }
                ],
                "smithy.api#trait": {
                    "selector": ":test(simpleType, collection, structure, union, member)"
                }
            }
        },
        "aws.api#dataPlane": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Defines a service, resource, or operation as operating on the data plane.",
                "smithy.api#trait": {
                    "selector": ":test(service, resource, operation)",
                    "conflicts": [
                        "aws.api#controlPlane"
                    ]
                }
            }
        },
        "aws.iam#defineConditionKeys": {
            "type": "map",
            "key": {
                "target": "aws.iam#IamIdentifier"
            },
            "value": {
                "target": "aws.iam#ConditionKeyDefinition"
            },
            "traits": {
                "smithy.api#documentation": "Defines the set of condition keys that appear within a service in addition to inferred and global condition keys.",
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.iam#disableConditionKeyInference": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Disables the automatic inference of condition keys of a resource.",
                "smithy.api#trait": {
                    "selector": "resource"
                }
            }
        },
        "aws.protocols#ec2Query": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#deprecated": {},
                "smithy.api#documentation": "An RPC-based protocol that sends 'POST' requests in the body as Amazon EC2 formatted `x-www-form-urlencoded` strings and responses in XML documents. This protocol does not use HTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "noInlineDocumentSupport": true,
                    "traits": [
                        "aws.protocols#ec2QueryName",
                        "smithy.api#xmlAttribute",
                        "smithy.api#xmlFlattened",
                        "smithy.api#xmlName",
                        "smithy.api#xmlNamespace",
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service [trait|xmlNamespace]"
                }
            }
        },
        "aws.protocols#ec2QueryName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Indicates the serialized name of a structure member when that structure is serialized for the input of an EC2 operation.",
                "smithy.api#pattern": "^[a-zA-Z_][a-zA-Z_0-9-]*$",
                "smithy.api#trait": {
                    "selector": "structure > member"
                }
            }
        },
        "aws.protocols#httpChecksum": {
            "type": "structure",
            "members": {
                "requestAlgorithmMember": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines a top-level operation input member that is used to configure request checksum behavior."
                    }
                },
                "requestChecksumRequired": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Indicates an operation requires a checksum in its HTTP request."
                    }
                },
                "requestValidationModeMember": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines a top-level operation input member used to opt-in to response checksum validation."
                    }
                },
                "responseAlgorithms": {
                    "target": "aws.protocols#ChecksumAlgorithmSet",
                    "traits": {
                        "smithy.api#documentation": "Defines the checksum algorithms clients should look for when performing HTTP response checksum validation."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates that an operation supports checksum validation.",
                "smithy.api#trait": {
                    "selector": "operation"
                },
                "smithy.api#unstable": {}
            }
        },
        "smithy.test#httpMalformedRequestTests": {
            "type": "list",
            "member": {
                "target": "smithy.test#HttpMalformedRequestTestCase"
            },
            "traits": {
                "smithy.api#documentation": "Define how a malformed HTTP request is rejected by a server given a specific protocol",
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#trait": {
                    "selector": "operation"
                },
                "smithy.api#unstable": {}
            }
        },
        "smithy.test#httpRequestTests": {
            "type": "list",
            "member": {
                "target": "smithy.test#HttpRequestTestCase"
            },
            "traits": {
                "smithy.api#documentation": "Define how an HTTP request is serialized given a specific protocol,\nauthentication scheme, and set of input parameters.",
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "smithy.test#httpResponseTests": {
            "type": "list",
            "member": {
                "target": "smithy.test#HttpResponseTestCase"
            },
            "traits": {
                "smithy.api#documentation": "Define how an HTTP response is serialized given a specific protocol,\nauthentication scheme, and set of output or error parameters.",
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#trait": {
                    "selector": ":test(operation, structure[trait|error])"
                }
            }
        },
        "aws.iam#iamResource": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the resource in AWS IAM."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates properties of a Smithy resource in AWS IAM.",
                "smithy.api#trait": {
                    "selector": "resource"
                }
            }
        },
        "aws.apigateway#integration": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "aws.apigateway#IntegrationType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "uri": {
                    "target": "aws.apigateway#Arn",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "credentials": {
                    "target": "aws.apigateway#IamRoleArn"
                },
                "httpMethod": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "passThroughBehavior": {
                    "target": "aws.apigateway#PassThroughBehavior"
                },
                "contentHandling": {
                    "target": "aws.apigateway#ContentHandling"
                },
                "timeoutInMillis": {
                    "target": "smithy.api#Integer"
                },
                "connectionId": {
                    "target": "smithy.api#String"
                },
                "connectionType": {
                    "target": "aws.apigateway#ConnectionType"
                },
                "cacheNamespace": {
                    "target": "smithy.api#String"
                },
                "payloadFormatVersion": {
                    "target": "smithy.api#String"
                },
                "cacheKeyParameters": {
                    "target": "aws.apigateway#StringList"
                },
                "requestParameters": {
                    "target": "aws.apigateway#RequestParameters"
                },
                "requestTemplates": {
                    "target": "aws.apigateway#Templates"
[...]
