{
    "smithy": "1.0",
    "metadata": {
        "suppressions": [
            {
                "id": "DeprecatedTrait",
                "namespace": "*",
                "reason": "Some of the AWS protocols make use of deprecated traits, and some are\nthemselves deprecated traits. As this package is intended to test those\nprotocols, the warnings should be suppressed."
            },
            {
                "id": "UnreferencedShape",
                "namespace": "aws.protocoltests.config",
                "reason": "These shapes are intended to be used to validate vendorParams in\nprotocol tests, so they naturally will not be connected to a service.\n"
            },
            {
                "id": "HttpMethodSemantics",
                "namespace": "com.amazonaws.s3"
            },
            {
                "id": "EnumTrait",
                "namespace": "com.amazonaws.s3"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.s3#AccountId": {
            "type": "string"
        },
        "aws.protocoltests.restxml#AllQueryStringTypes": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#AllQueryStringTypesInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#documentation": "This example uses all query string types.",
                "smithy.api#http": {
                    "uri": "/AllQueryStringTypesInput",
                    "method": "GET"
                },
                "smithy.api#readonly": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "AllQueryStringTypes",
                        "documentation": "Serializes query string parameters with all supported types",
                        "protocol": "aws.protocols#restXml",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "String=Hello%20there",
                            "StringList=a",
                            "StringList=b",
                            "StringList=c",
                            "StringSet=a",
                            "StringSet=b",
                            "StringSet=c",
                            "Byte=1",
                            "Short=2",
                            "Integer=3",
                            "IntegerList=1",
                            "IntegerList=2",
                            "IntegerList=3",
                            "IntegerSet=1",
                            "IntegerSet=2",
                            "IntegerSet=3",
                            "Long=4",
                            "Float=1.1",
                            "Double=1.1",
                            "DoubleList=1.1",
                            "DoubleList=2.1",
                            "DoubleList=3.1",
                            "Boolean=true",
                            "BooleanList=true",
                            "BooleanList=false",
                            "BooleanList=true",
                            "Timestamp=1970-01-01T00%3A00%3A01Z",
                            "TimestampList=1970-01-01T00%3A00%3A01Z",
                            "TimestampList=1970-01-01T00%3A00%3A02Z",
                            "TimestampList=1970-01-01T00%3A00%3A03Z",
                            "Enum=Foo",
                            "EnumList=Foo",
                            "EnumList=Baz",
                            "EnumList=Bar"
                        ],
                        "params": {
                            "queryString": "Hello there",
                            "queryStringList": [
                                "a",
                                "b",
                                "c"
                            ],
                            "queryStringSet": [
                                "a",
                                "b",
                                "c"
                            ],
                            "queryByte": 1,
                            "queryShort": 2,
                            "queryInteger": 3,
                            "queryIntegerList": [
                                1,
                                2,
                                3
                            ],
                            "queryIntegerSet": [
                                1,
                                2,
                                3
                            ],
                            "queryLong": 4,
                            "queryFloat": 1.1,
                            "queryDouble": 1.1,
                            "queryDoubleList": [
                                1.1,
                                2.1,
                                3.1
                            ],
                            "queryBoolean": true,
                            "queryBooleanList": [
                                true,
                                false,
                                true
                            ],
                            "queryTimestamp": 1,
                            "queryTimestampList": [
                                1,
                                2,
                                3
                            ],
                            "queryEnum": "Foo",
                            "queryEnumList": [
                                "Foo",
                                "Baz",
                                "Bar"
                            ]
                        }
                    },
                    {
                        "id": "RestXmlQueryStringMap",
                        "documentation": "Handles query string maps",
                        "protocol": "aws.protocols#restXml",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "QueryParamsStringKeyA=Foo",
                            "QueryParamsStringKeyB=Bar"
                        ],
                        "params": {
                            "queryParamsMapOfStrings": {
                                "QueryParamsStringKeyA": "Foo",
                                "QueryParamsStringKeyB": "Bar"
                            }
                        }
                    },
                    {
                        "id": "RestXmlSupportsNaNFloatQueryValues",
                        "documentation": "Supports handling NaN float query values.",
                        "protocol": "aws.protocols#restXml",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "Float=NaN",
                            "Double=NaN"
                        ],
                        "params": {
                            "queryFloat": "NaN",
                            "queryDouble": "NaN"
                        }
                    },
                    {
                        "id": "RestXmlSupportsInfinityFloatQueryValues",
                        "documentation": "Supports handling Infinity float query values.",
                        "protocol": "aws.protocols#restXml",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "Float=Infinity",
                            "Double=Infinity"
                        ],
                        "params": {
                            "queryFloat": "Infinity",
                            "queryDouble": "Infinity"
                        }
                    },
                    {
                        "id": "RestXmlSupportsNegativeInfinityFloatQueryValues",
                        "documentation": "Supports handling -Infinity float query values.",
                        "protocol": "aws.protocols#restXml",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "Float=-Infinity",
                            "Double=-Infinity"
                        ],
                        "params": {
                            "queryFloat": "-Infinity",
                            "queryDouble": "-Infinity"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#AllQueryStringTypesInput": {
            "type": "structure",
            "members": {
                "queryString": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "String"
                    }
                },
                "queryStringList": {
                    "target": "aws.protocoltests.shared#StringList",
                    "traits": {
                        "smithy.api#httpQuery": "StringList"
                    }
                },
                "queryStringSet": {
                    "target": "aws.protocoltests.shared#StringSet",
                    "traits": {
                        "smithy.api#httpQuery": "StringSet"
                    }
                },
                "queryByte": {
                    "target": "smithy.api#Byte",
                    "traits": {
                        "smithy.api#httpQuery": "Byte"
                    }
                },
                "queryShort": {
                    "target": "smithy.api#Short",
                    "traits": {
                        "smithy.api#httpQuery": "Short"
                    }
                },
                "queryInteger": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "Integer"
                    }
                },
                "queryIntegerList": {
                    "target": "aws.protocoltests.shared#IntegerList",
                    "traits": {
                        "smithy.api#httpQuery": "IntegerList"
                    }
                },
                "queryIntegerSet": {
                    "target": "aws.protocoltests.shared#IntegerSet",
                    "traits": {
                        "smithy.api#httpQuery": "IntegerSet"
                    }
                },
                "queryLong": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#httpQuery": "Long"
                    }
                },
                "queryFloat": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#httpQuery": "Float"
                    }
                },
                "queryDouble": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#httpQuery": "Double"
                    }
                },
                "queryDoubleList": {
                    "target": "aws.protocoltests.shared#DoubleList",
                    "traits": {
                        "smithy.api#httpQuery": "DoubleList"
                    }
                },
                "queryBoolean": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#httpQuery": "Boolean"
                    }
                },
                "queryBooleanList": {
                    "target": "aws.protocoltests.shared#BooleanList",
                    "traits": {
                        "smithy.api#httpQuery": "BooleanList"
                    }
                },
                "queryTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#httpQuery": "Timestamp"
                    }
                },
                "queryTimestampList": {
                    "target": "aws.protocoltests.shared#TimestampList",
                    "traits": {
                        "smithy.api#httpQuery": "TimestampList"
                    }
                },
                "queryEnum": {
                    "target": "aws.protocoltests.shared#FooEnum",
                    "traits": {
                        "smithy.api#httpQuery": "Enum"
                    }
                },
                "queryEnumList": {
                    "target": "aws.protocoltests.shared#FooEnumList",
                    "traits": {
                        "smithy.api#httpQuery": "EnumList"
                    }
                },
                "queryParamsMapOfStrings": {
                    "target": "aws.protocoltests.shared#StringMap",
                    "traits": {
                        "smithy.api#httpQueryParams": {}
                    }
                }
            },
            "traits": {
                "smithy.api#suppress": [
                    "HttpQueryParamsTrait"
                ]
            }
        },
        "com.amazonaws.s3#AmazonS3": {
            "type": "service",
            "traits": {
                "aws.api#service": {
                    "sdkId": "S3",
                    "arnNamespace": "s3",
                    "cloudFormationName": "S3",
                    "cloudTrailEventSource": "s3.amazonaws.com",
                    "endpointPrefix": "s3"
                },
                "aws.auth#sigv4": {
                    "name": "s3"
                },
                "aws.protocols#restXml": {
                    "noErrorWrapping": true
                },
                "smithy.api#title": "Amazon Simple Storage Service",
                "smithy.api#xmlNamespace": {
                    "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
                }
            },
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "com.amazonaws.s3#GetBucketLocation"
                },
                {
                    "target": "com.amazonaws.s3#ListObjectsV2"
                }
            ]
        },
        "smithy.test#AppliesTo": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "client",
                        "name": "CLIENT",
                        "documentation": "The test only applies to client implementations."
                    },
                    {
                        "value": "server",
                        "name": "SERVER",
                        "documentation": "The test only applies to server implementations."
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#Arn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {},
                "smithy.api#documentation": "<p>The ARN of an AWS integration target.</p><p>This string MAY contain the literal string <code>{serviceName}</code> and/or the literal string <code>{operationName}</code>, which will be replaced with the name of the Smithy service shape and the name of the Smithy operation shape, respectively.</p>",
                "smithy.api#private": {}
            }
        },
        "aws.api#ArnNamespace": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-z0-9.\\-]{1,63}$",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#AuthorizerDefinition": {
            "type": "structure",
            "members": {
                "scheme": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Smithy authentication scheme used by the client (e.g, aws.v4).",
                        "smithy.api#idRef": {
                            "selector": "[trait|authDefinition]",
                            "failWhenMissing": true,
                            "errorMessage": "The scheme of an authorizer definition must reference an auth trait"
                        },
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The type of the authorizer. If specifying information beyond the scheme, this value is required. The value must be \"token\", for an authorizer with the caller identity embedded in an authorization token, or \"request\", for an authorizer with the caller identity contained in request parameters."
                    }
                },
                "customAuthType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "This value is not used directly by API Gateway but will be used for OpenAPI exports. This will default to \"awsSigV4\" if your scheme is \"aws.v4\", or \"custom\" otherwise."
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Uniform Resource Identifier (URI) of the authorizer Lambda function"
                    }
                },
                "credentials": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Credentials required for invoking the authorizer"
                    }
                },
                "identitySource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Comma-separated list of mapping expressions of the request parameters as the identity source. Applicable for the authorizer of the \"request\" type only."
                    }
                },
                "identityValidationExpression": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A regular expression for validating the token as the incoming identity"
                    }
                },
                "resultTtlInSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The number of seconds for which the resulting IAM policy is cached."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An object that associates an authorizer and associated metadata with an authentication mechanism.",
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.config#AwsConfig": {
            "type": "structure",
            "members": {
                "clockTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "This is the time that should be set during the course of the test.\nThis is important for things like signing where the clock time impacts\nthe result."
                    }
                },
                "scopedConfig": {
                    "target": "aws.protocoltests.config#ScopedConfig"
                }
            }
        },
        "aws.protocoltests.restxml#BodyWithXmlName": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#BodyWithXmlNameInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#BodyWithXmlNameInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "The following example serializes a body that uses an XML name,\nchanging the wrapper name.",
                "smithy.api#http": {
                    "uri": "/BodyWithXmlName",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "BodyWithXmlName",
                        "documentation": "Serializes a payload using a wrapper name based on the xmlName",
                        "protocol": "aws.protocols#restXml",
                        "method": "PUT",
                        "uri": "/BodyWithXmlName",
                        "body": "<Ahoy><nested><name>Phreddy</name></nested></Ahoy>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "nested": {
                                "name": "Phreddy"
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "BodyWithXmlName",
                        "documentation": "Serializes a payload using a wrapper name based on the xmlName",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "<Ahoy><nested><name>Phreddy</name></nested></Ahoy>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "nested": {
                                "name": "Phreddy"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#BodyWithXmlNameInputOutput": {
            "type": "structure",
            "members": {
                "nested": {
                    "target": "aws.protocoltests.restxml#PayloadWithXmlName"
                }
            },
            "traits": {
                "smithy.api#xmlName": "Ahoy"
            }
        },
        "aws.protocoltests.shared#BooleanList": {
            "type": "list",
            "member": {
                "target": "smithy.api#PrimitiveBoolean"
            }
        },
        "com.amazonaws.s3#BucketLocationConstraint": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "us-west-2",
                        "name": "us_west_2"
                    }
                ]
            }
        },
        "com.amazonaws.s3#BucketName": {
            "type": "string"
        },
        "aws.protocols#ChecksumAlgorithm": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CRC32C",
                        "name": "CRC32C"
                    },
                    {
                        "value": "CRC32",
                        "name": "CRC32"
                    },
                    {
                        "value": "SHA1",
                        "name": "SHA1"
                    },
                    {
                        "value": "SHA256",
                        "name": "SHA256"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocols#ChecksumAlgorithmSet": {
            "type": "list",
            "member": {
                "target": "aws.protocols#ChecksumAlgorithm"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#private": {},
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.protocoltests.config#ClientConfig": {
            "type": "structure",
            "members": {
                "aws_access_key_id": {
                    "target": "smithy.api#String"
                },
                "aws_secret_access_key": {
                    "target": "smithy.api#String"
                },
                "aws_session_token": {
                    "target": "smithy.api#String"
                },
                "region": {
                    "target": "smithy.api#String"
                },
                "s3": {
                    "target": "aws.protocoltests.config#S3Config"
                },
                "retry_config": {
                    "target": "aws.protocoltests.config#RetryConfig"
                },
                "aws_profile": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "Configuration that is set on the constructed client."
            }
        },
        "aws.api#CloudFormationName": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[A-Z][A-Za-z0-9]+$",
                "smithy.api#private": {}
            }
        },
        "com.amazonaws.s3#CommonPrefix": {
            "type": "structure",
            "members": {
                "Prefix": {
                    "target": "com.amazonaws.s3#Prefix"
                }
            }
        },
        "com.amazonaws.s3#CommonPrefixList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.s3#CommonPrefix"
            }
        },
        "aws.protocoltests.restxml#ComplexError": {
            "type": "structure",
            "members": {
                "Header": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Header"
                    }
                },
                "TopLevel": {
                    "target": "smithy.api#String"
                },
                "Nested": {
                    "target": "aws.protocoltests.restxml#ComplexNestedErrorData"
                }
            },
            "traits": {
                "smithy.api#documentation": "This error is thrown when a request is invalid.",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403,
                "smithy.test#httpResponseTests": [
                    {
                        "id": "ComplexError",
                        "protocol": "aws.protocols#restXml",
                        "params": {
                            "Header": "Header",
                            "TopLevel": "Top level",
                            "Nested": {
                                "Foo": "bar"
                            }
                        },
                        "code": 400,
                        "headers": {
                            "Content-Type": "application/xml",
                            "X-Header": "Header"
                        },
                        "body": "<ErrorResponse>\n   <Error>\n      <Type>Sender</Type>\n      <Code>ComplexError</Code>\n      <Message>Hi</Message>\n      <TopLevel>Top level</TopLevel>\n      <Nested>\n          <Foo>bar</Foo>\n      </Nested>\n   </Error>\n   <RequestId>foo-id</RequestId>\n</ErrorResponse>\n",
                        "bodyMediaType": "application/xml"
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#ComplexNestedErrorData": {
            "type": "structure",
            "members": {
                "Foo": {
                    "target": "smithy.api#String"
                }
            }
        },
        "aws.iam#ConditionKeyDefinition": {
            "type": "structure",
            "members": {
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines documentation about the condition key."
                    }
                },
                "externalDocumentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A valid URL that defines more information about the condition key."
                    }
                },
                "type": {
                    "target": "aws.iam#ConditionKeyType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A defined condition key to appear within a service in addition to inferred and global condition keys.",
                "smithy.api#private": {}
            }
        },
        "aws.iam#ConditionKeyType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The IAM policy type of the value that will supplied for this context key",
                "smithy.api#enum": [
                    {
                        "value": "ARN",
                        "name": "ARN"
                    },
                    {
                        "value": "ArrayOfARN",
                        "name": "ARRAY_OF_ARN"
                    },
                    {
                        "value": "Binary",
                        "name": "BINARY"
                    },
                    {
                        "value": "ArrayOfBinary",
                        "name": "ARRAY_OF_BINARY"
                    },
                    {
                        "value": "String",
                        "name": "STRING"
                    },
                    {
                        "value": "ArrayOfString",
                        "name": "ARRAY_OF_STRING"
                    },
                    {
                        "value": "Numeric",
                        "name": "NUMERIC"
                    },
                    {
                        "value": "ArrayOfNumeric",
                        "name": "ARRAY_OF_NUMERIC"
                    },
                    {
                        "value": "Date",
                        "name": "DATE"
                    },
                    {
                        "value": "ArrayOfDate",
                        "name": "ARRAY_OF_DATE"
                    },
                    {
                        "value": "Bool",
                        "name": "BOOL"
                    },
                    {
                        "value": "ArrayOfBool",
                        "name": "ARRAY_OF_BOOL"
                    },
                    {
                        "value": "IPAddress",
                        "name": "IP_ADDRESS"
                    },
                    {
                        "value": "ArrayOfIPAddress",
                        "name": "ARRAY_OF_IP_ADDRESS"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.config#ConfigFile": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#documentation": "The top level key in a config file is the \"profile\", which is a string.\nIf a profile is not explicitly set, then implementations should check the\nprofile named \"default\"."
                }
            },
            "value": {
                "target": "aws.protocoltests.config#FileConfigSettings",
                "traits": {
                    "smithy.api#documentation": "The value is a collection of settings."
                }
            },
            "traits": {
                "smithy.api#documentation": "A shape representing a parsed config file, which is a map of profile names\nto configuration sets."
            }
        },
        "aws.apigateway#ConnectionType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "INTERNET",
                        "value": "INTERNET"
                    },
                    {
                        "name": "VPC_LINK",
                        "value": "VPC_LINK"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.restxml#ConstantAndVariableQueryString": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#ConstantAndVariableQueryStringInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#documentation": "This example uses fixed query string params and variable query string params.\nThe fixed query string parameters and variable parameters must both be\nserialized (implementations may need to merge them together).",
                "smithy.api#http": {
                    "uri": "/ConstantAndVariableQueryString?foo=bar",
                    "method": "GET"
                },
                "smithy.api#readonly": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "ConstantAndVariableQueryStringMissingOneValue",
                        "documentation": "Mixes constant and variable query string parameters",
                        "protocol": "aws.protocols#restXml",
                        "method": "GET",
                        "uri": "/ConstantAndVariableQueryString",
                        "queryParams": [
                            "foo=bar",
                            "baz=bam"
                        ],
                        "forbidQueryParams": [
                            "maybeSet"
                        ],
                        "body": "",
                        "params": {
                            "baz": "bam"
                        }
                    },
                    {
                        "id": "ConstantAndVariableQueryStringAllValues",
                        "documentation": "Mixes constant and variable query string parameters",
                        "protocol": "aws.protocols#restXml",
                        "method": "GET",
                        "uri": "/ConstantAndVariableQueryString",
                        "queryParams": [
                            "foo=bar",
                            "baz=bam",
                            "maybeSet=yes"
                        ],
                        "body": "",
                        "params": {
                            "baz": "bam",
                            "maybeSet": "yes"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#ConstantAndVariableQueryStringInput": {
            "type": "structure",
            "members": {
                "baz": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "baz"
                    }
                },
                "maybeSet": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "maybeSet"
                    }
                }
            }
        },
        "aws.protocoltests.restxml#ConstantQueryString": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#ConstantQueryStringInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#documentation": "This example uses a constant query string parameters and a label.\nThis simply tests that labels and query string parameters are\ncompatible. The fixed query string parameter named \"hello\" should\nin no way conflict with the label, `{hello}`.",
                "smithy.api#http": {
                    "uri": "/ConstantQueryString/{hello}?foo=bar&hello",
                    "method": "GET"
                },
                "smithy.api#readonly": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "ConstantQueryString",
                        "documentation": "Includes constant query string parameters",
                        "protocol": "aws.protocols#restXml",
                        "method": "GET",
                        "uri": "/ConstantQueryString/hi",
                        "queryParams": [
                            "foo=bar",
                            "hello"
                        ],
                        "body": "",
                        "params": {
                            "hello": "hi"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#ConstantQueryStringInput": {
            "type": "structure",
            "members": {
                "hello": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "aws.apigateway#ContentHandling": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Defines the contentHandling for the integration",
                "smithy.api#enum": [
                    {
                        "value": "CONVERT_TO_TEXT",
                        "name": "CONVERT_TO_TEXT"
                    },
                    {
                        "value": "CONVERT_TO_BINARY",
                        "name": "CONVERT_TO_BINARY"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.shared#DateTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "com.amazonaws.s3#Delimiter": {
            "type": "string"
        },
        "com.amazonaws.s3#DisplayName": {
            "type": "string"
        },
        "aws.protocoltests.shared#DoubleList": {
            "type": "list",
            "member": {
                "target": "smithy.api#Double"
            }
        },
        "com.amazonaws.s3#ETag": {
            "type": "string"
        },
        "aws.protocoltests.restxml#EmptyInputAndEmptyOutput": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#EmptyInputAndEmptyOutputInput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#EmptyInputAndEmptyOutputOutput"
            },
            "traits": {
                "smithy.api#documentation": "The example tests how requests and responses are serialized when there's\nno request or response payload because the operation has an empty input\nand empty output structure that reuses the same shape. While this should\nbe rare, code generators must support this.",
                "smithy.api#http": {
                    "uri": "/EmptyInputAndEmptyOutput",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "EmptyInputAndEmptyOutput",
                        "documentation": "Empty input serializes no payload",
                        "protocol": "aws.protocols#restXml",
                        "method": "POST",
                        "uri": "/EmptyInputAndEmptyOutput",
                        "body": ""
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "EmptyInputAndEmptyOutput",
                        "documentation": "Empty output serializes no payload",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": ""
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#EmptyInputAndEmptyOutputInput": {
            "type": "structure",
            "members": {}
        },
        "aws.protocoltests.restxml#EmptyInputAndEmptyOutputOutput": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.s3#EncodingType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "url",
                        "name": "url"
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#EndpointOperation": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#endpoint": {
                    "hostPrefix": "foo."
                },
                "smithy.api#http": {
                    "uri": "/EndpointOperation",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestXmlEndpointTrait",
                        "documentation": "Operations can prepend to the given host if they define the\nendpoint trait.",
                        "protocol": "aws.protocols#restXml",
                        "method": "POST",
                        "uri": "/EndpointOperation",
                        "body": "",
                        "host": "example.com",
                        "resolvedHost": "foo.example.com"
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#EndpointWithHostLabelHeaderOperation": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#HostLabelHeaderInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#endpoint": {
                    "hostPrefix": "{accountId}."
                },
                "smithy.api#http": {
                    "uri": "/EndpointWithHostLabelHeaderOperation",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestXmlEndpointTraitWithHostLabelAndHttpBinding",
                        "documentation": "Operations can prepend to the given host if they define the\nendpoint trait, and can use the host label trait to define\nfurther customization based on user input. The label must also\nbe serialized in into any other location it is bound to, such\nas the body or in this case an http header.",
                        "protocol": "aws.protocols#restXml",
                        "method": "POST",
                        "uri": "/EndpointWithHostLabelHeaderOperation",
                        "body": "",
                        "bodyMediaType": "application/xml",
                        "host": "example.com",
                        "resolvedHost": "bar.example.com",
                        "headers": {
                            "X-Amz-Account-Id": "bar"
                        },
                        "params": {
                            "accountId": "bar"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#EndpointWithHostLabelOperation": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#HostLabelInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#endpoint": {
                    "hostPrefix": "foo.{label}."
                },
                "smithy.api#http": {
                    "uri": "/EndpointWithHostLabelOperation",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestXmlEndpointTraitWithHostLabel",
                        "documentation": "Operations can prepend to the given host if they define the\nendpoint trait, and can use the host label trait to define\nfurther customization based on user input.",
                        "protocol": "aws.protocols#restXml",
                        "method": "POST",
                        "uri": "/EndpointWithHostLabelOperation",
                        "body": "<HostLabelInput>\n    <label>bar</label>\n</HostLabelInput>\n",
                        "bodyMediaType": "application/xml",
                        "host": "example.com",
                        "resolvedHost": "foo.bar.example.com",
                        "params": {
                            "label": "bar"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.config#EnvironmentConfig": {
            "type": "structure",
            "members": {
                "AWS_ACCESS_KEY_ID": {
                    "target": "smithy.api#String"
                },
                "AWS_SECRET_ACCESS_KEY": {
                    "target": "smithy.api#String"
                },
                "AWS_DEFAULT_REGION": {
                    "target": "smithy.api#String"
                },
                "AWS_RETRY_MODE": {
                    "target": "aws.protocoltests.config#RetryMode"
                },
                "AWS_SESSION_TOKEN": {
                    "target": "smithy.api#String"
                },
                "AWS_PROFILE": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "Config settings that can be set as environment variables."
            }
        },
        "aws.protocoltests.shared#EpochSeconds": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "epoch-seconds"
            }
        },
        "com.amazonaws.s3#FetchOwner": {
            "type": "boolean"
        },
        "aws.protocoltests.config#FileConfigSettings": {
            "type": "structure",
            "members": {
                "aws_access_key_id": {
                    "target": "smithy.api#String"
                },
                "aws_secret_access_key": {
                    "target": "smithy.api#String"
                },
                "aws_session_token": {
                    "target": "smithy.api#String"
                },
                "region": {
                    "target": "smithy.api#String"
                },
                "s3": {
                    "target": "aws.protocoltests.config#S3Config"
                },
                "retry_mode": {
                    "target": "aws.protocoltests.config#RetryMode"
                },
                "max_attempts": {
                    "target": "smithy.api#Short"
                }
            },
            "traits": {
                "smithy.api#documentation": "Config settings that can be set in the AWS config / credentials file as\npart of a profile."
            }
        },
        "aws.protocoltests.restxml#FlattenedXmlMap": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#FlattenedXmlMapInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#FlattenedXmlMapInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "Flattened maps",
                "smithy.api#http": {
                    "uri": "/FlattenedXmlMap",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "FlattenedXmlMap",
                        "documentation": "Serializes flattened XML maps in requests",
                        "protocol": "aws.protocols#restXml",
                        "method": "POST",
                        "uri": "/FlattenedXmlMap",
                        "body": "<FlattenedXmlMapInputOutput>\n    <myMap>\n        <key>foo</key>\n        <value>Foo</value>\n    </myMap>\n    <myMap>\n        <key>baz</key>\n        <value>Baz</value>\n    </myMap>\n</FlattenedXmlMapInputOutput>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "myMap": {
                                "foo": "Foo",
                                "baz": "Baz"
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "FlattenedXmlMap",
                        "documentation": "Serializes flattened XML maps in responses",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "<FlattenedXmlMapInputOutput>\n    <myMap>\n        <key>foo</key>\n        <value>Foo</value>\n    </myMap>\n    <myMap>\n        <key>baz</key>\n        <value>Baz</value>\n    </myMap>\n</FlattenedXmlMapInputOutput>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "myMap": {
                                "foo": "Foo",
                                "baz": "Baz"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#FlattenedXmlMapInputOutput": {
            "type": "structure",
            "members": {
                "myMap": {
                    "target": "aws.protocoltests.shared#FooEnumMap",
                    "traits": {
                        "smithy.api#xmlFlattened": {}
                    }
                }
            }
        },
        "aws.protocoltests.restxml#FlattenedXmlMapWithXmlName": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#FlattenedXmlMapWithXmlNameInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#FlattenedXmlMapWithXmlNameInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "Flattened maps with @xmlName",
                "smithy.api#http": {
                    "uri": "/FlattenedXmlMapWithXmlName",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "FlattenedXmlMapWithXmlName",
                        "documentation": "Serializes flattened XML maps in requests that have xmlName on members",
                        "protocol": "aws.protocols#restXml",
                        "method": "POST",
                        "uri": "/FlattenedXmlMapWithXmlName",
                        "body": "<FlattenedXmlMapWithXmlNameInputOutput>\n    <KVP>\n        <K>a</K>\n        <V>A</V>\n    </KVP>\n    <KVP>\n        <K>b</K>\n        <V>B</V>\n    </KVP>\n</FlattenedXmlMapWithXmlNameInputOutput>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "myMap": {
                                "a": "A",
                                "b": "B"
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "FlattenedXmlMapWithXmlName",
                        "documentation": "Serializes flattened XML maps in responses that have xmlName on members",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "<FlattenedXmlMapWithXmlNameInputOutput>\n    <KVP>\n        <K>a</K>\n        <V>A</V>\n    </KVP>\n    <KVP>\n        <K>b</K>\n        <V>B</V>\n    </KVP>\n</FlattenedXmlMapWithXmlNameInputOutput>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "myMap": {
                                "a": "A",
                                "b": "B"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#FlattenedXmlMapWithXmlNameInputOutput": {
            "type": "structure",
            "members": {
                "myMap": {
                    "target": "aws.protocoltests.restxml#FlattenedXmlMapWithXmlNameInputOutputMap",
                    "traits": {
                        "smithy.api#xmlFlattened": {},
                        "smithy.api#xmlName": "KVP"
                    }
                }
            }
        },
        "aws.protocoltests.restxml#FlattenedXmlMapWithXmlNameInputOutputMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#xmlName": "K"
                }
            },
            "value": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#xmlName": "V"
                }
            }
        },
        "aws.protocoltests.restxml#FlattenedXmlMapWithXmlNamespace": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "aws.protocoltests.restxml#FlattenedXmlMapWithXmlNamespaceOutput"
            },
            "traits": {
                "smithy.api#documentation": "Flattened maps with @xmlNamespace and @xmlName",
                "smithy.api#http": {
                    "uri": "/FlattenedXmlMapWithXmlNamespace",
                    "method": "POST"
                },
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RestXmlFlattenedXmlMapWithXmlNamespace",
                        "documentation": "Serializes flattened XML maps in responses that have xmlNamespace and xmlName on members",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "<FlattenedXmlMapWithXmlNamespaceOutput>\n    <KVP xmlns=\"https://the-member.example.com\">\n        <K xmlns=\"https://the-key.example.com\">a</K>\n        <V xmlns=\"https://the-value.example.com\">A</V>\n    </KVP>\n    <KVP xmlns=\"https://the-member.example.com\">\n        <K xmlns=\"https://the-key.example.com\">b</K>\n        <V xmlns=\"https://the-value.example.com\">B</V>\n    </KVP>\n</FlattenedXmlMapWithXmlNamespaceOutput>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "myMap": {
                                "a": "A",
                                "b": "B"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#FlattenedXmlMapWithXmlNamespaceOutput": {
            "type": "structure",
            "members": {
                "myMap": {
                    "target": "aws.protocoltests.restxml#FlattenedXmlMapWithXmlNamespaceOutputMap",
                    "traits": {
                        "smithy.api#xmlFlattened": {},
                        "smithy.api#xmlName": "KVP",
                        "smithy.api#xmlNamespace": {
                            "uri": "https://the-member.example.com"
                        }
                    }
                }
            }
        },
        "aws.protocoltests.restxml#FlattenedXmlMapWithXmlNamespaceOutputMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#xmlName": "K",
                    "smithy.api#xmlNamespace": {
                        "uri": "https://the-key.example.com"
                    }
                }
            },
            "value": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#xmlName": "V",
                    "smithy.api#xmlNamespace": {
                        "uri": "https://the-value.example.com"
                    }
                }
            }
        },
        "aws.protocoltests.shared#FooEnum": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "FOO",
                        "value": "Foo"
                    },
                    {
                        "name": "BAZ",
                        "value": "Baz"
                    },
                    {
                        "name": "BAR",
                        "value": "Bar"
                    },
                    {
                        "name": "ONE",
                        "value": "1"
                    },
                    {
                        "name": "ZERO",
                        "value": "0"
                    }
                ]
            }
        },
        "aws.protocoltests.shared#FooEnumList": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#FooEnum"
            }
        },
        "aws.protocoltests.shared#FooEnumMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.protocoltests.shared#FooEnum"
            }
        },
        "aws.protocoltests.shared#FooEnumSet": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#FooEnum"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.protocoltests.restxml#FooPrefixHeaders": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            }
        },
        "com.amazonaws.s3#GetBucketLocation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.s3#GetBucketLocationRequest"
            },
            "output": {
                "target": "com.amazonaws.s3#GetBucketLocationOutput"
            },
            "traits": {
                "aws.customizations#s3UnwrappedXmlOutput": {},
                "smithy.api#http": {
                    "uri": "/{Bucket}?location",
                    "method": "GET"
                },
                "smithy.test#httpResponseTests": [
                    {
                        "id": "GetBucketLocationUnwrappedOutput",
                        "documentation": "    S3 clients should use the @s3UnwrappedXmlOutput trait to determine\n    that the response shape is not wrapped in a restxml operation-level XML node.\n",
                        "code": 200,
                        "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<LocationConstraint xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\">us-west-2</LocationConstraint>",
                        "params": {
                            "LocationConstraint": "us-west-2"
                        },
                        "protocol": "aws.protocols#restXml"
                    }
                ]
            }
        },
        "com.amazonaws.s3#GetBucketLocationOutput": {
            "type": "structure",
            "members": {
                "LocationConstraint": {
                    "target": "com.amazonaws.s3#BucketLocationConstraint"
                }
            },
            "traits": {
                "smithy.api#xmlName": "LocationConstraint"
            }
        },
        "com.amazonaws.s3#GetBucketLocationRequest": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "target": "com.amazonaws.s3#BucketName",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "aws.protocoltests.shared#GreetingList": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#GreetingStruct"
            }
        },
        "aws.protocoltests.shared#GreetingStruct": {
            "type": "structure",
            "members": {
                "hi": {
                    "target": "smithy.api#String"
                }
            }
        },
        "aws.protocoltests.restxml#GreetingWithErrors": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "aws.protocoltests.restxml#GreetingWithErrorsOutput"
            },
            "errors": [
                {
                    "target": "aws.protocoltests.restxml#ComplexError"
                },
                {
                    "target": "aws.protocoltests.restxml#InvalidGreeting"
                }
            ],
            "traits": {
                "smithy.api#documentation": "This operation has three possible return values:\n\n1. A successful response in the form of GreetingWithErrorsOutput\n2. An InvalidGreeting error.\n3. A BadRequest error.\n\nImplementations must be able to successfully take a response and\nproperly (de)serialize successful and error responses based on the\nthe presence of the",
                "smithy.api#http": {
                    "uri": "/GreetingWithErrors",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpResponseTests": [
                    {
                        "id": "GreetingWithErrors",
                        "documentation": "Ensures that operations with errors successfully know how to deserialize the successful response",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "",
                        "headers": {
                            "X-Greeting": "Hello"
                        },
                        "params": {
                            "greeting": "Hello"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#GreetingWithErrorsOutput": {
            "type": "structure",
            "members": {
                "greeting": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Greeting"
                    }
                }
            }
        },
        "aws.protocoltests.restxml#HostLabelHeaderInput": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#hostLabel": {},
                        "smithy.api#httpHeader": "X-Amz-Account-Id",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "aws.protocoltests.restxml#HostLabelInput": {
            "type": "structure",
            "members": {
                "label": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#hostLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "aws.protocoltests.shared#HttpDate": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "http-date"
            }
        },
        "smithy.test#HttpMalformedRequestDefinition": {
            "type": "structure",
            "members": {
                "method": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The HTTP request method.",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The request-target of the HTTP request, not including\nthe query string (for example, \"/foo/bar\").",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "host": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The host / endpoint provided to the client, not including the path\nor scheme (for example, \"example.com\")."
                    }
                },
                "queryParams": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of the serialized query string parameters to include in the request.\n\nEach element in the list is a query string key value pair\nthat starts with the query string parameter name optionally\nfollowed by \"=\", optionally followed by the query string\nparameter value. For example, \"foo=bar\", \"foo=\", and \"foo\"\nare all valid values. The query string parameter name and\nthe value MUST appear in the format in which it is expected\nto be sent over the wire; if a key or value needs to be\npercent-encoded, then it MUST appear percent-encoded in this list."
                    }
                },
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "Defines a map of HTTP headers to include in the request"
                    }
                },
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The HTTP message body to include in the request"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedRequestTestCase": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The identifier of the test case. This identifier can be used by\nprotocol test implementations to filter out unsupported test\ncases by ID, to generate test case names, etc. The provided `id`\nMUST match Smithy's `identifier` ABNF. No two `httpMalformedRequestTests`\ntest cases can share the same ID.",
                        "smithy.api#pattern": "^[A-Za-z_][A-Za-z0-9_]+$",
                        "smithy.api#required": {}
                    }
                },
                "protocol": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the protocol to test.",
                        "smithy.api#idRef": {
                            "selector": "[trait|protocolDefinition]",
                            "failWhenMissing": true
                        },
                        "smithy.api#required": {}
                    }
                },
                "request": {
                    "target": "smithy.test#HttpMalformedRequestDefinition",
                    "traits": {
                        "smithy.api#documentation": "The malformed request to send.",
                        "smithy.api#required": {}
                    }
                },
                "response": {
                    "target": "smithy.test#HttpMalformedResponseDefinition",
                    "traits": {
                        "smithy.api#documentation": "The expected response.",
                        "smithy.api#required": {}
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A description of the test and what is being asserted."
                    }
                },
                "tags": {
                    "target": "smithy.test#NonEmptyStringList",
                    "traits": {
                        "smithy.api#documentation": "Applies a list of tags to the test."
                    }
                },
                "testParameters": {
                    "target": "smithy.test#HttpMalformedRequestTestParametersDefinition",
                    "traits": {
                        "smithy.api#documentation": "An optional set of test parameters for parameterized testing."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedRequestTestParametersDefinition": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.test#StringList"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseBodyAssertion": {
            "type": "union",
            "members": {
                "contents": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines the expected serialized response body, which will be matched\nexactly."
                    }
                },
                "messageRegex": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A regex to evaluate against the `message` field in the body. For\nresponses that may have some variance from platform to platform,\nsuch as those that include messages from a parser."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseBodyDefinition": {
            "type": "structure",
            "members": {
                "assertion": {
                    "target": "smithy.test#HttpMalformedResponseBodyAssertion",
                    "traits": {
                        "smithy.api#documentation": "The assertion to execute against the response body.",
                        "smithy.api#required": {}
                    }
                },
                "mediaType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The media type of the response body.\n\nThis is used to help test runners to parse and evaluate\n`contents' and `messageRegex` in the assertion",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseDefinition": {
            "type": "structure",
            "members": {
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "Defines a map of expected HTTP headers.\n\nHeaders that are not listed in this map are ignored."
                    }
                },
                "code": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Defines the HTTP response code.",
                        "smithy.api#range": {
                            "min": 100,
                            "max": 599
                        },
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "smithy.test#HttpMalformedResponseBodyDefinition",
                    "traits": {
                        "smithy.api#documentation": "The expected response body."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.restxml#HttpPayloadTraits": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#HttpPayloadTraitsInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#HttpPayloadTraitsInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "This examples serializes a blob shape in the payload.\n\nIn this example, no XML document is synthesized because the payload is\nnot a structure or a union type.",
                "smithy.api#http": {
                    "uri": "/HttpPayloadTraits",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "HttpPayloadTraitsWithBlob",
                        "documentation": "Serializes a blob in the HTTP payload",
                        "protocol": "aws.protocols#restXml",
                        "method": "POST",
                        "uri": "/HttpPayloadTraits",
                        "body": "blobby blob blob",
                        "headers": {
                            "X-Foo": "Foo"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "foo": "Foo",
                            "blob": "blobby blob blob"
                        }
                    },
                    {
                        "id": "HttpPayloadTraitsWithNoBlobBody",
                        "documentation": "Serializes an empty blob in the HTTP payload",
                        "protocol": "aws.protocols#restXml",
                        "method": "POST",
                        "uri": "/HttpPayloadTraits",
                        "body": "",
                        "headers": {
                            "X-Foo": "Foo"
                        },
                        "params": {
                            "foo": "Foo"
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "HttpPayloadTraitsWithBlob",
                        "documentation": "Serializes a blob in the HTTP payload",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "blobby blob blob",
                        "headers": {
                            "X-Foo": "Foo"
                        },
                        "params": {
                            "foo": "Foo",
                            "blob": "blobby blob blob"
                        }
                    },
                    {
                        "id": "HttpPayloadTraitsWithNoBlobBody",
                        "documentation": "Serializes an empty blob in the HTTP payload",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "",
                        "headers": {
                            "X-Foo": "Foo"
                        },
                        "params": {
                            "foo": "Foo"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#HttpPayloadTraitsInputOutput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo"
                    }
                },
                "blob": {
                    "target": "smithy.api#Blob",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "aws.protocoltests.restxml#HttpPayloadTraitsWithMediaType": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#HttpPayloadTraitsWithMediaTypeInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#HttpPayloadTraitsWithMediaTypeInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "This examples uses a `@mediaType` trait on the payload to force a custom\ncontent-type to be serialized.",
                "smithy.api#http": {
                    "uri": "/HttpPayloadTraitsWithMediaType",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "HttpPayloadTraitsWithMediaTypeWithBlob",
                        "documentation": "Serializes a blob in the HTTP payload with a content-type",
                        "protocol": "aws.protocols#restXml",
                        "method": "POST",
                        "uri": "/HttpPayloadTraitsWithMediaType",
                        "body": "blobby blob blob",
                        "headers": {
                            "X-Foo": "Foo",
                            "Content-Type": "text/plain"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "foo": "Foo",
                            "blob": "blobby blob blob"
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "HttpPayloadTraitsWithMediaTypeWithBlob",
                        "documentation": "Serializes a blob in the HTTP payload with a content-type",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "blobby blob blob",
                        "headers": {
                            "X-Foo": "Foo",
                            "Content-Type": "text/plain"
                        },
                        "params": {
                            "foo": "Foo",
                            "blob": "blobby blob blob"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#HttpPayloadTraitsWithMediaTypeInputOutput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo"
                    }
                },
                "blob": {
                    "target": "aws.protocoltests.shared#TextPlainBlob",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "aws.protocoltests.restxml#HttpPayloadWithMemberXmlName": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#HttpPayloadWithMemberXmlNameInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#HttpPayloadWithMemberXmlNameInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "The following example serializes a payload that uses an XML name\non the member, changing the wrapper name.",
                "smithy.api#http": {
                    "uri": "/HttpPayloadWithMemberXmlName",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "HttpPayloadWithMemberXmlName",
                        "documentation": "Serializes a structure in the payload using a wrapper name based on member xmlName",
                        "protocol": "aws.protocols#restXml",
                        "method": "PUT",
                        "uri": "/HttpPayloadWithMemberXmlName",
                        "body": "<Hola><name>Phreddy</name></Hola>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "nested": {
                                "name": "Phreddy"
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "HttpPayloadWithMemberXmlName",
                        "documentation": "Serializes a structure in the payload using a wrapper name based on member xmlName",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "<Hola><name>Phreddy</name></Hola>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "nested": {
                                "name": "Phreddy"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#HttpPayloadWithMemberXmlNameInputOutput": {
            "type": "structure",
            "members": {
                "nested": {
                    "target": "aws.protocoltests.restxml#PayloadWithXmlName",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#xmlName": "Hola"
                    }
                }
            }
        },
        "aws.protocoltests.restxml#HttpPayloadWithStructure": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#HttpPayloadWithStructureInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#HttpPayloadWithStructureInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "This examples serializes a structure in the payload.\n\nNote that serializing a structure changes the wrapper element name\nto match the targeted structure.",
                "smithy.api#http": {
                    "uri": "/HttpPayloadWithStructure",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "HttpPayloadWithStructure",
                        "documentation": "Serializes a structure in the payload",
                        "protocol": "aws.protocols#restXml",
                        "method": "PUT",
                        "uri": "/HttpPayloadWithStructure",
                        "body": "<NestedPayload>\n    <greeting>hello</greeting>\n    <name>Phreddy</name>\n</NestedPayload>\n",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "nested": {
                                "greeting": "hello",
                                "name": "Phreddy"
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "HttpPayloadWithStructure",
                        "documentation": "Serializes a structure in the payload",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "<NestedPayload>\n    <greeting>hello</greeting>\n    <name>Phreddy</name>\n</NestedPayload>\n",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "nested": {
                                "greeting": "hello",
                                "name": "Phreddy"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#HttpPayloadWithStructureInputOutput": {
            "type": "structure",
            "members": {
                "nested": {
                    "target": "aws.protocoltests.restxml#NestedPayload",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "aws.protocoltests.restxml#HttpPayloadWithXmlName": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#HttpPayloadWithXmlNameInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#HttpPayloadWithXmlNameInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "The following example serializes a payload that uses an XML name,\nchanging the wrapper name.",
                "smithy.api#http": {
                    "uri": "/HttpPayloadWithXmlName",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "HttpPayloadWithXmlName",
                        "documentation": "Serializes a structure in the payload using a wrapper name based on xmlName",
                        "protocol": "aws.protocols#restXml",
                        "method": "PUT",
                        "uri": "/HttpPayloadWithXmlName",
                        "body": "<Hello><name>Phreddy</name></Hello>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "nested": {
                                "name": "Phreddy"
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "HttpPayloadWithXmlName",
                        "documentation": "Serializes a structure in the payload using a wrapper name based on xmlName",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "<Hello><name>Phreddy</name></Hello>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "nested": {
                                "name": "Phreddy"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#HttpPayloadWithXmlNameInputOutput": {
            "type": "structure",
            "members": {
                "nested": {
                    "target": "aws.protocoltests.restxml#PayloadWithXmlName",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "aws.protocoltests.restxml#HttpPayloadWithXmlNamespace": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#HttpPayloadWithXmlNamespaceInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#HttpPayloadWithXmlNamespaceInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "The following example serializes a payload that uses an XML namespace.",
                "smithy.api#http": {
                    "uri": "/HttpPayloadWithXmlNamespace",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "HttpPayloadWithXmlNamespace",
                        "documentation": "Serializes a structure in the payload using a wrapper with an XML namespace",
                        "protocol": "aws.protocols#restXml",
                        "method": "PUT",
                        "uri": "/HttpPayloadWithXmlNamespace",
                        "body": "<PayloadWithXmlNamespace xmlns=\"http://foo.com\">\n    <name>Phreddy</name>\n</PayloadWithXmlNamespace>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "nested": {
                                "name": "Phreddy"
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "HttpPayloadWithXmlNamespace",
                        "documentation": "Serializes a structure in the payload using a wrapper with an XML namespace",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "<PayloadWithXmlNamespace xmlns=\"http://foo.com\">\n    <name>Phreddy</name>\n</PayloadWithXmlNamespace>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "nested": {
                                "name": "Phreddy"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#HttpPayloadWithXmlNamespaceAndPrefix": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#HttpPayloadWithXmlNamespaceAndPrefixInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#HttpPayloadWithXmlNamespaceAndPrefixInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "The following example serializes a payload that uses an XML namespace.",
                "smithy.api#http": {
                    "uri": "/HttpPayloadWithXmlNamespaceAndPrefix",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "HttpPayloadWithXmlNamespaceAndPrefix",
                        "documentation": "Serializes a structure in the payload using a wrapper with an XML namespace",
                        "protocol": "aws.protocols#restXml",
                        "method": "PUT",
                        "uri": "/HttpPayloadWithXmlNamespaceAndPrefix",
                        "body": "<PayloadWithXmlNamespaceAndPrefix xmlns:baz=\"http://foo.com\">\n    <name>Phreddy</name>\n</PayloadWithXmlNamespaceAndPrefix>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "nested": {
                                "name": "Phreddy"
                            }
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "HttpPayloadWithXmlNamespaceAndPrefix",
                        "documentation": "Serializes a structure in the payload using a wrapper with an XML namespace",
                        "protocol": "aws.protocols#restXml",
                        "code": 200,
                        "body": "<PayloadWithXmlNamespaceAndPrefix xmlns:baz=\"http://foo.com\">\n    <name>Phreddy</name>\n</PayloadWithXmlNamespaceAndPrefix>",
                        "bodyMediaType": "application/xml",
                        "headers": {
                            "Content-Type": "application/xml"
                        },
                        "params": {
                            "nested": {
                                "name": "Phreddy"
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restxml#HttpPayloadWithXmlNamespaceAndPrefixInputOutput": {
            "type": "structure",
            "members": {
                "nested": {
                    "target": "aws.protocoltests.restxml#PayloadWithXmlNamespaceAndPrefix",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "aws.protocoltests.restxml#HttpPayloadWithXmlNamespaceInputOutput": {
            "type": "structure",
            "members": {
                "nested": {
                    "target": "aws.protocoltests.restxml#PayloadWithXmlNamespace",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "aws.protocoltests.restxml#HttpPrefixHeaders": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restxml#HttpPrefixHeadersInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restxml#HttpPrefixHeadersInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "This examples adds headers to the input of a request and response by prefix.",
                "smithy.api#externalDocumentation": {
[...]
