{
    "smithy": "1.0",
    "metadata": {
        "suppressions": [
            {
                "id": "UnreferencedShape",
                "namespace": "aws.protocoltests.config",
                "reason": "These shapes are intended to be used to validate vendorParams in\nprotocol tests, so they naturally will not be connected to a service.\n"
            },
            {
                "id": "HttpMethodSemantics",
                "namespace": "com.amazonaws.glacier"
            },
            {
                "id": "DeprecatedTrait",
                "namespace": "*",
                "reason": "Some of the AWS protocols make use of deprecated traits, and some are\nthemselves deprecated traits. As this package is intended to test those\nprotocols, the warnings should be suppressed."
            }
        ]
    },
    "shapes": {
        "aws.protocoltests.restjson#AllQueryStringTypes": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restjson#AllQueryStringTypesInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#documentation": "This example uses all query string types.",
                "smithy.api#http": {
                    "uri": "/AllQueryStringTypesInput",
                    "method": "GET"
                },
                "smithy.api#readonly": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestJsonAllQueryStringTypes",
                        "documentation": "Serializes query string parameters with all supported types",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "String=Hello%20there",
                            "StringList=a",
                            "StringList=b",
                            "StringList=c",
                            "StringSet=a",
                            "StringSet=b",
                            "StringSet=c",
                            "Byte=1",
                            "Short=2",
                            "Integer=3",
                            "IntegerList=1",
                            "IntegerList=2",
                            "IntegerList=3",
                            "IntegerSet=1",
                            "IntegerSet=2",
                            "IntegerSet=3",
                            "Long=4",
                            "Float=1.1",
                            "Double=1.1",
                            "DoubleList=1.1",
                            "DoubleList=2.1",
                            "DoubleList=3.1",
                            "Boolean=true",
                            "BooleanList=true",
                            "BooleanList=false",
                            "BooleanList=true",
                            "Timestamp=1970-01-01T00%3A00%3A01Z",
                            "TimestampList=1970-01-01T00%3A00%3A01Z",
                            "TimestampList=1970-01-01T00%3A00%3A02Z",
                            "TimestampList=1970-01-01T00%3A00%3A03Z",
                            "Enum=Foo",
                            "EnumList=Foo",
                            "EnumList=Baz",
                            "EnumList=Bar"
                        ],
                        "params": {
                            "queryString": "Hello there",
                            "queryStringList": [
                                "a",
                                "b",
                                "c"
                            ],
                            "queryStringSet": [
                                "a",
                                "b",
                                "c"
                            ],
                            "queryByte": 1,
                            "queryShort": 2,
                            "queryInteger": 3,
                            "queryIntegerList": [
                                1,
                                2,
                                3
                            ],
                            "queryIntegerSet": [
                                1,
                                2,
                                3
                            ],
                            "queryLong": 4,
                            "queryFloat": 1.1,
                            "queryDouble": 1.1,
                            "queryDoubleList": [
                                1.1,
                                2.1,
                                3.1
                            ],
                            "queryBoolean": true,
                            "queryBooleanList": [
                                true,
                                false,
                                true
                            ],
                            "queryTimestamp": 1,
                            "queryTimestampList": [
                                1,
                                2,
                                3
                            ],
                            "queryEnum": "Foo",
                            "queryEnumList": [
                                "Foo",
                                "Baz",
                                "Bar"
                            ]
                        }
                    },
                    {
                        "id": "RestJsonQueryStringMap",
                        "documentation": "Handles query string maps",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "QueryParamsStringKeyA=Foo",
                            "QueryParamsStringKeyB=Bar"
                        ],
                        "params": {
                            "queryParamsMapOfStringList": {
                                "QueryParamsStringKeyA": [
                                    "Foo"
                                ],
                                "QueryParamsStringKeyB": [
                                    "Bar"
                                ]
                            }
                        }
                    },
                    {
                        "id": "RestJsonQueryStringEscaping",
                        "documentation": "Handles escaping all required characters in the query string.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "String=%25%3A%2F%3F%23%5B%5D%40%21%24%26%27%28%29%2A%2B%2C%3B%3D%F0%9F%98%B9"
                        ],
                        "params": {
                            "queryString": "%:/?#[]@!$&'()*+,;=😹"
                        }
                    },
                    {
                        "id": "RestJsonSupportsNaNFloatQueryValues",
                        "documentation": "Supports handling NaN float query values.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "Float=NaN",
                            "Double=NaN"
                        ],
                        "params": {
                            "queryFloat": "NaN",
                            "queryDouble": "NaN",
                            "queryParamsMapOfStringList": {
                                "Float": [
                                    "NaN"
                                ],
                                "Double": [
                                    "NaN"
                                ]
                            }
                        }
                    },
                    {
                        "id": "RestJsonSupportsInfinityFloatQueryValues",
                        "documentation": "Supports handling Infinity float query values.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "Float=Infinity",
                            "Double=Infinity"
                        ],
                        "params": {
                            "queryFloat": "Infinity",
                            "queryDouble": "Infinity",
                            "queryParamsMapOfStringList": {
                                "Float": [
                                    "Infinity"
                                ],
                                "Double": [
                                    "Infinity"
                                ]
                            }
                        }
                    },
                    {
                        "id": "RestJsonSupportsNegativeInfinityFloatQueryValues",
                        "documentation": "Supports handling -Infinity float query values.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/AllQueryStringTypesInput",
                        "body": "",
                        "queryParams": [
                            "Float=-Infinity",
                            "Double=-Infinity"
                        ],
                        "params": {
                            "queryFloat": "-Infinity",
                            "queryDouble": "-Infinity",
                            "queryParamsMapOfStringList": {
                                "Float": [
                                    "-Infinity"
                                ],
                                "Double": [
                                    "-Infinity"
                                ]
                            }
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#AllQueryStringTypesInput": {
            "type": "structure",
            "members": {
                "queryString": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "String"
                    }
                },
                "queryStringList": {
                    "target": "aws.protocoltests.shared#StringList",
                    "traits": {
                        "smithy.api#httpQuery": "StringList"
                    }
                },
                "queryStringSet": {
                    "target": "aws.protocoltests.shared#StringSet",
                    "traits": {
                        "smithy.api#httpQuery": "StringSet"
                    }
                },
                "queryByte": {
                    "target": "smithy.api#Byte",
                    "traits": {
                        "smithy.api#httpQuery": "Byte"
                    }
                },
                "queryShort": {
                    "target": "smithy.api#Short",
                    "traits": {
                        "smithy.api#httpQuery": "Short"
                    }
                },
                "queryInteger": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "Integer"
                    }
                },
                "queryIntegerList": {
                    "target": "aws.protocoltests.shared#IntegerList",
                    "traits": {
                        "smithy.api#httpQuery": "IntegerList"
                    }
                },
                "queryIntegerSet": {
                    "target": "aws.protocoltests.shared#IntegerSet",
                    "traits": {
                        "smithy.api#httpQuery": "IntegerSet"
                    }
                },
                "queryLong": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#httpQuery": "Long"
                    }
                },
                "queryFloat": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#httpQuery": "Float"
                    }
                },
                "queryDouble": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#httpQuery": "Double"
                    }
                },
                "queryDoubleList": {
                    "target": "aws.protocoltests.shared#DoubleList",
                    "traits": {
                        "smithy.api#httpQuery": "DoubleList"
                    }
                },
                "queryBoolean": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#httpQuery": "Boolean"
                    }
                },
                "queryBooleanList": {
                    "target": "aws.protocoltests.shared#BooleanList",
                    "traits": {
                        "smithy.api#httpQuery": "BooleanList"
                    }
                },
                "queryTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#httpQuery": "Timestamp"
                    }
                },
                "queryTimestampList": {
                    "target": "aws.protocoltests.shared#TimestampList",
                    "traits": {
                        "smithy.api#httpQuery": "TimestampList"
                    }
                },
                "queryEnum": {
                    "target": "aws.protocoltests.shared#FooEnum",
                    "traits": {
                        "smithy.api#httpQuery": "Enum"
                    }
                },
                "queryEnumList": {
                    "target": "aws.protocoltests.shared#FooEnumList",
                    "traits": {
                        "smithy.api#httpQuery": "EnumList"
                    }
                },
                "queryParamsMapOfStringList": {
                    "target": "aws.protocoltests.shared#StringListMap",
                    "traits": {
                        "smithy.api#httpQueryParams": {}
                    }
                }
            },
            "traits": {
                "smithy.api#suppress": [
                    "HttpQueryParamsTrait"
                ]
            }
        },
        "com.amazonaws.apigateway#ApiKeySourceType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "HEADER",
                        "name": "HEADER"
                    },
                    {
                        "value": "AUTHORIZER",
                        "name": "AUTHORIZER"
                    }
                ]
            }
        },
        "smithy.test#AppliesTo": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "client",
                        "name": "CLIENT",
                        "documentation": "The test only applies to client implementations."
                    },
                    {
                        "value": "server",
                        "name": "SERVER",
                        "documentation": "The test only applies to server implementations."
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "com.amazonaws.glacier#ArchiveCreationOutput": {
            "type": "structure",
            "members": {
                "location": {
                    "target": "com.amazonaws.glacier#string",
                    "traits": {
                        "smithy.api#httpHeader": "Location"
                    }
                },
                "checksum": {
                    "target": "com.amazonaws.glacier#string",
                    "traits": {
                        "smithy.api#httpHeader": "x-amz-sha256-tree-hash"
                    }
                },
                "archiveId": {
                    "target": "com.amazonaws.glacier#string",
                    "traits": {
                        "smithy.api#httpHeader": "x-amz-archive-id"
                    }
                }
            }
        },
        "aws.apigateway#Arn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {},
                "smithy.api#documentation": "<p>The ARN of an AWS integration target.</p><p>This string MAY contain the literal string <code>{serviceName}</code> and/or the literal string <code>{operationName}</code>, which will be replaced with the name of the Smithy service shape and the name of the Smithy operation shape, respectively.</p>",
                "smithy.api#private": {}
            }
        },
        "aws.api#ArnNamespace": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-z0-9.\\-]{1,63}$",
                "smithy.api#private": {}
            }
        },
        "aws.apigateway#AuthorizerDefinition": {
            "type": "structure",
            "members": {
                "scheme": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Smithy authentication scheme used by the client (e.g, aws.v4).",
                        "smithy.api#idRef": {
                            "selector": "[trait|authDefinition]",
                            "failWhenMissing": true,
                            "errorMessage": "The scheme of an authorizer definition must reference an auth trait"
                        },
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The type of the authorizer. If specifying information beyond the scheme, this value is required. The value must be \"token\", for an authorizer with the caller identity embedded in an authorization token, or \"request\", for an authorizer with the caller identity contained in request parameters."
                    }
                },
                "customAuthType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "This value is not used directly by API Gateway but will be used for OpenAPI exports. This will default to \"awsSigV4\" if your scheme is \"aws.v4\", or \"custom\" otherwise."
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Uniform Resource Identifier (URI) of the authorizer Lambda function"
                    }
                },
                "credentials": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Credentials required for invoking the authorizer"
                    }
                },
                "identitySource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Comma-separated list of mapping expressions of the request parameters as the identity source. Applicable for the authorizer of the \"request\" type only."
                    }
                },
                "identityValidationExpression": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A regular expression for validating the token as the incoming identity"
                    }
                },
                "resultTtlInSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The number of seconds for which the resulting IAM policy is cached."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An object that associates an authorizer and associated metadata with an authentication mechanism.",
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.config#AwsConfig": {
            "type": "structure",
            "members": {
                "clockTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "This is the time that should be set during the course of the test.\nThis is important for things like signing where the clock time impacts\nthe result."
                    }
                },
                "scopedConfig": {
                    "target": "aws.protocoltests.config#ScopedConfig"
                }
            }
        },
        "com.amazonaws.apigateway#BackplaneControlService": {
            "type": "service",
            "traits": {
                "aws.api#service": {
                    "sdkId": "API Gateway",
                    "arnNamespace": "apigateway",
                    "cloudFormationName": "ApiGateway",
                    "cloudTrailEventSource": "apigateway.amazonaws.com",
                    "endpointPrefix": "apigateway"
                },
                "aws.auth#sigv4": {
                    "name": "apigateway"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#title": "Amazon API Gateway"
            },
            "version": "2015-07-09",
            "operations": [
                {
                    "target": "com.amazonaws.apigateway#GetRestApis"
                }
            ]
        },
        "com.amazonaws.apigateway#BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.apigateway#String"
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.apigateway#Boolean": {
            "type": "boolean"
        },
        "aws.protocoltests.shared#BooleanList": {
            "type": "list",
            "member": {
                "target": "smithy.api#PrimitiveBoolean"
            }
        },
        "aws.protocols#ChecksumAlgorithm": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CRC32C",
                        "name": "CRC32C"
                    },
                    {
                        "value": "CRC32",
                        "name": "CRC32"
                    },
                    {
                        "value": "SHA1",
                        "name": "SHA1"
                    },
                    {
                        "value": "SHA256",
                        "name": "SHA256"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocols#ChecksumAlgorithmSet": {
            "type": "list",
            "member": {
                "target": "aws.protocols#ChecksumAlgorithm"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#private": {},
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.protocoltests.config#ClientConfig": {
            "type": "structure",
            "members": {
                "aws_access_key_id": {
                    "target": "smithy.api#String"
                },
                "aws_secret_access_key": {
                    "target": "smithy.api#String"
                },
                "aws_session_token": {
                    "target": "smithy.api#String"
                },
                "region": {
                    "target": "smithy.api#String"
                },
                "s3": {
                    "target": "aws.protocoltests.config#S3Config"
                },
                "retry_config": {
                    "target": "aws.protocoltests.config#RetryConfig"
                },
                "aws_profile": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "Configuration that is set on the constructed client."
            }
        },
        "aws.api#CloudFormationName": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[A-Z][A-Za-z0-9]+$",
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.restjson#ComplexError": {
            "type": "structure",
            "members": {
                "Header": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Header"
                    }
                },
                "TopLevel": {
                    "target": "smithy.api#String"
                },
                "Nested": {
                    "target": "aws.protocoltests.restjson#ComplexNestedErrorData"
                }
            },
            "traits": {
                "smithy.api#documentation": "This error is thrown when a request is invalid.",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403,
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RestJsonComplexErrorWithNoMessage",
                        "documentation": "Serializes a complex error with no message member",
                        "protocol": "aws.protocols#restJson1",
                        "params": {
                            "Header": "Header",
                            "TopLevel": "Top level",
                            "Nested": {
                                "Foo": "bar"
                            }
                        },
                        "code": 403,
                        "headers": {
                            "Content-Type": "application/json",
                            "X-Header": "Header",
                            "X-Amzn-Errortype": "ComplexError"
                        },
                        "body": "{\n    \"TopLevel\": \"Top level\",\n    \"Nested\": {\n        \"Fooooo\": \"bar\"\n    }\n}",
                        "bodyMediaType": "application/json"
                    },
                    {
                        "id": "RestJsonEmptyComplexErrorWithNoMessage",
                        "protocol": "aws.protocols#restJson1",
                        "params": {},
                        "code": 403,
                        "headers": {
                            "Content-Type": "application/json",
                            "X-Amzn-Errortype": "ComplexError"
                        },
                        "body": "{}",
                        "bodyMediaType": "application/json"
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#ComplexNestedErrorData": {
            "type": "structure",
            "members": {
                "Foo": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "Fooooo"
                    }
                }
            }
        },
        "aws.iam#ConditionKeyDefinition": {
            "type": "structure",
            "members": {
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines documentation about the condition key."
                    }
                },
                "externalDocumentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A valid URL that defines more information about the condition key."
                    }
                },
                "type": {
                    "target": "aws.iam#ConditionKeyType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A defined condition key to appear within a service in addition to inferred and global condition keys.",
                "smithy.api#private": {}
            }
        },
        "aws.iam#ConditionKeyType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The IAM policy type of the value that will supplied for this context key",
                "smithy.api#enum": [
                    {
                        "value": "ARN",
                        "name": "ARN"
                    },
                    {
                        "value": "ArrayOfARN",
                        "name": "ARRAY_OF_ARN"
                    },
                    {
                        "value": "Binary",
                        "name": "BINARY"
                    },
                    {
                        "value": "ArrayOfBinary",
                        "name": "ARRAY_OF_BINARY"
                    },
                    {
                        "value": "String",
                        "name": "STRING"
                    },
                    {
                        "value": "ArrayOfString",
                        "name": "ARRAY_OF_STRING"
                    },
                    {
                        "value": "Numeric",
                        "name": "NUMERIC"
                    },
                    {
                        "value": "ArrayOfNumeric",
                        "name": "ARRAY_OF_NUMERIC"
                    },
                    {
                        "value": "Date",
                        "name": "DATE"
                    },
                    {
                        "value": "ArrayOfDate",
                        "name": "ARRAY_OF_DATE"
                    },
                    {
                        "value": "Bool",
                        "name": "BOOL"
                    },
                    {
                        "value": "ArrayOfBool",
                        "name": "ARRAY_OF_BOOL"
                    },
                    {
                        "value": "IPAddress",
                        "name": "IP_ADDRESS"
                    },
                    {
                        "value": "ArrayOfIPAddress",
                        "name": "ARRAY_OF_IP_ADDRESS"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.config#ConfigFile": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#documentation": "The top level key in a config file is the \"profile\", which is a string.\nIf a profile is not explicitly set, then implementations should check the\nprofile named \"default\"."
                }
            },
            "value": {
                "target": "aws.protocoltests.config#FileConfigSettings",
                "traits": {
                    "smithy.api#documentation": "The value is a collection of settings."
                }
            },
            "traits": {
                "smithy.api#documentation": "A shape representing a parsed config file, which is a map of profile names\nto configuration sets."
            }
        },
        "aws.apigateway#ConnectionType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "INTERNET",
                        "value": "INTERNET"
                    },
                    {
                        "name": "VPC_LINK",
                        "value": "VPC_LINK"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.restjson#ConstantAndVariableQueryString": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restjson#ConstantAndVariableQueryStringInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#documentation": "This example uses fixed query string params and variable query string params.\nThe fixed query string parameters and variable parameters must both be\nserialized (implementations may need to merge them together).",
                "smithy.api#http": {
                    "uri": "/ConstantAndVariableQueryString?foo=bar",
                    "method": "GET"
                },
                "smithy.api#readonly": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestJsonConstantAndVariableQueryStringMissingOneValue",
                        "documentation": "Mixes constant and variable query string parameters",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/ConstantAndVariableQueryString",
                        "queryParams": [
                            "foo=bar",
                            "baz=bam"
                        ],
                        "forbidQueryParams": [
                            "maybeSet"
                        ],
                        "body": "",
                        "params": {
                            "baz": "bam"
                        }
                    },
                    {
                        "id": "RestJsonConstantAndVariableQueryStringAllValues",
                        "documentation": "Mixes constant and variable query string parameters",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/ConstantAndVariableQueryString",
                        "queryParams": [
                            "foo=bar",
                            "baz=bam",
                            "maybeSet=yes"
                        ],
                        "body": "",
                        "params": {
                            "baz": "bam",
                            "maybeSet": "yes"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#ConstantAndVariableQueryStringInput": {
            "type": "structure",
            "members": {
                "baz": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "baz"
                    }
                },
                "maybeSet": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "maybeSet"
                    }
                }
            }
        },
        "aws.protocoltests.restjson#ConstantQueryString": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restjson#ConstantQueryStringInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#documentation": "This example uses a constant query string parameters and a label.\nThis simply tests that labels and query string parameters are\ncompatible. The fixed query string parameter named \"hello\" should\nin no way conflict with the label, `{hello}`.",
                "smithy.api#http": {
                    "uri": "/ConstantQueryString/{hello}?foo=bar&hello",
                    "method": "GET"
                },
                "smithy.api#readonly": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestJsonConstantQueryString",
                        "documentation": "Includes constant query string parameters",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/ConstantQueryString/hi",
                        "queryParams": [
                            "foo=bar",
                            "hello"
                        ],
                        "body": "",
                        "params": {
                            "hello": "hi"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#ConstantQueryStringInput": {
            "type": "structure",
            "members": {
                "hello": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "aws.apigateway#ContentHandling": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Defines the contentHandling for the integration",
                "smithy.api#enum": [
                    {
                        "value": "CONVERT_TO_TEXT",
                        "name": "CONVERT_TO_TEXT"
                    },
                    {
                        "value": "CONVERT_TO_BINARY",
                        "name": "CONVERT_TO_BINARY"
                    }
                ],
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.shared#DateTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "aws.protocoltests.restjson#DenseBooleanMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#Boolean"
            }
        },
        "aws.protocoltests.restjson#DenseNumberMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#Integer"
            }
        },
        "aws.protocoltests.restjson#DenseSetMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.protocoltests.shared#StringSet"
            }
        },
        "aws.protocoltests.restjson#DenseStringMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            }
        },
        "aws.protocoltests.restjson#DenseStructMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.protocoltests.shared#GreetingStruct"
            }
        },
        "aws.protocoltests.restjson#Document": {
            "type": "document"
        },
        "aws.protocoltests.restjson#DocumentType": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restjson#DocumentTypeInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restjson#DocumentTypeInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "This example serializes a document as part of the payload.",
                "smithy.api#http": {
                    "uri": "/DocumentType",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "DocumentTypeInputWithObject",
                        "documentation": "Serializes document types as part of the JSON request payload with no escaping.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "PUT",
                        "uri": "/DocumentType",
                        "body": "{\n    \"stringValue\": \"string\",\n    \"documentValue\": {\n        \"foo\": \"bar\"\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "stringValue": "string",
                            "documentValue": {
                                "foo": "bar"
                            }
                        }
                    },
                    {
                        "id": "DocumentInputWithString",
                        "documentation": "Serializes document types using a string.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "PUT",
                        "uri": "/DocumentType",
                        "body": "{\n    \"stringValue\": \"string\",\n    \"documentValue\": \"hello\"\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "stringValue": "string",
                            "documentValue": "hello"
                        }
                    },
                    {
                        "id": "DocumentInputWithNumber",
                        "documentation": "Serializes document types using a number.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "PUT",
                        "uri": "/DocumentType",
                        "body": "{\n    \"stringValue\": \"string\",\n    \"documentValue\": 10\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "stringValue": "string",
                            "documentValue": 10
                        }
                    },
                    {
                        "id": "DocumentInputWithBoolean",
                        "documentation": "Serializes document types using a boolean.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "PUT",
                        "uri": "/DocumentType",
                        "body": "{\n    \"stringValue\": \"string\",\n    \"documentValue\": true\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "stringValue": "string",
                            "documentValue": true
                        }
                    },
                    {
                        "id": "DocumentInputWithList",
                        "documentation": "Serializes document types using a list.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "PUT",
                        "uri": "/DocumentType",
                        "body": "{\n    \"stringValue\": \"string\",\n    \"documentValue\": [\n        true,\n        \"hi\",\n        [\n            1,\n            2\n        ],\n        {\n            \"foo\": {\n                \"baz\": [\n                    3,\n                    4\n                ]\n            }\n        }\n    ]\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "stringValue": "string",
                            "documentValue": [
                                true,
                                "hi",
                                [
                                    1,
                                    2
                                ],
                                {
                                    "foo": {
                                        "baz": [
                                            3,
                                            4
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "DocumentOutput",
                        "documentation": "Serializes documents as part of the JSON response payload with no escaping.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "body": "{\n    \"stringValue\": \"string\",\n    \"documentValue\": {\n        \"foo\": \"bar\"\n    }\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "stringValue": "string",
                            "documentValue": {
                                "foo": "bar"
                            }
                        }
                    },
                    {
                        "id": "DocumentOutputString",
                        "documentation": "Document types can be JSON scalars too.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "body": "{\n    \"stringValue\": \"string\",\n    \"documentValue\": \"hello\"\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "stringValue": "string",
                            "documentValue": "hello"
                        }
                    },
                    {
                        "id": "DocumentOutputNumber",
                        "documentation": "Document types can be JSON scalars too.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "body": "{\n    \"stringValue\": \"string\",\n    \"documentValue\": 10\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "stringValue": "string",
                            "documentValue": 10
                        }
                    },
                    {
                        "id": "DocumentOutputBoolean",
                        "documentation": "Document types can be JSON scalars too.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "body": "{\n    \"stringValue\": \"string\",\n    \"documentValue\": false\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "stringValue": "string",
                            "documentValue": false
                        }
                    },
                    {
                        "id": "DocumentOutputArray",
                        "documentation": "Document types can be JSON arrays.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "body": "{\n    \"stringValue\": \"string\",\n    \"documentValue\": [\n        true,\n        false\n    ]\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "stringValue": "string",
                            "documentValue": [
                                true,
                                false
                            ]
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#DocumentTypeAsPayload": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restjson#DocumentTypeAsPayloadInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restjson#DocumentTypeAsPayloadInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "This example serializes a document as the entire HTTP payload.",
                "smithy.api#http": {
                    "uri": "/DocumentTypeAsPayload",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "DocumentTypeAsPayloadInput",
                        "documentation": "Serializes a document as the target of the httpPayload trait.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "PUT",
                        "uri": "/DocumentTypeAsPayload",
                        "body": "{\n    \"foo\": \"bar\"\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "documentValue": {
                                "foo": "bar"
                            }
                        }
                    },
                    {
                        "id": "DocumentTypeAsPayloadInputString",
                        "documentation": "Serializes a document as the target of the httpPayload trait using a string.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "PUT",
                        "uri": "/DocumentTypeAsPayload",
                        "body": "\"hello\"",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "documentValue": "hello"
                        }
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "DocumentTypeAsPayloadOutput",
                        "documentation": "Serializes a document as the target of the httpPayload trait.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "body": "{\n    \"foo\": \"bar\"\n}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "documentValue": {
                                "foo": "bar"
                            }
                        }
                    },
                    {
                        "id": "DocumentTypeAsPayloadOutputString",
                        "documentation": "Serializes a document as a payload string.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "body": "\"hello\"",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "params": {
                            "documentValue": "hello"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#DocumentTypeAsPayloadInputOutput": {
            "type": "structure",
            "members": {
                "documentValue": {
                    "target": "aws.protocoltests.restjson#Document",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "aws.protocoltests.restjson#DocumentTypeInputOutput": {
            "type": "structure",
            "members": {
                "stringValue": {
                    "target": "smithy.api#String"
                },
                "documentValue": {
                    "target": "aws.protocoltests.restjson#Document"
                }
            }
        },
        "aws.protocoltests.shared#DoubleList": {
            "type": "list",
            "member": {
                "target": "smithy.api#Double"
            }
        },
        "aws.protocoltests.restjson#EmptyInputAndEmptyOutput": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restjson#EmptyInputAndEmptyOutputInput"
            },
            "output": {
                "target": "aws.protocoltests.restjson#EmptyInputAndEmptyOutputOutput"
            },
            "traits": {
                "smithy.api#documentation": "The example tests how requests and responses are serialized when there's\nno request or response payload because the operation has an empty input\nand empty output structure that reuses the same shape. While this should\nbe rare, code generators must support this.",
                "smithy.api#http": {
                    "uri": "/EmptyInputAndEmptyOutput",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestJsonEmptyInputAndEmptyOutput",
                        "documentation": "Clients should not serialize a JSON payload when no parameters\nare given that are sent in the body. A service will tolerate\nclients that omit a payload or that send a JSON object.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "POST",
                        "uri": "/EmptyInputAndEmptyOutput",
                        "body": ""
                    },
                    {
                        "id": "RestJsonEmptyInputAndEmptyOutputWithJson",
                        "documentation": "Similar to RestJsonEmptyInputAndEmptyOutput, but ensures that\nservices gracefully handles receiving a JSON object.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "POST",
                        "uri": "/EmptyInputAndEmptyOutput",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "body": "{}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "server"
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RestJsonEmptyInputAndEmptyOutput",
                        "documentation": "As of January 2021, server implementations are expected to\nrespond with a JSON object regardless of if the output\nparameters are empty.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "body": "{}",
                        "bodyMediaType": "application/json"
                    },
                    {
                        "id": "RestJsonEmptyInputAndEmptyOutputJsonObjectOutput",
                        "documentation": "This test ensures that clients can gracefully handle\nsituations where a service omits a JSON payload entirely.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "body": "",
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#EmptyInputAndEmptyOutputInput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "aws.protocoltests.restjson#EmptyInputAndEmptyOutputOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.apigateway#EndpointConfiguration": {
            "type": "structure",
            "members": {
                "types": {
                    "target": "com.amazonaws.apigateway#ListOfEndpointType"
                },
                "vpcEndpointIds": {
                    "target": "com.amazonaws.apigateway#ListOfString"
                }
            }
        },
        "aws.protocoltests.restjson#EndpointOperation": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#endpoint": {
                    "hostPrefix": "foo."
                },
                "smithy.api#http": {
                    "uri": "/EndpointOperation",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestJsonEndpointTrait",
                        "documentation": "Operations can prepend to the given host if they define the\nendpoint trait.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "POST",
                        "uri": "/EndpointOperation",
                        "body": "",
                        "host": "example.com",
                        "resolvedHost": "foo.example.com"
                    }
                ]
            }
        },
        "com.amazonaws.apigateway#EndpointType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "REGIONAL",
                        "name": "REGIONAL"
                    },
                    {
                        "value": "EDGE",
                        "name": "EDGE"
                    },
                    {
                        "value": "PRIVATE",
                        "name": "PRIVATE"
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#EndpointWithHostLabelOperation": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restjson#HostLabelInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#endpoint": {
                    "hostPrefix": "foo.{label}."
                },
                "smithy.api#http": {
                    "uri": "/EndpointWithHostLabelOperation",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestJsonEndpointTraitWithHostLabel",
                        "documentation": "Operations can prepend to the given host if they define the\nendpoint trait, and can use the host label trait to define\nfurther customization based on user input.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "POST",
                        "uri": "/EndpointWithHostLabelOperation",
                        "body": "{\"label\": \"bar\"}",
                        "bodyMediaType": "application/json",
                        "host": "example.com",
                        "resolvedHost": "foo.bar.example.com",
                        "params": {
                            "label": "bar"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#EnumPayloadInput": {
            "type": "structure",
            "members": {
                "payload": {
                    "target": "aws.protocoltests.restjson#StringEnum",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "aws.protocoltests.config#EnvironmentConfig": {
            "type": "structure",
            "members": {
                "AWS_ACCESS_KEY_ID": {
                    "target": "smithy.api#String"
                },
                "AWS_SECRET_ACCESS_KEY": {
                    "target": "smithy.api#String"
                },
                "AWS_DEFAULT_REGION": {
                    "target": "smithy.api#String"
                },
                "AWS_RETRY_MODE": {
                    "target": "aws.protocoltests.config#RetryMode"
                },
                "AWS_SESSION_TOKEN": {
                    "target": "smithy.api#String"
                },
                "AWS_PROFILE": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "Config settings that can be set as environment variables."
            }
        },
        "aws.protocoltests.shared#EpochSeconds": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "epoch-seconds"
            }
        },
        "aws.protocoltests.config#FileConfigSettings": {
            "type": "structure",
            "members": {
                "aws_access_key_id": {
                    "target": "smithy.api#String"
                },
                "aws_secret_access_key": {
                    "target": "smithy.api#String"
                },
                "aws_session_token": {
                    "target": "smithy.api#String"
                },
                "region": {
                    "target": "smithy.api#String"
                },
                "s3": {
                    "target": "aws.protocoltests.config#S3Config"
                },
                "retry_mode": {
                    "target": "aws.protocoltests.config#RetryMode"
                },
                "max_attempts": {
                    "target": "smithy.api#Short"
                }
            },
            "traits": {
                "smithy.api#documentation": "Config settings that can be set in the AWS config / credentials file as\npart of a profile."
            }
        },
        "aws.protocoltests.restjson#FiniteStreamingBlob": {
            "type": "blob",
            "traits": {
                "smithy.api#requiresLength": {},
                "smithy.api#streaming": {}
            }
        },
        "aws.protocoltests.shared#FooEnum": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "FOO",
                        "value": "Foo"
                    },
                    {
                        "name": "BAZ",
                        "value": "Baz"
                    },
                    {
                        "name": "BAR",
                        "value": "Bar"
                    },
                    {
                        "name": "ONE",
                        "value": "1"
                    },
                    {
                        "name": "ZERO",
                        "value": "0"
                    }
                ]
            }
        },
        "aws.protocoltests.shared#FooEnumList": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#FooEnum"
            }
        },
        "aws.protocoltests.shared#FooEnumMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "aws.protocoltests.shared#FooEnum"
            }
        },
        "aws.protocoltests.shared#FooEnumSet": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#FooEnum"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.protocoltests.restjson#FooError": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "This error has test cases that test some of the dark corners of Amazon service\nframework history. It should only be implemented by clients.",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500,
                "smithy.api#tags": [
                    "client-only"
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RestJsonFooErrorUsingXAmznErrorType",
                        "documentation": "Serializes the X-Amzn-ErrorType header. For an example service, see Amazon EKS.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 500,
                        "headers": {
                            "X-Amzn-Errortype": "FooError"
                        },
                        "appliesTo": "client"
                    },
                    {
                        "id": "RestJsonFooErrorUsingXAmznErrorTypeWithUri",
                        "documentation": "Some X-Amzn-Errortype headers contain URLs. Clients need to split the URL on ':' and take only the first half of the string. For example, 'ValidationException:http://internal.amazon.com/example/com.amazon.example.validate/'\nis to be interpreted as 'ValidationException'.\n\nFor an example service see Amazon Polly.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 500,
                        "headers": {
                            "X-Amzn-Errortype": "FooError:http://internal.amazon.com/example/com.amazon.example.validate/"
                        },
                        "appliesTo": "client"
                    },
                    {
                        "id": "RestJsonFooErrorUsingXAmznErrorTypeWithUriAndNamespace",
                        "documentation": "X-Amzn-Errortype might contain a URL and a namespace. Client should extract only the shape name. This is a pathalogical case that might not actually happen in any deployed AWS service.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 500,
                        "headers": {
                            "X-Amzn-Errortype": "aws.protocoltests.restjson#FooError:http://internal.amazon.com/example/com.amazon.example.validate/"
                        },
                        "appliesTo": "client"
                    },
                    {
                        "id": "RestJsonFooErrorUsingCode",
                        "documentation": "This example uses the 'code' property in the output rather than X-Amzn-Errortype. Some services do this though it's preferable to send the X-Amzn-Errortype. Client implementations must first check for the X-Amzn-Errortype and then check for a top-level 'code' property.\n\nFor example service see Amazon S3 Glacier.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "body": "{\n    \"code\": \"FooError\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    },
                    {
                        "id": "RestJsonFooErrorUsingCodeAndNamespace",
                        "documentation": "Some services serialize errors using code, and it might contain a namespace. Clients should just take the last part of the string after '#'.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "body": "{\n    \"code\": \"aws.protocoltests.restjson#FooError\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    },
                    {
                        "id": "RestJsonFooErrorUsingCodeUriAndNamespace",
                        "documentation": "Some services serialize errors using code, and it might contain a namespace. It also might contain a URI. Clients should just take the last part of the string after '#' and before \":\". This is a pathalogical case that might not occur in any deployed AWS service.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "body": "{\n    \"code\": \"aws.protocoltests.restjson#FooError:http://internal.amazon.com/example/com.amazon.example.validate/\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    },
                    {
                        "id": "RestJsonFooErrorWithDunderType",
                        "documentation": "Some services serialize errors using __type.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "body": "{\n    \"__type\": \"FooError\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    },
                    {
                        "id": "RestJsonFooErrorWithDunderTypeAndNamespace",
                        "documentation": "Some services serialize errors using __type, and it might contain a namespace. Clients should just take the last part of the string after '#'.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "body": "{\n    \"__type\": \"aws.protocoltests.restjson#FooError\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    },
                    {
                        "id": "RestJsonFooErrorWithDunderTypeUriAndNamespace",
                        "documentation": "Some services serialize errors using __type, and it might contain a namespace. It also might contain a URI. Clients should just take the last part of the string after '#' and before \":\". This is a pathalogical case that might not occur in any deployed AWS service.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 500,
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "body": "{\n    \"__type\": \"aws.protocoltests.restjson#FooError:http://internal.amazon.com/example/com.amazon.example.validate/\"\n}",
                        "bodyMediaType": "application/json",
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "com.amazonaws.apigateway#GetRestApis": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.apigateway#GetRestApisRequest"
            },
            "output": {
                "target": "com.amazonaws.apigateway#RestApis"
            },
            "errors": [
                {
                    "target": "com.amazonaws.apigateway#BadRequestException"
                },
                {
                    "target": "com.amazonaws.apigateway#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.apigateway#UnauthorizedException"
                }
            ],
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/restapis",
                    "code": 200
                },
                "smithy.api#paginated": {
                    "inputToken": "position",
                    "outputToken": "position",
                    "items": "items",
                    "pageSize": "limit"
                },
                "smithy.api#readonly": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "ApiGatewayAccept",
                        "documentation": "API Gateway requires that this Accept header is set on all requests.",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/restapis",
                        "headers": {
                            "Accept": "application/json"
                        },
                        "body": "",
                        "params": {}
                    }
                ]
            }
        },
        "com.amazonaws.apigateway#GetRestApisRequest": {
            "type": "structure",
            "members": {
                "position": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#httpQuery": "position"
                    }
                },
                "limit": {
                    "target": "com.amazonaws.apigateway#NullableInteger",
                    "traits": {
                        "smithy.api#httpQuery": "limit"
                    }
                }
            }
        },
        "com.amazonaws.glacier#Glacier": {
            "type": "service",
            "traits": {
                "aws.api#service": {
                    "sdkId": "Glacier",
                    "arnNamespace": "glacier",
                    "cloudFormationName": "Glacier",
                    "cloudTrailEventSource": "glacier.amazonaws.com",
                    "endpointPrefix": "glacier"
                },
                "aws.auth#sigv4": {
                    "name": "glacier"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#title": "Amazon Glacier",
                "smithy.api#xmlNamespace": {
                    "uri": "http://glacier.amazonaws.com/doc/2012-06-01/"
                }
            },
            "version": "2012-06-01",
            "operations": [
                {
                    "target": "com.amazonaws.glacier#UploadArchive"
                },
                {
                    "target": "com.amazonaws.glacier#UploadMultipartPart"
                }
            ]
        },
        "aws.protocoltests.shared#GreetingList": {
            "type": "list",
            "member": {
                "target": "aws.protocoltests.shared#GreetingStruct"
            }
        },
        "aws.protocoltests.restjson.nested#GreetingStruct": {
            "type": "structure",
            "members": {
                "salutation": {
                    "target": "smithy.api#String"
                }
            }
        },
        "aws.protocoltests.shared#GreetingStruct": {
            "type": "structure",
            "members": {
                "hi": {
                    "target": "smithy.api#String"
                }
            }
        },
        "aws.protocoltests.restjson#GreetingWithErrors": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "aws.protocoltests.restjson#GreetingWithErrorsOutput"
            },
            "errors": [
                {
                    "target": "aws.protocoltests.restjson#ComplexError"
                },
                {
                    "target": "aws.protocoltests.restjson#FooError"
                },
                {
                    "target": "aws.protocoltests.restjson#InvalidGreeting"
                }
            ],
            "traits": {
                "smithy.api#documentation": "This operation has four possible return values:\n\n1. A successful response in the form of GreetingWithErrorsOutput\n2. An InvalidGreeting error.\n3. A BadRequest error.\n4. A FooError.\n\nImplementations must be able to successfully take a response and\nproperly (de)serialize successful and error responses based on the\nthe presence of the",
                "smithy.api#http": {
                    "uri": "/GreetingWithErrors",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {},
                "smithy.test#httpResponseTests": [
                    {
                        "id": "RestJsonGreetingWithErrors",
                        "documentation": "Ensures that operations with errors successfully know how\nto deserialize a successful response. As of January 2021,\nserver implementations are expected to respond with a\nJSON object regardless of if the output parameters are\nempty.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "body": "{}",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "X-Greeting": "Hello"
                        },
                        "params": {
                            "greeting": "Hello"
                        }
                    },
                    {
                        "id": "RestJsonGreetingWithErrorsNoPayload",
                        "documentation": "This test is similar to RestJsonGreetingWithErrors, but it\nensures that clients can gracefully deal with a server\nomitting a response payload.",
                        "protocol": "aws.protocols#restJson1",
                        "code": 200,
                        "body": "",
                        "headers": {
                            "X-Greeting": "Hello"
                        },
                        "params": {
                            "greeting": "Hello"
                        },
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#GreetingWithErrorsOutput": {
            "type": "structure",
            "members": {
                "greeting": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Greeting"
                    }
                }
            }
        },
        "aws.protocoltests.restjson#HostLabelInput": {
            "type": "structure",
            "members": {
                "label": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#hostLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "aws.protocoltests.restjson#HostWithPathOperation": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/HostWithPathOperation",
                    "method": "GET"
                },
                "smithy.api#readonly": {},
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestJsonHostWithPath",
                        "documentation": "Custom endpoints supplied by users can have paths",
                        "protocol": "aws.protocols#restJson1",
                        "method": "GET",
                        "uri": "/custom/HostWithPathOperation",
                        "body": "",
                        "host": "example.com/custom",
                        "appliesTo": "client"
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#HttpChecksumRequired": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restjson#HttpChecksumRequiredInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restjson#HttpChecksumRequiredInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "This example tests httpChecksumRequired trait",
                "smithy.api#http": {
                    "uri": "/HttpChecksumRequired",
                    "method": "POST"
                },
                "smithy.api#httpChecksumRequired": {},
                "smithy.api#suppress": [
                    "UnstableTrait"
                ],
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestJsonHttpChecksumRequired",
                        "documentation": "Adds Content-MD5 header",
                        "protocol": "aws.protocols#restJson1",
                        "method": "POST",
                        "uri": "/HttpChecksumRequired",
                        "body": "{\n    \"foo\":\"base64 encoded md5 checksum\"\n}\n",
                        "bodyMediaType": "application/json",
                        "headers": {
                            "Content-Type": "application/json",
                            "Content-MD5": "iB0/3YSo7maijL0IGOgA9g=="
                        },
                        "params": {
                            "foo": "base64 encoded md5 checksum"
                        }
                    }
                ]
            }
        },
        "aws.protocoltests.restjson#HttpChecksumRequiredInputOutput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "smithy.api#String"
                }
            }
        },
        "aws.protocoltests.shared#HttpDate": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "http-date"
            }
        },
        "aws.protocoltests.restjson#HttpEnumPayload": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restjson#EnumPayloadInput"
            },
            "output": {
                "target": "aws.protocoltests.restjson#EnumPayloadInput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/EnumPayload",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "EnumPayloadRequest",
                        "uri": "/EnumPayload",
                        "body": "enumvalue",
                        "params": {
                            "payload": "enumvalue"
                        },
                        "method": "POST",
                        "protocol": "aws.protocols#restJson1"
                    }
                ],
                "smithy.test#httpResponseTests": [
                    {
                        "id": "EnumPayloadResponse",
                        "body": "enumvalue",
                        "params": {
                            "payload": "enumvalue"
                        },
                        "protocol": "aws.protocols#restJson1",
                        "code": 200
                    }
                ]
            }
        },
        "smithy.test#HttpMalformedRequestDefinition": {
            "type": "structure",
            "members": {
                "method": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The HTTP request method.",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The request-target of the HTTP request, not including\nthe query string (for example, \"/foo/bar\").",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "host": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The host / endpoint provided to the client, not including the path\nor scheme (for example, \"example.com\")."
                    }
                },
                "queryParams": {
                    "target": "smithy.test#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of the serialized query string parameters to include in the request.\n\nEach element in the list is a query string key value pair\nthat starts with the query string parameter name optionally\nfollowed by \"=\", optionally followed by the query string\nparameter value. For example, \"foo=bar\", \"foo=\", and \"foo\"\nare all valid values. The query string parameter name and\nthe value MUST appear in the format in which it is expected\nto be sent over the wire; if a key or value needs to be\npercent-encoded, then it MUST appear percent-encoded in this list."
                    }
                },
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "Defines a map of HTTP headers to include in the request"
                    }
                },
                "body": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The HTTP message body to include in the request"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedRequestTestCase": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The identifier of the test case. This identifier can be used by\nprotocol test implementations to filter out unsupported test\ncases by ID, to generate test case names, etc. The provided `id`\nMUST match Smithy's `identifier` ABNF. No two `httpMalformedRequestTests`\ntest cases can share the same ID.",
                        "smithy.api#pattern": "^[A-Za-z_][A-Za-z0-9_]+$",
                        "smithy.api#required": {}
                    }
                },
                "protocol": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the protocol to test.",
                        "smithy.api#idRef": {
                            "selector": "[trait|protocolDefinition]",
                            "failWhenMissing": true
                        },
                        "smithy.api#required": {}
                    }
                },
                "request": {
                    "target": "smithy.test#HttpMalformedRequestDefinition",
                    "traits": {
                        "smithy.api#documentation": "The malformed request to send.",
                        "smithy.api#required": {}
                    }
                },
                "response": {
                    "target": "smithy.test#HttpMalformedResponseDefinition",
                    "traits": {
                        "smithy.api#documentation": "The expected response.",
                        "smithy.api#required": {}
                    }
                },
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A description of the test and what is being asserted."
                    }
                },
                "tags": {
                    "target": "smithy.test#NonEmptyStringList",
                    "traits": {
                        "smithy.api#documentation": "Applies a list of tags to the test."
                    }
                },
                "testParameters": {
                    "target": "smithy.test#HttpMalformedRequestTestParametersDefinition",
                    "traits": {
                        "smithy.api#documentation": "An optional set of test parameters for parameterized testing."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedRequestTestParametersDefinition": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.test#StringList"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseBodyAssertion": {
            "type": "union",
            "members": {
                "contents": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines the expected serialized response body, which will be matched\nexactly."
                    }
                },
                "messageRegex": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A regex to evaluate against the `message` field in the body. For\nresponses that may have some variance from platform to platform,\nsuch as those that include messages from a parser."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseBodyDefinition": {
            "type": "structure",
            "members": {
                "assertion": {
                    "target": "smithy.test#HttpMalformedResponseBodyAssertion",
                    "traits": {
                        "smithy.api#documentation": "The assertion to execute against the response body.",
                        "smithy.api#required": {}
                    }
                },
                "mediaType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The media type of the response body.\n\nThis is used to help test runners to parse and evaluate\n`contents' and `messageRegex` in the assertion",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "smithy.test#HttpMalformedResponseDefinition": {
            "type": "structure",
            "members": {
                "headers": {
                    "target": "smithy.test#StringMap",
                    "traits": {
                        "smithy.api#documentation": "Defines a map of expected HTTP headers.\n\nHeaders that are not listed in this map are ignored."
                    }
                },
                "code": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Defines the HTTP response code.",
                        "smithy.api#range": {
                            "min": 100,
                            "max": 599
                        },
                        "smithy.api#required": {}
                    }
                },
                "body": {
                    "target": "smithy.test#HttpMalformedResponseBodyDefinition",
                    "traits": {
                        "smithy.api#documentation": "The expected response body."
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.protocoltests.restjson#HttpPayloadTraits": {
            "type": "operation",
            "input": {
                "target": "aws.protocoltests.restjson#HttpPayloadTraitsInputOutput"
            },
            "output": {
                "target": "aws.protocoltests.restjson#HttpPayloadTraitsInputOutput"
            },
            "traits": {
                "smithy.api#documentation": "This examples serializes a blob shape in the payload.\n\nIn this example, no JSON document is synthesized because the payload is\nnot a structure or a union type.",
                "smithy.api#http": {
                    "uri": "/HttpPayloadTraits",
                    "method": "POST"
                },
                "smithy.test#httpRequestTests": [
                    {
                        "id": "RestJsonHttpPayloadTraitsWithBlob",
                        "documentation": "Serializes a blob in the HTTP payload",
                        "protocol": "aws.protocols#restJson1",
                        "method": "POST",
                        "uri": "/HttpPayloadTraits",
                        "body": "blobby blob blob",
                        "bodyMediaType": "application/octet-stream",
                        "headers": {
                            "Content-Type": "application/octet-stream",
                            "X-Foo": "Foo"
                        },
                        "requireHeaders": [
                            "Content-Length"
                        ],
                        "params": {
                            "foo": "Foo",
                            "blob": "blobby blob blob"
                        }
                    },
                    {
                        "id": "RestJsonHttpPayloadTraitsWithNoBlobBody",
                        "documentation": "Serializes an empty blob in the HTTP payload",
                        "protocol": "aws.protocols#restJson1",
                        "method": "POST",
                        "uri": "/HttpPayloadTraits",
                        "body": "",
                        "bodyMediaType": "application/octet-stream",
                        "headers": {
                            "X-Foo": "Foo"
                        },
                        "params": {
                            "foo": "Foo"
                        }
                    },
                    {
                        "id": "RestJsonHttpPayloadTraitsWithBlobAcceptsAllContentTypes",
[...]
