name: amplify_storage_s3_android
description: The method channel implementation for amplify_storage_s3 on Android
version: 0.4.5
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/storage/amplify_storage_s3_android

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_storage_s3
        pluginClass: StorageS3
