name: amplify_api_plugin_interface
description: The Amplify Flutter API category plugin interface.
version: 0.1.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_api_plugin_interface

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter
  amplify_core: 0.1.0
  meta: ^1.1.8
  uuid: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
