name: amplify_api_plugin_interface
description: The platform interface for the API module of Amplify Flutter.
version: 0.3.0-rc.2
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_api_plugin_interface

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  amplify_core: 0.3.0-rc.2
  collection: ^1.15.0
  flutter:
    sdk: flutter
  meta: ^1.3.0

  # TODO: Datastore dependencies temporarily added in API. Eventually they should be moved to core or otherwise reconciled to avoid duplication.
  amplify_datastore_plugin_interface: 0.2.4

dev_dependencies:
  amplify_lints: ^1.0.0
  amplify_test: any
  flutter_test:
    sdk: flutter
