name: amplify_analytics_pinpoint_android
description: The method channel implementation for amplify_analytics_pinpoint on Android
version: 0.5.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/analytics/amplify_analytics_pinpoint_android

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  amplify_lints: ^2.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_analytics_pinpoint
        pluginClass: AnalyticsPinpoint
      
