name: amplify_auth_cognito
description: The Amplify Flutter Auth category plugin using the AWS Cognito provider.
version: 0.5.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/auth/amplify_auth_cognito

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  amplify_auth_cognito_android: 0.5.0
  amplify_auth_cognito_ios: 0.5.0
  amplify_auth_plugin_interface: 0.5.0
  amplify_core: 0.5.0
  aws_common: ^0.1.0
  aws_signature_v4: ^0.1.0
  built_collection: ^5.0.0
  built_value: ^8.0.0
  collection: ^1.15.0
  convert: ^3.0.0
  crypto: ^3.0.0
  flutter:
    sdk: flutter
  http: ^0.13.4
  json_annotation: ^4.5.0
  meta: ^1.7.0
  oauth2: ^2.0.0
  plugin_platform_interface: ^2.0.0

dev_dependencies:
  amplify_lints:
    path: ../../amplify_lints
  build_runner: ^2.0.0
  build_verify: ^3.0.0
  built_value_generator: '>=8.3.0 <8.4.0'
  flutter_test:
    sdk: flutter
  json_serializable: ^6.2.0
  test: any

flutter:
  plugin:
    platforms:
      android:
        default_package: amplify_auth_cognito_android
      ios:
        default_package: amplify_auth_cognito_ios
