name: amplify_auth_cognito
description: The Amplify Flutter Auth category plugin using the AWS Cognito provider.
version: 0.5.1
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  amplify_auth_cognito_android: 0.5.1
  amplify_auth_cognito_ios: 0.5.1
  amplify_auth_plugin_interface: 0.5.1
  amplify_core: 0.5.1
  collection: ^1.15.0
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.0

dev_dependencies:
  amplify_lints: ^1.0.0
  amplify_test:
    path: ../../amplify_test
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        default_package: amplify_auth_cognito_android
      ios:
        default_package: amplify_auth_cognito_ios
