name: amplify_flutter_ios
description: The method channel implementation for amplify_flutter on iOS
version: 0.4.5
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify/amplify_flutter_ios

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  amplify_core: 0.4.5
  flutter:
    sdk: flutter

dev_dependencies:
  amplify_lints: ^1.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: Amplify
