name: amplify_analytics_pinpoint
description: The Amplify Flutter Analytics category plugin using the AWS Pinpoint provider.
version: 0.0.1-dev.3
homepage: https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_analytics_pinpoint

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0"


dependencies:
  flutter:
    sdk: flutter
  amplify_analytics_plugin_interface: ^0.0.1-dev.3
  plugin_platform_interface: ^1.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  amplify_core: ^0.0.1-dev.3

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_analytics_pinpoint
        pluginClass: AmplifyAnalyticsPinpointPlugin
      ios:
        pluginClass: AmplifyAnalyticsPinpointPlugin
