name: amplify_analytics_plugin_interface
description: The platform interface for the analytics module of Amplify Flutter.
version: 0.2.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_analytics_plugin_interface

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.1.8
  amplify_core: 0.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
