name: amplify_secure_storage
description: A package for storing secrets, intended for use in Amplify libraries.
version: 0.1.4+1
homepage: https://github.com/aws-amplify/amplify-flutter/tree/next
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/secure_storage/amplify_secure_storage
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.19.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  amplify_secure_storage_dart: ">=0.1.4+2 <0.2.0"
  async: ^2.8.0
  file: ^6.0.0
  flutter:
    sdk: flutter
  meta: ^1.7.0
  path: ^1.8.0
  path_provider: ^2.0.0

dev_dependencies:
  amplify_lints:
    path: ../../amplify_lints
  flutter_test:
    sdk: flutter
  pigeon: ^3.1.6

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_secure_storage.amplify_secure_storage
        pluginClass: AmplifySecureStoragePlugin
      ios:
        pluginClass: AmplifySecureStoragePlugin
      macos:
        pluginClass: AmplifySecureStoragePlugin
      windows:
        default_package: amplify_secure_storage_dart
      linux:
        default_package: amplify_secure_storage_dart
      web:
        default_package: amplify_secure_storage_dart
