name: amplify_flutter
description: The top level Flutter package for the AWS Amplify libraries.
version: 1.0.0-next.0+5
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/amplify/amplify_flutter
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

# Helps `pana` since we do not use Flutter plugins for most platforms
platforms:
  ios:
  android:
  macos:
  windows:
  linux:
  web:

dependencies:
  amplify_core: ">=1.0.0-next.0+3 <1.0.0-next.1"
  amplify_datastore_plugin_interface: ">=1.0.0-next.0+2 <1.0.0-next.1"
  amplify_flutter_android: ">=1.0.0-next.0 <1.0.0-next.1"
  amplify_flutter_ios: ">=1.0.0-next.0+2 <1.0.0-next.1"
  amplify_secure_storage: ">=0.1.3 <0.2.0"
  aws_common: ">=0.3.0 <0.4.0"
  collection: ^1.15.0
  flutter:
    sdk: flutter
  meta: ^1.7.0
  plugin_platform_interface: ^2.0.0

dev_dependencies:
  amplify_analytics_pinpoint: 1.0.0-next.0
  amplify_api: 1.0.0-next.0
  amplify_auth_cognito: 1.0.0-next.0
  amplify_datastore: 1.0.0-next.0
  amplify_lints: ^2.0.0
  amplify_storage_s3: 1.0.0-next.0
  amplify_test:
    path: ../../amplify_test
  build_runner: ^2.0.0
  flutter_test:
    sdk: flutter
  json_serializable: 6.5.4

flutter:
  plugin:
    platforms:
      android:
        default_package: amplify_flutter_android
      ios:
        default_package: amplify_flutter_ios
