name: amplify_flutter
description: The top level Flutter package for the AWS Amplify libraries.
version: 1.2.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify/amplify_flutter
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.0.0
  flutter: ">=3.10.0"

# Helps `pana` since we do not use Flutter plugins for most platforms
platforms:
  ios:
  android:
  macos:
  windows:
  linux:
  web:

dependencies:
  amplify_core: ">=1.2.0 <1.3.0"
  amplify_secure_storage: ">=0.4.0+1 <0.5.0"
  aws_common: ">=0.5.0+2 <0.6.0"
  collection: ^1.15.0
  flutter:
    sdk: flutter
  meta: ^1.7.0

dev_dependencies:
  amplify_lints: ">=3.0.0 <3.1.0"
  amplify_test:
    path: ../../test/amplify_test
  build_runner: ^2.4.0
  flutter_test:
    sdk: flutter
  json_serializable: 6.7.0
