name: amplify_flutter
description: The top level Flutter package for the AWS Amplify libraries.
version: 0.4.5
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify/amplify_flutter

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  amplify_analytics_plugin_interface: 0.4.5
  amplify_api_plugin_interface: 0.4.5
  amplify_core: 0.4.5
  amplify_datastore_plugin_interface: 0.4.5
  amplify_flutter_android: 0.4.5
  amplify_flutter_ios: 0.4.5
  amplify_storage_plugin_interface: 0.4.5
  collection: ^1.15.0
  flutter:
    sdk: flutter
  meta: ^1.7.0
  plugin_platform_interface: ^2.0.0

## Uncomment to run `flutter pub run build_runner` (cannot use Melos).
# dependency_overrides:
#   amplify_analytics_pinpoint:
#     path: ../amplify_analytics_pinpoint
#   amplify_analytics_plugin_interface:
#     path: ../amplify_analytics_plugin_interface
#   amplify_api:
#     path: ../amplify_api
#   amplify_api_plugin_interface:
#     path: ../amplify_api_plugin_interface
#   amplify_auth_cognito:
#     path: ../amplify_auth_cognito
#   amplify_auth_plugin_interface:
#     path: ../amplify_auth_plugin_interface
#   amplify_core:
#     path: ../amplify_core
#   amplify_datastore:
#     path: ../amplify_datastore
#   amplify_datastore_plugin_interface:
#     path: ../amplify_datastore_plugin_interface
#   amplify_storage_plugin_interface:
#     path: ../amplify_storage_plugin_interface
#   amplify_storage_s3:
#     path: ../amplify_storage_s3

dev_dependencies:
  amplify_analytics_pinpoint: 0.4.3
  amplify_api: 0.4.3
  amplify_auth_cognito: 0.4.3
  amplify_datastore: 0.4.3
  amplify_lints: ^1.0.0
  amplify_storage_s3: 0.4.3
  amplify_test:
    path: ../../amplify_test
  build_runner: ^2.0.0
  flutter_test:
    sdk: flutter
  json_serializable: ^6.0.0
  path: any
  test: ^1.17.0

flutter:
  plugin:
    platforms:
      android:
        default_package: amplify_flutter_android
      ios:
        default_package: amplify_flutter_ios
