name: amplify_datastore_plugin_interface
description: The platform interface for the DataStore module of Amplify Flutter.
version: 0.5.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_datastore_plugin_interface

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.3.0
  collection: ^1.15.0
  amplify_core: 0.5.0

dev_dependencies:
  amplify_test:
    path: ../amplify_test
  flutter_test:
    sdk: flutter
