name: amplify_datastore_plugin_interface
description: The platform interface for the DataStore module of Amplify Flutter.
version: 2.8.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_datastore_plugin_interface
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.9.0
  flutter: ">=3.35.0"

dependencies:
  amplify_core: ">=2.8.0 <2.9.0"
  collection: ^1.18.0
  flutter:
    sdk: flutter
  meta: ^1.16.0

dev_dependencies:
  amplify_test:
    path: ../test/amplify_test
  flutter_test:
    sdk: flutter
