name: amplify_datastore_plugin_interface
description: The platform interface for the DataStore module of Amplify Flutter.
version: 0.2.0
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_datastore_plugin_interface

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.3.0
  collection: ^1.15.0
  date_time_format: ^2.0.1
  uuid: ^3.0.1
  amplify_core: 0.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
