name: amplify_datastore_plugin_interface
description: The platform interface for the DataStore module of Amplify Flutter.
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^1.0.1
  meta: ^1.1.8
  collection: ^1.14.13
  date_time_format: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
