name: amplify_authenticator
description: A prebuilt Sign In and Sign Up experience for the Amplify Auth category
version: 2.1.1
homepage: https://ui.docs.amplify.aws/flutter/connected-components/authenticator
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/authenticator/amplify_authenticator
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.3.0
  flutter: ">=3.19.0"

dependencies:
  amplify_auth_cognito: ">=2.3.0 <2.4.0"
  amplify_core: ">=2.3.0 <2.4.0"
  amplify_flutter: ">=2.3.0 <2.4.0"
  async: ^2.10.0
  aws_common: ">=0.7.1 <0.8.0"
  collection: ^1.15.0
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ">=0.18.0 <1.0.0"
  meta: ^1.7.0
  # TODO(equartey): Remove this once we have our own method of getting the app name
  package_info_plus: ^6.0.0
  qr_flutter: 4.1.0
  smithy: ">=0.7.1 <0.8.0"
  stream_transform: ^2.0.0
  url_launcher: ^6.1.11

dev_dependencies:
  amplify_authenticator_test:
    path: ../amplify_authenticator_test
  amplify_integration_test:
    path: ../../test/amplify_integration_test
  amplify_lints: ">=3.1.0 <3.2.0"
  build_runner: ^2.4.0
  build_version: ^2.1.1
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.15.0
  mocktail: ^1.0.0
  path: any

flutter:
  assets:
    - assets/social-buttons/google.png

  fonts:
    - family: SocialIcons
      fonts:
        - asset: assets/social-buttons/SocialIcons.ttf
