name: aws_signature_v4
description: Dart implementation of the AWS Signature Version 4 algorithm, for communication with AWS services.
version: 0.4.0+2
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/aws_signature_v4
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.0.0

dependencies:
  async: ^2.10.0
  aws_common: ">=0.5.0+2 <0.6.0"
  collection: ^1.15.0
  convert: ^3.0.0
  crypto: ^3.0.0
  json_annotation: ">=4.8.1 <4.9.0"
  meta: ^1.7.0
  path: ^1.8.0

dev_dependencies:
  amplify_lints: ">=3.0.0 <3.1.0"
  args: ^2.2.0
  build_runner: ^2.4.0
  build_test: ^2.1.5
  build_verify: ^3.0.0
  build_version: ^2.1.1
  build_web_compilers: ^4.0.0
  json_serializable: 6.7.0
  stream_channel: ^2.1.0
  test: ^1.22.1

false_secrets:
  - test/**
