name: aws_signature_v4
description: Dart implementation of the AWS Signature Version 4 algorithm, for communication with AWS services.
version: 0.6.9
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/aws_signature_v4
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.9.0

dependencies:
  async: ^2.10.0
  aws_common: ">=0.7.11 <0.8.0"
  collection: ^1.18.0
  convert: ^3.0.1
  crypto: ^3.0.1
  json_annotation: ^4.9.0
  meta: ^1.16.0
  path: ^1.8.0

dev_dependencies:
  amplify_lints: ">=3.1.4 <3.2.0"
  args: ^2.5.0
  build_runner: ^2.4.9
  build_test: ^3.1.1
  build_verify: ^3.0.0
  build_version: ^2.1.1
  build_web_compilers: ^4.0.0
  json_serializable: ^6.9.4
  stream_channel: ^2.1.0
  test: ^1.22.1

false_secrets:
  - test/**
