name: aws_signature_v4
description: Dart implementation of the AWS Signature Version 4 algorithm, for communication with AWS services.
version: 0.3.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/aws_signature_v4
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  async: ^2.8.0
  aws_common: ">=0.3.0 <0.4.0"
  collection: ^1.15.0
  convert: ^3.0.0
  crypto: ^3.0.0
  json_annotation: ^4.7.0
  meta: ^1.7.0
  path: ^1.8.0

dev_dependencies:
  amplify_lints:
    path: ../amplify_lints
  args: ^2.2.0
  build_runner: ^2.0.0
  build_test: ^2.1.5
  build_verify: 3.0.0
  build_version: 2.1.1
  build_web_compilers: ^3.2.0
  json_serializable: 6.5.4
  stream_channel: ^2.1.0
  test: ^1.16.0

false_secrets:
  - test/**
