name: amplify_api
description: The Amplify Flutter API category plugin, supporting GraphQL and REST operations.
version: 1.0.0-next.0+3
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/api/amplify_api
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues
publish_to: none # until finalized

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  amplify_api_android: ">=1.0.0-next.0 <1.0.0-next.1"
  amplify_api_ios: ">=1.0.0-next.0 <1.0.0-next.1"
  amplify_core: ">=1.0.0-next.0+1 <1.0.0-next.1"
  amplify_flutter: ">=1.0.0-next.0+2 <1.0.0-next.1"
  async: ^2.8.2
  aws_common: ">=0.2.3 <0.3.0"
  collection: ^1.15.0
  flutter:
    sdk: flutter
  http: ^0.13.4
  json_annotation: ^4.6.0
  meta: ^1.7.0
  plugin_platform_interface: ^2.0.0
  web_socket_channel: ^2.2.0


dev_dependencies:
  amplify_lints: 
    path: ../../amplify_lints
  amplify_test:
    path: ../../amplify_test
  aws_signature_v4: ^0.1.0 
  build_runner: ^2.0.0
  connectivity_plus_platform_interface: ^1.2.0
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
  pigeon: ^3.1.6
  stream_channel: ^2.1.0

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        default_package: amplify_api_android
      ios:
        default_package: amplify_api_ios
