name: amplify_api
description: The Amplify Flutter API category plugin, supporting GraphQL and REST operations.
version: 2.7.1
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/api/amplify_api
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.9.0
  flutter: ">=3.35.0"

# Helps `pana` since we do not use Flutter plugins for most platforms
platforms:
  ios:
  android:
  macos:
  windows:
  linux:
  web:

dependencies:
  amplify_api_dart: ">=0.5.12 <0.6.0"
  amplify_core: ">=2.7.0 <2.8.0"
  amplify_flutter: ">=2.7.0 <2.8.0"
  connectivity_plus: ^7.0.0
  flutter:
    sdk: flutter
  meta: ^1.16.0
  plugin_platform_interface: ^2.0.0

dev_dependencies:
  amplify_lints: ">=3.1.4 <3.2.0"
  amplify_test:
    path: ../../test/amplify_test
  build_runner: ^2.4.9
  connectivity_plus_platform_interface: ^2.0.1
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.0
