name: amplify_push_notifications
description: The Amplify Flutter Push Notifications package implementing features agnostic of an AWS Service such as Pinpoint.
version: 2.3.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.3.0
  flutter: ">=3.19.0"

dependencies:
  amplify_core: ">=2.3.0 <2.4.0"
  amplify_secure_storage: ">=0.5.4 <0.6.0"
  async: ^2.10.0
  flutter:
    sdk: flutter
  flutter_plugin_android_lifecycle: ^2.0.9
  os_detect: ^2.0.0
  shared_preferences: ^2.0.15

dev_dependencies:
  amplify_lints: ">=3.1.0 <3.2.0"
  amplify_secure_storage_dart: ">=0.5.1 <0.6.0"
  amplify_test:
    path: ../../../test/amplify_test
  aws_signature_v4: ">=0.6.1 <0.7.0"
  build_runner: ^2.4.0
  build_test: ^2.1.5
  flutter_test:
    sdk: flutter
  mockito: ^5.0.0
  pigeon: ^11.0.0
  test: ^1.22.1

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_push_notifications
        pluginClass: AmplifyPushNotificationsPlugin
      ios:
        pluginClass: AmplifyPushNotificationsPlugin
