name: amplify_datastore
description: The Amplify Flutter DataStore category plugin, providing a queryable, on-device data store.
version: 1.0.0-next.0+1
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/datastore/amplify_datastore
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  amplify_core: ">=1.0.0-next.0+1 <1.0.0-next.1"
  amplify_datastore_dart: ^0.1.0
  plugin_platform_interface: ^2.0.0
  meta: ^1.7.0
  collection: ^1.14.13
  async: ^2.8.0

dev_dependencies:
  amplify_test:
    path: ../../amplify_test
  flutter_test:
    sdk: flutter
  fake_async: ^1.2.0

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_datastore
        pluginClass: AmplifyDataStorePlugin
      ios:
        pluginClass: AmplifyDataStorePlugin
