name: actions
on:
  push:
    branches:
      - main
      - stable
      - next
    paths:
      - "actions/**/*.dart"
      - "actions/**/*.yaml"
      - "actions/**/*.json"
  pull_request:
    paths:
      - "actions/**/*.dart"
      - "actions/**/*.yaml"
      - "actions/**/*.json"
  schedule:
    - cron: "0 0 * * 0" # Every Sunday at 00:00
defaults:
  run:
    shell: bash
permissions: read-all

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # 3.6.0

      - name: Setup Dart
        uses: dart-lang/setup-dart@e58aeb62aef51dcc4d0ba8eada7c08092aad5314 # main
        with:
          sdk: 3.2.0-150.0.dev

      - name: Setup pnpm
        uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # 2.4.0
        with:
          version: 8

      - name: Get Packages
        working-directory: actions
        run: dart pub get

      - name: Build Actions
        working-directory: actions
        run: dart tool/build.dart

  test_runner:
    name: Test Runner
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # 3.5.3

      - name: Setup Dart
        uses: dart-lang/setup-dart@e58aeb62aef51dcc4d0ba8eada7c08092aad5314 # main
        with:
          sdk: 3.2.0-150.0.dev

      - name: Get Packages
        working-directory: actions
        run: dart pub get

      - name: Test
        working-directory: actions
        run: dart --enable-experiment=inline-class test -p node

  test_setup_chromedriver:
    name: Test Action (setup_chromedriver)
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Git Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # 3.5.3

      - name: Test
        uses: ./.github/composite_actions/setup_chromedriver

  test_launch_ios_simulator:
    name: Test Action (launch_ios_simulator)
    # It is recommended that all actions requiring a simulator be run on XL runners
    # since the process of installing new runtimes and building with Xcode can be
    # incredibly slow otherwise.
    runs-on: macos-latest-xl
    # Timeout as a stop-gap for further investigating. This action should never need more
    # than 20 minutes to do its work.
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        ios-version:
          - "14.5"
          - "16"
    steps:
      - name: Git Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # 3.6.0

      - name: Launch Simulator (iOS ${{ matrix.ios-version }})
        uses: ./.github/composite_actions/launch_ios_simulator
        with:
          ios-version: ${{ matrix.ios-version }}

  test_launch_android_emulator:
    name: Test Action (launch_android_emulator)
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # 3.5.3

      - uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # 3.12.0
        with:
          distribution: "corretto" # Amazon Corretto Build of OpenJDK
          java-version: "11"

      - name: Test
        timeout-minutes: 10
        uses: ./.github/composite_actions/launch_android_emulator
        with:
          script: echo "Success!"
