name: aft
on:
  push:
    branches:
      - main
      - stable
      - next
    paths:
      - "packages/aft/**/*.dart"
  pull_request:
    paths:
      - "packages/aft/**/*.dart"
  schedule:
    - cron: "0 0 * * 0" # Every Sunday at 00:00
defaults:
  run:
    shell: bash
permissions: read-all

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # 3.5.3
        with:
          submodules: true

      # Needed for `git` but only ever used locally.
      - name: Git Config
        run: |
          git config --global user.email "amplify-flutter@amazon.com"
          git config --global user.name "Amplify Flutter"

      - name: Setup Dart
        uses: dart-lang/setup-dart@007c7cbb377cdbdf8922e2f8c4172dc60fbaaf9a # main
        with:
          sdk: stable

      - name: Get Packages
        working-directory: packages/aft
        run: |
          # Patch libgit2dart (see https://github.com/dart-lang/pub/issues/3563)
          ( cd external/libgit2dart; git apply ../libgit2dart.patch )
          dart pub upgrade
          mkdir linux
          cp external/libgit2dart/linux/*.so linux

      - name: Save Repo State
        working-directory: packages/aft
        run: |
          dart pub get
          dart bin/aft.dart save-repo-state

      - name: Run Tests
        working-directory: packages/aft
        run: dart test
