name: amplify_authenticator
on:
  push:
    branches:
      - main
      - stable
  pull_request:
    paths:
      - 'packages/amplify_authenticator/**/*.dart'
      - 'packages/amplify_authenticator/**/*.yaml'
      - 'packages/amplify_authenticator/lib/**/*'
      - 'packages/amplify_authenticator/test/**/*'
      - '.github/workflows/flutter_vm.yaml'
      - '.github/workflows/amplify_authenticator.yaml'
  schedule:
    - cron: "0 0 * * 0" # Every Sunday at 00:00
defaults:
  run:
    shell: bash
permissions: read-all

jobs:
  test:
    uses: ./.github/workflows/flutter_vm.yaml
    with:
      working-directory: packages/amplify_authenticator
