name: Amplify Integration Tests
on:
  push:
    branches: [main, next, stable, feat/**]
  schedule:
    # 6am pacific time daily, only runs on default branch
    - cron:  '0 13 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  android:
    runs-on: macos-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        scope:
          - "amplify_api_example"
          - "amplify_auth_cognito_example"
          - "amplify_datastore_example"
          # TODO(ragingsquirrel3): figure out why this times out
          # - "amplify_storage_s3_example"
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # 3.1.0
        with:
          persist-credentials: false

      # Flutter requires Java 11 to build android apps with Gradle.
      - uses: actions/setup-java@de1bb2b0c5634f0fc4438d7aa9944e68f9bf86cc # 3.6.0
        with:
          distribution: 'corretto' # Amazon Corretto Build of OpenJDK
          java-version: '11'
      
      - name: Install dependencies
        uses: ./.github/composite_actions/install_dependencies

      - name: Fetch Amplify backend configurations
        uses: ./.github/composite_actions/fetch_backends
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}
          scope: ${{ matrix.scope }}
          secret-identifier: ${{ secrets.AWS_SECRET_IDENTIFIER }}

      - name: Run Android integration tests
        uses: reactivecircus/android-emulator-runner@50986b1464923454c95e261820bc626f38490ec0 # 2.27.0
        timeout-minutes: 45
        with:
          # API levels 30+ too slow https://github.com/ReactiveCircus/android-emulator-runner/issues/222
          api-level: 29
          script: melos exec -c 1 --scope ${{ matrix.scope }} -- small=true \$MELOS_ROOT_PATH/build-support/integ_test.sh -d emulator-5554  --retries 1

  ios:
    runs-on: macos-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        scope:
          - "amplify_api_example"
          - "amplify_auth_cognito_example"
          - "amplify_datastore_example"
          - "amplify_storage_s3_example"
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # 3.1.0
        with:
          persist-credentials: false
      
      - name: Install dependencies
        uses: ./.github/composite_actions/install_dependencies

      - name: Boot iOS Simulator
        run: |
          xcrun simctl boot "iPhone 13"

      - name: Fetch Amplify backend configurations
        uses: ./.github/composite_actions/fetch_backends
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}
          scope: ${{ matrix.scope }}
          secret-identifier: ${{ secrets.AWS_SECRET_IDENTIFIER }}

      - name: Run integration tests
        run: |
          melos exec -c 1 --scope ${{ matrix.scope }} -- small=true \$MELOS_ROOT_PATH/build-support/integ_test_ios.sh  --retries 1

  web:
    runs-on: ubuntu-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        scope:
          - "amplify_auth_cognito_example"
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # 3.1.0
        with:
          persist-credentials: false
      
      - name: Install dependencies
        uses: ./.github/composite_actions/install_dependencies

      - name: Fetch Amplify backend configurations
        uses: ./.github/composite_actions/fetch_backends
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}
          scope: ${{ matrix.scope }}
          secret-identifier: ${{ secrets.AWS_SECRET_IDENTIFIER }}

      - uses: nanasess/setup-chromedriver@7cbd35794f8ab317f778c3172fb86c1e9b2853f7 # 1.1.0

      - name: Run integration tests
        run: |
          chromedriver --port=4444 &
          melos exec -c 1 --scope ${{ matrix.scope }} -- flutter drive --driver=test_driver/integration_test.dart --target=integration_test/main_test.dart -d web-server

  macos:
    runs-on: macos-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        scope: 
          - "amplify_auth_cognito_example"
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # 3.1.0
        with:
          persist-credentials: false
      
      - name: Install dependencies
        uses: ./.github/composite_actions/install_dependencies

      - name: Fetch Amplify backend configurations
        uses: ./.github/composite_actions/fetch_backends
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}
          scope: ${{ matrix.scope }}
          secret-identifier: ${{ secrets.AWS_SECRET_IDENTIFIER }}

      - name: Run integration tests
        run: |
          flutter config --enable-macos-desktop
          melos exec -c 1 --scope ${{ matrix.scope }} -- \$MELOS_ROOT_PATH/build-support/integ_test.sh -d macos  --retries 1

  linux:
    runs-on: ubuntu-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        scope: 
          - "amplify_auth_cognito_example"
          - "amplify_storage_s3_example"
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # 3.1.0
        with:
          persist-credentials: false
      
      - name: Install dependencies
        uses: ./.github/composite_actions/install_dependencies

      - name: Fetch Amplify backend configurations
        uses: ./.github/composite_actions/fetch_backends
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}
          scope: ${{ matrix.scope }}
          secret-identifier: ${{ secrets.AWS_SECRET_IDENTIFIER }}

      - name: Run integration tests
        run: |
          flutter config --enable-linux-desktop
          melos exec -c 1 --scope ${{ matrix.scope }} -- \$MELOS_ROOT_PATH/build-support/integ_test.sh -d linux --retries 1
