name: custom_actions
on:
  push:
    branches:
      - main
      - stable
      - next
    paths:
      - "actions/**/*.dart"
      - "actions/**/*.yaml"
      - "actions/**/*.json"
  pull_request:
    paths:
      - "actions/**/*.dart"
      - "actions/**/*.yaml"
      - "actions/**/*.json"
  schedule:
    - cron: "0 0 * * 0" # Every Sunday at 00:00
defaults:
  run:
    shell: bash
permissions: read-all

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # 3.5.3

      - name: Setup Dart
        uses: dart-lang/setup-dart@e58aeb62aef51dcc4d0ba8eada7c08092aad5314 # main
        with:
          sdk: 3.2.0-74.0.dev

      - name: Setup pnpm
        uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # 2.4.0
        with:
          version: 8

      - name: Get Packages
        working-directory: actions
        run: dart pub get

      - name: Build Actions
        working-directory: actions
        run: dart tool/build.dart

  test_launch_ios_simulator:
    name: Test Action (launch_ios_simulator)
    # It is recommended that all actions requiring a simulator be run on XL runners
    # since the process of installing new runtimes and building with Xcode can be
    # incredibly slow otherwise.
    runs-on: macos-latest-xl
    # Timeout as a stop-gap for further investigating. This action should never need more
    # than 20 minutes to do its work.
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        ios-version:
          - "14.5"
          - "16"
    steps:
      - name: Git Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # 3.5.3

      - name: Launch Simulator (iOS ${{ matrix.ios-version }})
        uses: ./.github/composite_actions/launch_ios_simulator
        with:
          ios-version: ${{ matrix.ios-version }}
