name: Dart (VM)
on:
  workflow_call:
    inputs:
      working-directory:
        description: The working directory relative to the repo root
        required: true
        type: string

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      # Allows other matrix items to run if one fails
      fail-fast: false
      matrix:
        sdk:
          # Minimum supported Dart version
          # TODO(dnys1): Remove when repo bump to 2.19 happens
          # - 2.19.0
          - stable
          - dev
    steps:
      - name: Cache Pub dependencies
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # 3.0.11
        with:
          path: |
            ~/.pub-cache/hosted
            ~/.pub-cache/git
          key: os:ubuntu-latest;sdk:${{ matrix.sdk }};packages:${{ inputs.working-directory }}
          restore-keys: |
            os:ubuntu-latest;sdk:${{ matrix.sdk }};packages:${{ inputs.working-directory }}
            os:ubuntu-latest;sdk:${{ matrix.sdk }}
            os:ubuntu-latest

      - name: Git Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # 3.1.0

      - name: Git Submodules
        run: git submodule update --init

      - name: Setup Dart
        uses: dart-lang/setup-dart@196f54580e9eee2797c57e85e289339f85e6779d # main
        with:
          sdk: ${{ matrix.sdk }}

      - name: Setup aft
        run: dart pub global activate -spath packages/aft

      - name: Bootstrap
        id: bootstrap
        timeout-minutes: 10
        run: aft bootstrap

      - name: Check Formatting
        if: "always() && steps.bootstrap.conclusion == 'success'"
        run: dart format --set-exit-if-changed .
        working-directory: ${{ inputs.working-directory }}

      - name: Check for Tests
        id: testCheck
        if: "always() && steps.bootstrap.conclusion == 'success'"
        shell: bash # Run in bash regardless of platform
        working-directory: ${{ inputs.working-directory }}
        run: |
          if [ -d test ]; then
            echo "hasTests=true" >> $GITHUB_OUTPUT
            echo "analysisDirs=lib test" >> $GITHUB_OUTPUT
          else
            echo "hasTests=false" >> $GITHUB_OUTPUT
            echo "analysisDirs=lib" >> $GITHUB_OUTPUT
          fi

      - name: Analyze
        if: "always() && steps.bootstrap.conclusion == 'success'"
        run: dart analyze --fatal-infos --fatal-warnings ${{ steps.testCheck.outputs.analysisDirs }}
        working-directory: ${{ inputs.working-directory }}

      - name: Run Tests
        if: "always() && steps.bootstrap.conclusion == 'success' && steps.testCheck.outputs.hasTests == 'true'"
        run: dart test
        working-directory: ${{ inputs.working-directory }}
