name: E2E (Windows)
on:
  workflow_call:
    inputs:
      working-directory:
        description: The working directory relative to the repo root
        required: true
        type: string
      package-name:
        description: The name of the package being tested
        required: true
        type: string
      needs-aws-config:
        description: Whether the E2E workflow needs configuration pulled from AWS
        required: true
        type: boolean
      needs-gen2-config:
        required: true
        description: Whether the E2E workflow needs amplify_outputs from AWS
        type: boolean

jobs:
  e2e-test-windows:
    runs-on: windows-latest
    strategy:
      # Allows other matrix items to run if one fails
      fail-fast: false
      matrix:
        channel:
          - beta
          - stable
        # Skips e2e tests against beta on PRs
        exclude:
          - channel: ${{ (github.event_name == 'pull_request' && 'beta') || 'NONE' }}

    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # 3.5.3
        with:
          persist-credentials: false
          submodules: true

      - name: Change path restrictions
        run: git config --global core.longpaths true

      - name: Install dependencies
        uses: ./.github/composite_actions/install_dependencies
        with:
          channel: ${{ matrix.channel }}

      - name: Pub Upgrade
        run: dart pub global run aft exec --include=${{ inputs.package-name }} -- flutter pub upgrade

      - name: Fetch Amplify backend configurations
        if: inputs.needs-aws-config
        uses: ./.github/composite_actions/fetch_backends
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}
          scope: ${{ inputs.package-name }}
          secret-identifier: ${{ secrets.AWS_SECRET_IDENTIFIER }}
          needs-gen2-config: ${{ inputs.needs-gen2-config }}

      - name: Run integration tests
        timeout-minutes: 60
        run: |
          flutter config --enable-windows-desktop
          dart pub global run aft exec --include=${{ inputs.package-name }} -- flutter test integration_test/main_test.dart -d windows

      - name: Log success/failure
        if: always()
        uses: ./.github/composite_actions/log_cw_metric_wrapper
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

          job-status: ${{ job.status }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

          test-type: e2e
          working-directory: ${{ inputs.working-directory }}

          framework: flutter

          platform: windows
