name: E2E (Android)
on:
  workflow_call:
    inputs:
      working-directory:
        description: The working directory relative to the repo root
        required: true
        type: string
      package-name:
        description: The name of the package being tested
        required: true
        type: string
      needs-aws-config:
        description: Whether the E2E workflow needs configuration pulled from AWS
        required: true
        type: boolean

jobs:
  e2e-test-android:
    runs-on: ubuntu-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        api-level:
          - 24
          - 35
        channel:
          - beta
          - stable
        # Skips e2e tests against beta on PRs
        exclude:
          - channel: ${{ (github.event_name == 'pull_request' && 'beta') || 'NONE' }}

    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # 4.0.0
        with:
          persist-credentials: false
          submodules: true

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # 5.2.0
        with:
          distribution: "corretto" # Amazon Corretto Build of OpenJDK
          java-version: "17"
