name: Flutter Android
on:
  workflow_call:
    inputs:
      # Native code is tested through the example package.
      example-directory:
        description: The example directory, relative to the repo root
        required: true
        type: string
      package-name:
        description: The name of the package being tested
        required: true
        type: string
      has-native-tests:
        description: Whether the package has native Android unit tests
        required: true
        type: boolean

jobs:
  flutter-android-build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      # Allows other matrix items to run if one fails
      fail-fast: false
      matrix:
        channel:
          - stable
          - beta
        # Skips 'beta' tests on PRs
        exclude:
          - channel: ${{ (github.event_name == 'pull_request') && 'beta' || 'NONE' }}
    steps:
      - name: Setup Java
        uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # 3.12.0
        with:
          distribution: "corretto" # Amazon Corretto Build of OpenJDK
          java-version: "17"

      - name: Git Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # 3.6.0

      - name: Git Submodules
        run: git submodule update --init

      - name: Setup Flutter
        uses: subosito/flutter-action@48cafc24713cca54bbe03cdc3a423187d413aafa # 2.10.0
        with:
          cache: true
          channel: ${{ matrix.channel }}

      - name: Setup Java
        uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # 3.12.0
        with:
          distribution: "corretto" # Amazon Corretto Build of OpenJDK
          java-version: "17"

      - name: Setup aft
        run: flutter pub global activate -spath packages/aft

      - name: Bootstrap
        id: bootstrap
        timeout-minutes: 20
        run: aft bootstrap --fail-fast --include=${{ inputs.package-name }}

      - name: Build
        run: flutter build apk --debug --verbose
        working-directory: ${{ inputs.example-directory }}

      - name: Run Android unit tests
        if: inputs.has-native-tests
        run: ./gradlew :"${{ inputs.package-name }}":testDebugUnitTest --stacktrace
        working-directory: ${{ inputs.example-directory }}/android

      - name: Log success/failure
        if: always()
        uses: ./.github/composite_actions/log_cw_metric_wrapper
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

          job-status: ${{ job.status }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

          test-type: unit
          working-directory: ${{ inputs.example-directory }}

          framework: flutter
          flutter-dart-channel: ${{ matrix.channel }}

          platform: android
