name: Flutter (VM)
on:
  workflow_call:
    inputs:
      package-name:
        description: The name of the package being tested
        required: true
        type: string
      working-directory:
        description: The working directory relative to the repo root
        required: true
        type: string
      has-goldens:
        description: The package contains golden tests, save build artifacts on failure
        required: false
        type: boolean

jobs:
  test-flutter-vm:
    # TODO(equartey): Change to `macos-latest` after github migrates their runners - https://github.blog/changelog/2024-01-30-github-actions-macos-14-sonoma-is-now-available/
    runs-on: ${{ inputs.has-goldens && 'macos-14' || 'ubuntu-latest' }}
    timeout-minutes: 60
    strategy:
      # Allows other matrix items to run if one fails
      fail-fast: false
      matrix:
        channel:
          - "beta"
          - "stable"
        flutter-version:
          - "any" # latest
        include:
          - channel: "stable"
            flutter-version: "3.35.0"
        # Skips 'beta' tests on PRs
        exclude:
          - channel: ${{ (github.event_name == 'pull_request') && 'beta' || 'NONE' }}
    steps:
      - name: Check Formatting
        if: "always() && steps.bootstrap.conclusion == 'success' && matrix.channel == 'stable' && matrix.flutter-version == 'any'"
        run: true
        working-directory: ${{ inputs.working-directory }}
