name: Flutter Android
on:
  workflow_call:
    inputs:
      # Native code is tested through the example package.
      #TMP trigger
      example-directory:
        description: The example directory, relative to the repo root
        required: true
        type: string
      package-name:
        description: The name of the package being tested
        required: true
        type: string
      has-native-tests:
        description: Whether the package has native Android unit tests
        required: true
        type: boolean

jobs:
  flutter-android-build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      # Allows other matrix items to run if one fails
      fail-fast: false
      matrix:
        channel:
          - stable
          - beta
        # Skips 'beta' tests on PRs
        exclude:
          - channel: ${{ (github.event_name == 'pull_request') && 'beta' || 'NONE' }}
    steps:
      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches/modules-2
            ~/.gradle/caches/metadata-*
            ~/.gradle/caches/transforms-*
            ~/.gradle/caches/jars-*
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ runner.os }}-

      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # 5.0.0
        with:
          distribution: "corretto" # Amazon Corretto Build of OpenJDK
          java-version: "17"

      - name: Git Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # 4.0.0

      - name: Git Submodules
        run: git submodule update --init

      - name: Setup Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # 2.21.0
        with:
          cache: true
          channel: ${{ matrix.channel }}

      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # 5.0.0
        with:
          distribution: "corretto" # Amazon Corretto Build of OpenJDK
          java-version: "17"

      - name: Setup aft
        run: flutter pub global activate -spath packages/aft

      - name: Bootstrap
        id: bootstrap
        timeout-minutes: 20
        run: aft bootstrap --fail-fast --include=${{ inputs.package-name }}

      - name: Build
        run: flutter build apk --debug --verbose
        working-directory: ${{ inputs.example-directory }}

      - name: Run Android unit tests
        if: inputs.has-native-tests
        run: ./gradlew :"${{ inputs.package-name }}":testDebugUnitTest --stacktrace
        working-directory: ${{ inputs.example-directory }}/android