# Created with package:mono_repo v6.2.2
name: Dart Lint
on:
  push:
    branches:
      - main
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  job_001:
    name: mono_repo self validate
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v3
      - name: mono_repo self validate
        run: dart pub global activate mono_repo 6.2.2
      - name: mono_repo self validate
        run: dart pub global run mono_repo generate --validate
  job_002:
    name: "analyze_and_format; Dart 2.17.0; PKGS: packages/aws_common, packages/aws_signature_v4/example; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:2.17.0;packages:packages/aws_common-packages/aws_signature_v4/example;commands:format-analyze_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:2.17.0;packages:packages/aws_common-packages/aws_signature_v4/example
            os:ubuntu-latest;pub-cache-hosted;sdk:2.17.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: "2.17.0"
      - id: checkout
        uses: actions/checkout@v3
      - id: packages_aws_common_pub_upgrade
        name: packages/aws_common; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/aws_common
        run: dart pub upgrade
      - name: "packages/aws_common; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_aws_common_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_common
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/aws_common; dart analyze --fatal-infos ."
        if: "always() && steps.packages_aws_common_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_common
        run: dart analyze --fatal-infos .
      - id: packages_aws_signature_v4_example_pub_upgrade
        name: packages/aws_signature_v4/example; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/aws_signature_v4/example
        run: dart pub upgrade
      - name: "packages/aws_signature_v4/example; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_aws_signature_v4_example_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4/example
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/aws_signature_v4/example; dart analyze --fatal-infos ."
        if: "always() && steps.packages_aws_signature_v4_example_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4/example
        run: dart analyze --fatal-infos .
  job_003:
    name: "analyze_and_format; Dart 2.17.0; PKG: packages/aws_signature_v4; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos lib test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:2.17.0;packages:packages/aws_signature_v4;commands:format-analyze_2"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:2.17.0;packages:packages/aws_signature_v4
            os:ubuntu-latest;pub-cache-hosted;sdk:2.17.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: "2.17.0"
      - id: checkout
        uses: actions/checkout@v3
      - id: packages_aws_signature_v4_pub_upgrade
        name: packages/aws_signature_v4; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/aws_signature_v4
        run: dart pub upgrade
      - name: "packages/aws_signature_v4; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_aws_signature_v4_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/aws_signature_v4; dart analyze --fatal-infos lib test"
        if: "always() && steps.packages_aws_signature_v4_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4
        run: dart analyze --fatal-infos lib test
  job_004:
    name: "analyze_and_format; Dart dev; PKGS: packages/aws_common, packages/aws_signature_v4/example; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:packages/aws_common-packages/aws_signature_v4/example;commands:format-analyze_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:packages/aws_common-packages/aws_signature_v4/example
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v3
      - id: packages_aws_common_pub_upgrade
        name: packages/aws_common; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/aws_common
        run: dart pub upgrade
      - name: "packages/aws_common; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_aws_common_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_common
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/aws_common; dart analyze --fatal-infos ."
        if: "always() && steps.packages_aws_common_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_common
        run: dart analyze --fatal-infos .
      - id: packages_aws_signature_v4_example_pub_upgrade
        name: packages/aws_signature_v4/example; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/aws_signature_v4/example
        run: dart pub upgrade
      - name: "packages/aws_signature_v4/example; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_aws_signature_v4_example_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4/example
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/aws_signature_v4/example; dart analyze --fatal-infos ."
        if: "always() && steps.packages_aws_signature_v4_example_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4/example
        run: dart analyze --fatal-infos .
  job_005:
    name: "analyze_and_format; Dart dev; PKG: packages/aws_signature_v4; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos lib test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:packages/aws_signature_v4;commands:format-analyze_2"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:packages/aws_signature_v4
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v3
      - id: packages_aws_signature_v4_pub_upgrade
        name: packages/aws_signature_v4; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/aws_signature_v4
        run: dart pub upgrade
      - name: "packages/aws_signature_v4; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_aws_signature_v4_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/aws_signature_v4; dart analyze --fatal-infos lib test"
        if: "always() && steps.packages_aws_signature_v4_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4
        run: dart analyze --fatal-infos lib test
  job_006:
    name: "analyze_and_format; Flutter stable; PKGS: packages/amplify_core, packages/auth/amplify_auth_cognito; `dart format --output=none --set-exit-if-changed .`, `flutter analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:packages/amplify_core-packages/auth/amplify_auth_cognito;commands:format-analyze_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:packages/amplify_core-packages/auth/amplify_auth_cognito
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: subosito/flutter-action@v2.3.0
        with:
          channel: stable
      - id: checkout
        uses: actions/checkout@v3
      - id: packages_amplify_core_pub_upgrade
        name: packages/amplify_core; flutter pub pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/amplify_core
        run: flutter pub pub upgrade
      - name: "packages/amplify_core; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_amplify_core_pub_upgrade.conclusion == 'success'"
        working-directory: packages/amplify_core
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/amplify_core; flutter analyze --fatal-infos ."
        if: "always() && steps.packages_amplify_core_pub_upgrade.conclusion == 'success'"
        working-directory: packages/amplify_core
        run: flutter analyze --fatal-infos .
      - id: packages_auth_amplify_auth_cognito_pub_upgrade
        name: packages/auth/amplify_auth_cognito; flutter pub pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/auth/amplify_auth_cognito
        run: flutter pub pub upgrade
      - name: "packages/auth/amplify_auth_cognito; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_auth_amplify_auth_cognito_pub_upgrade.conclusion == 'success'"
        working-directory: packages/auth/amplify_auth_cognito
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/auth/amplify_auth_cognito; flutter analyze --fatal-infos ."
        if: "always() && steps.packages_auth_amplify_auth_cognito_pub_upgrade.conclusion == 'success'"
        working-directory: packages/auth/amplify_auth_cognito
        run: flutter analyze --fatal-infos .
  job_007:
    name: "analyze_and_format; Dart stable; PKGS: packages/aws_common, packages/aws_signature_v4/example; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:packages/aws_common-packages/aws_signature_v4/example;commands:format-analyze_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:packages/aws_common-packages/aws_signature_v4/example
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v3
      - id: packages_aws_common_pub_upgrade
        name: packages/aws_common; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/aws_common
        run: dart pub upgrade
      - name: "packages/aws_common; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_aws_common_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_common
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/aws_common; dart analyze --fatal-infos ."
        if: "always() && steps.packages_aws_common_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_common
        run: dart analyze --fatal-infos .
      - id: packages_aws_signature_v4_example_pub_upgrade
        name: packages/aws_signature_v4/example; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/aws_signature_v4/example
        run: dart pub upgrade
      - name: "packages/aws_signature_v4/example; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_aws_signature_v4_example_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4/example
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/aws_signature_v4/example; dart analyze --fatal-infos ."
        if: "always() && steps.packages_aws_signature_v4_example_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4/example
        run: dart analyze --fatal-infos .
  job_008:
    name: "analyze_and_format; Dart stable; PKG: packages/aws_signature_v4; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos lib test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:packages/aws_signature_v4;commands:format-analyze_2"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:packages/aws_signature_v4
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v3
      - id: packages_aws_signature_v4_pub_upgrade
        name: packages/aws_signature_v4; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/aws_signature_v4
        run: dart pub upgrade
      - name: "packages/aws_signature_v4; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_aws_signature_v4_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "packages/aws_signature_v4; dart analyze --fatal-infos lib test"
        if: "always() && steps.packages_aws_signature_v4_pub_upgrade.conclusion == 'success'"
        working-directory: packages/aws_signature_v4
        run: dart analyze --fatal-infos lib test
