name: amplify_secure_storage_dart
description: A Dart-only implementation of `amplify_secure_storage`, using `dart:ffi` for Desktop and `dart:html` for Web.
version: 0.4.0+2
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/secure_storage/amplify_secure_storage_dart
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.0.0

# Explicitly declare platform support to help `pana`
platforms:
  web:
  windows:
  macos:
  linux:
  ios:
  # Android is not supported through this package.
  # Use `amplify_secure_storage` instead.
  # android:

dependencies:
  async: ^2.10.0
  aws_common: ">=0.5.0+2 <0.6.0"
  built_collection: ^5.0.0
  built_value: ">=8.6.0 <8.7.0"
  ffi: ^2.0.0
  file: ^6.0.0
  js: ^0.6.4
  meta: ^1.7.0
  path: ^1.8.0
  win32: ">=4.1.2 <6.0.0"
  worker_bee: ">=0.2.0+1 <0.3.0"

dev_dependencies:
  amplify_lints: ">=3.0.0 <3.1.0"
  amplify_secure_storage_test:
    path: ../amplify_secure_storage_test
  build: ^2.3.0
  build_runner: ^2.4.0
  build_web_compilers: ^4.0.0
  built_value_generator: 8.6.1
  ffigen: ^8.0.0
  test: ^1.22.1
  worker_bee_builder: ">=0.2.0+2 <0.3.0"

flutter:
  assets:
    - lib/src/worker/workers.min.js
    - lib/src/worker/workers.min.js.map
