name: amplify_analytics_pinpoint
description: The Amplify Flutter Analytics category plugin using the AWS Pinpoint provider.
version: 1.0.0-next.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/analytics/amplify_analytics_pinpoint
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  amplify_analytics_pinpoint_android: 1.0.0-next.0
  amplify_analytics_pinpoint_ios: 1.0.0-next.0
  amplify_analytics_plugin_interface: 1.0.0-next.0
  amplify_core: 1.0.0-next.0
  aws_common: ^0.2.0
  flutter:
    sdk: flutter
  meta: ^1.7.0

dev_dependencies:
  amplify_lints: ^2.0.0
  amplify_test:
    path: ../../amplify_test
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        default_package: amplify_analytics_pinpoint_android
      ios:
        default_package: amplify_analytics_pinpoint_ios
