name: amplify_analytics_pinpoint
description: The Amplify Flutter Analytics category plugin using the AWS Pinpoint provider.
version: 1.0.0-next.3
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/next/packages/analytics/amplify_analytics_pinpoint
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ">=2.19.0-444 <4.0.0"
  flutter: ">=3.7.0-0"

# Helps `pana` since we do not use Flutter plugins for most platforms
platforms:
  ios:
  android:
  macos:
  windows:
  linux:
  web:

dependencies:
  amplify_analytics_pinpoint_dart: ">=0.1.2+1 <0.2.0"
  amplify_core: ">=1.0.0-next.3 <1.0.0-next.4"
  amplify_db_common: ">=0.1.2+1 <0.2.0"
  amplify_secure_storage: ">=0.1.4+1 <0.2.0"
  aws_common: ">=0.3.5+1 <0.4.0"
  device_info_plus: ^8.0.0
  flutter:
    sdk: flutter
  meta: ^1.7.0
  package_info_plus: ^3.0.2
  path_provider: ^2.0.0

dev_dependencies:
  amplify_lints: ^2.0.0
  flutter_test:
    sdk: flutter
  pigeon: ^4.2.5

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_analytics_pinpoint.amplify_analytics_pinpoint
        pluginClass: AmplifyAnalyticsPinpointPlugin
