name: amplify_analytics_pinpoint
description: The Amplify Flutter Analytics category plugin using the AWS Pinpoint provider.
version: 0.4.5
homepage: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/analytics/amplify_analytics_pinpoint

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  amplify_analytics_plugin_interface: 0.4.5
  amplify_analytics_pinpoint_android: 0.4.5
  amplify_analytics_pinpoint_ios: 0.4.5
  amplify_core: 0.4.5
  flutter:
    sdk: flutter

dev_dependencies:
  amplify_lints: ^1.0.0
  amplify_test:
    path: ../../amplify_test
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        default_package: amplify_analytics_pinpoint_android
      ios:
        default_package: amplify_analytics_pinpoint_ios
