name: amplify_analytics_pinpoint
description: The Amplify Flutter Analytics category plugin using the AWS Pinpoint provider.
version: 2.10.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/analytics/amplify_analytics_pinpoint
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.9.0
  flutter: ">=3.35.0"

# Helps `pana` since we do not use Flutter plugins for most platforms
platforms:
  ios:
  android:
  macos:
  windows:
  linux:
  web:

dependencies:
  amplify_analytics_pinpoint_dart: ">=0.4.13 <0.5.0"
  amplify_core: ">=2.10.0 <2.11.0"
  amplify_db_common: ">=0.4.16 <0.5.0"
  amplify_secure_storage: ">=0.5.15 <0.6.0"
  aws_common: ">=0.7.12 <0.8.0"
  device_info_plus: ^12.0.0

  flutter:
    sdk: flutter
  meta: ^1.16.0
  package_info_plus: ^9.0.0
  path_provider: ^2.0.11

dev_dependencies:
  amplify_lints: ">=3.1.4 <3.2.0"
  flutter_test:
    sdk: flutter
  pigeon: ^26.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_analytics_pinpoint
        pluginClass: AmplifyAnalyticsPinpointPlugin
