name: amplify_analytics_pinpoint
description: The Amplify Flutter Analytics category plugin using the AWS Pinpoint provider.
version: 1.2.0
homepage: https://docs.amplify.aws/lib/q/platform/flutter/
repository: https://github.com/aws-amplify/amplify-flutter/tree/main/packages/analytics/amplify_analytics_pinpoint
issue_tracker: https://github.com/aws-amplify/amplify-flutter/issues

environment:
  sdk: ^3.0.0
  flutter: ">=3.10.0"

# Helps `pana` since we do not use Flutter plugins for most platforms
platforms:
  ios:
  android:
  macos:
  windows:
  linux:
  web:

dependencies:
  amplify_analytics_pinpoint_dart: ">=0.3.0+1 <0.4.0"
  amplify_core: ">=1.2.0 <1.3.0"
  amplify_db_common: ">=0.3.0+1 <0.4.0"
  amplify_secure_storage: ">=0.4.0+1 <0.5.0"
  aws_common: ">=0.5.0+2 <0.6.0"
  device_info_plus: ^9.0.0
  flutter:
    sdk: flutter
  meta: ^1.7.0
  package_info_plus: ^4.0.1
  path_provider: ^2.0.0

dev_dependencies:
  amplify_lints: ">=3.0.0 <3.1.0"
  flutter_test:
    sdk: flutter
  pigeon: ^10.1.2

flutter:
  plugin:
    platforms:
      android:
        package: com.amazonaws.amplify.amplify_analytics_pinpoint
        pluginClass: AmplifyAnalyticsPinpointPlugin
